<div class="mb-32">
  <div class="sticky inset-0 z-[5] bg-white pt-4 pb-2">
    <div class="container">
      @defer (when auction().data) {
      <h1 class="font-lato font-black flex text-2xl md:text-4xl mr-4 mb-2">
        {{auction().data.attributes.title}}
      </h1>
      }
      <!-- <pre class="text-xs">
        {{specificAuction() | json}}
      </pre> -->

      <div class="gap-y-4 flex w-full justify-between">
        <div
          class="grid items-center text-xs md:text-xl gap-3 grid-flow-col lg:grid-cols-3 lg:gap-x-4 md:gap-y-0 w-fit divide-x divide-gray3">
          @if(specificAuction().data) {
          @if (specificAuction().data.status === 'completed') {
          @defer (when specificAuction().data) {
          <h3>
            {{specificAuction().data.winnerInfo.amount| currency:'USD':'symbol':'1.0-2'}} MXN
          </h3>
          }
          }
          @else {
          @if (specificAuction().data.bids.length > 0) {
          <div class="py-1">
            @defer (when specificAuction().data) {
            <p>
              {{specificAuction().data.bids[0].bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
            </p>
            <p class="md:text-sm">
              Oferta más alta
            </p>
            }
          </div>
          }@else {
          <div class="py-1">
            <p>
              {{auction().data.attributes.lastBid| currency:'USD':'symbol':'1.0-2'}} MXN
            </p>
            <p class="md:text-sm">
              Última oferta
            </p>
          </div>
          }

          <div>
            @defer (when auction().data) {
            <h3 class="ml-4">
              {{auction().data.attributes.reserveAmount | currency:'USD':'symbol':'1.0-2'}} MXN
              <p class="md:text-sm">
                Precio de venta
              </p>
            </h3>
            }
          </div>
          }
          }
          @defer (when specificAuction().data) {
          @switch (specificAuction().data.status) {
          @case ('cancelled') {
          <div class="py-1">
            <p class="font-bold ml-4 border border-red-700 bg-[#f0aeae] text-red-700 px-6 py-1 rounded-xl">
              Reserva no alcanzada
            </p>
          </div>
          }
          @case ('completed') {
          <div class="py-1">
            <p class="font-bold ml-4 border border-green-700 bg-[#b6f0ae] text-green-700 px-6 py-1 rounded-2xl w-fit">
              Vendido
            </p>
          </div>
          }
          }
          }
          <div>
            <!-- <div class="hidden md:block py-1 ml-4">
              <p class="inline lg:block text-xl">
                <span class="font-bold">
                  {{specificAuction().data ? specificAuction().data.bids.length : 0}}
                </span>
                Ofertas
              </p>
            </div> -->
          </div>
        </div>
        <div class="flex lg:grid lg:grid-flow-col gap-x-2 md:gap-x-4 items-center md:text-center">
          <button class="hidden md:block ml-auto" (click)="copyUrl()">
            <img class="inline-block w-5 h-5 md:w-7 md:h-7" src="assets/img/icons/share.svg" alt="">
          </button>
          <button (click)="followOrUnfollowAuction(auction().data.attributes.originalAuctionArtId)">
            <shared-star [shouldFill]="isFollowing() ? true : false"
              classes="inline-block w-5 h-5 md:w-7 md:h-7"></shared-star>
          </button>
          @if (auction().data && auction().data.attributes.status === 'active') {
          <div class="col-span-2 md:col-span-1">
            @defer (when specificAuction().data) {
            <div class="flex gap-2">
              <!-- @if (auction().data.attributes.status === 'active') { -->
              <button (click)="openMakeAnOfferModal()" rounded="rounded-xl" px="px-3 md:px-6" py="py-2 md:py-3.5"
                width="w-fit" class="font-lato font-semibold text-xxs md:text-xs" sharedPrimaryButton>
                OFERTAR
              </button>
              <button (click)="openBuyNowModal()" rounded="rounded-xl" px="px-3 md:px-6" py="py-2 md:py-3.5"
                width="w-fit" class="font-lato font-semibold text-xxs md:text-xs" sharedPrimaryButton>
                COMPRAR
              </button>
              <!-- } -->
            </div>
            }
            <!-- <div class="block md:hidden">
                @if (specificAuction().data) {
                <p class="inline lg:block font-bold">
                  {{specificAuction().data.bids.length}}
                </p>
                }
                <span class="text-gray4 text-sm"> Ofertas</span>
              </div> -->
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <two-column-auction-grid>
      <ng-container left>
        <div class="max-w-3xl mx-auto">
          @defer (when imagesPublish().data) {
          <div id="productCarousel" #myCarousel class="f-carousel">
            <div class="f-carousel__slide" [attr.data-thumb-src]="imagesPublish().data.fotoPrincipal"
              data-fancybox="gallery" [attr.data-src]="imagesPublish().data.fotoPrincipal">
              <img #leftColumn class="object-contain mx-auto"
                [attr.data-lazy-src]="imagesPublish().data.fotoPrincipal" />
            </div>
            @for (auction of imagesPublish().data.fotosCarrusel; track $index) {
            <div class="f-carousel__slide" [attr.data-thumb-src]="auction" data-fancybox="gallery"
              [attr.data-src]="auction">
              <img class="object-contain mx-auto absolute" [attr.data-lazy-src]="auction" />
            </div>
            }
          </div>
          }
        </div>
        <!-- @defer (when imagesPublish().data) {
          <div class="f-carousel" id="myCarousel" #myCarousel>
            @for (auction of imagesPublish().data.fotosCarrusel; track $index) {
            <div class="f-carousel__slide" [attr.data-thumb-src]="auction" data-fancybox="gallery"
              [attr.data-src]="auction">
              <img width="100%" height="100" [attr.data-lazy-src]="auction" />
            </div>
            }
          </div>
          } -->

        <section class="flex justify-between mt-4">
          <div class="underline text-xs md:text-base">{{comments().data ? comments().data.length : 0}} comentarios</div>

          @defer (when metrics().data) {
          <div class="text-gray4 text-sm flex space-x-4">
            @if (auction().data.attributes.status !== auctionCarStatus.Preview) {
            <div class="flex items-center">
              <img class="mr-2" src="assets/img/icons/eye-outline.svg">
              {{metrics().data.attributes.visualizations | number}}
            </div>
            }
            <div class="flex items-center">
              <shared-star class="mr-2" classes="text-gray4 w-5 h-5"></shared-star>
              {{metrics().data.attributes.followedCount | number}}
            </div>

            <button class="md:hidden" (click)="copyUrl()">
              <img class="inline-block w-5 h-5" src="assets/img/icons/share.svg" alt="">
            </button>
          </div>
          }
        </section>

        <hr class="my-4">
      </ng-container>
      <ng-container right>
        <div class="h-full">
          <div class="flex flex-col justify-between h-full">
            <!-- information auction -->
            @if (auction().data) {
            <div #rightColumn>
              <auction-details-table-component [auctionDetails]="auctionDetails()"></auction-details-table-component>
            </div>
            }

            <section class="md:hidden shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
              <h3 class="font-semibold mb-2">Información adicional</h3>

              @if (auction().data) {
              <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
                @for (item of auction().data.attributes.carHistory.extraInfo; track $index) {
                @if (item) {
                <li>{{item}}</li>
                }@else {
                <br>
                }
                }
              </ul>

              <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

              <ul class="space-y-1">
                <li>
                  <span class="text-gray4">Lote #:</span>&nbsp;<span
                    class="font-semibold">{{auction().data.attributes.auctionArtForm.lotNumber}}</span>
                </li>
                <li>
                  <span class="text-gray4">Ubicación:</span>&nbsp;<span class="font-semibold">
                    {{auction().data.attributes.auctionArtForm.state}}</span>
                </li>
              </ul>

              <div class="my-4">
                <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
                <span class="align-middle">
                  {{auction().data.attributes.dataUser.username}}
                </span>
              </div>

              <div>
                <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">
                  {{auction().data.attributes.dataUser.sellerType}}
                </span>
              </div>
              }

              <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

              @if (auction().data) {
              <ol class="list-inside list-disc mb-8">
                @for (item of auction().data.attributes.artDetail.additionalCharges; track $index) {
                <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
                }
              </ol>
              }

              <!-- <button class="mt-4" (click)="openMakeAnOfferModal()" classes="font-optima font-semibold" sharedPrimaryButton>
                  HACER UNA OFERTA
                </button> -->
            </section>

            <hr class="my-4">
          </div>
        </div>
      </ng-container>
    </two-column-auction-grid>

    <two-column-auction-grid>
      <ng-container left>
        @defer (when auction().data) {
        <section class="space-y-4">
          @for (item of auction().data.attributes.carHistory.blocks; track $index) {
          @switch (item.type) {
          @case ('text') {
          <p class="text-justify text-sm md:text-lg" style="word-wrap: break-word;">
            {{item.content}}
          </p>
          }

          @case ('image') {
          <img class="w-full" [src]="item.content" alt="">
          }
          }
          }
        </section>
        }

        <!-- @if (this.videos().videos.length > 0) {
        <section>
          <h2 class="text-xl font-bold mt-8 mb-6">Galería de video</h2>
          <swiper-container init="false" #videoGallery>
            @for (video of this.videos().videos; track $index) {
            <swiper-slide class="pb-12">
              <a class="relative" [href]="video.videoUrl" data-fancybox="gallery2" data-type="iframe">
                <img [src]="video.thumbnailUrl" alt="">
                <img src="assets/img/icons/play-circle.svg" alt=""
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16">
              </a>
            </swiper-slide>
            }
          </swiper-container>
        </section>
        } -->

        @defer (when auction().data) {
        <!-- <auction-summary [auction]="auction()" [metrics]="metrics()" [auctionType]="auctionType.art"
            [specificAuction]="specificAuction()" (makeAnOfferModalIsOpenChanged)="openMakeAnOfferModal($event)">
          </auction-summary> -->

        <section class="mt-12">
          <h3 class="text-xl font-bold mb-6">
            {{(comments().data && comments().data.length > 0) ? comments().data.length : 0}} Comentarios
          </h3>

          @defer (when auction().data) {
          <comments-textarea [auctioneerUserId]="auction().data.attributes.auctionArtForm.userId"
            [auctionType]="auctionType.art" [auctionTypeComment]="auctionTypesComments.lastChance"
            [auctionCarPublishId]="auction().data.attributes.originalAuctionArtId" placeholder="Agregar un comentario"
            (commentCreated)="getComments()"></comments-textarea>
          }

          <div class="mt-4">
            <img class="inline mr-2" src="assets/img/icons/notifications-outline.svg" alt="">
            <span class="underline">Mantenme en la conversación por correo</span>
          </div>

          @for (comment of comments().data; track $index) {
          <comment [comment]="comment" [auctionCarPublishId]="auction().data.attributes.originalAuctionArtId"
            [auctionTypeComment]="auctionTypesComments.lastChance" [auctionType]="auctionType.art"
            (commentCreated)="getComments()" (commentLiked)="getComments()"></comment>
          }

          @if (comments() && comments().meta) {
          <mat-paginator #matPaginator [length]="comments().meta.totalCount" [pageSize]="comments().meta.pageSize"
            [pageSizeOptions]="pageSizeOptions()" (page)="onPageChange($event)" aria-label="Select page">
          </mat-paginator>
          }
        </section>
        }

        <!-- <recently-completed-memorabilia-auctions [auctionId]="auctionId()!"></recently-completed-memorabilia-auctions> -->
      </ng-container>

      <ng-container right>
        <section class="hidden md:block shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
          <h3 class="font-semibold mb-2">Información adicional</h3>

          @if (auction().data) {
          <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
            @for (item of auction().data.attributes.carHistory.extraInfo; track $index) {
            @if (item) {
            <li>{{item}}</li>
            }@else {
            <br>
            }
            }
          </ul>

          <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

          <ul class="space-y-1">
            <li>
              <span class="text-gray4">Lote #:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionArtForm.lotNumber}}</span>
            </li>
            <li>
              <span class="text-gray4">Ubicación:</span>&nbsp;<span class="font-semibold">
                {{auction().data.attributes.auctionArtForm.state}}</span>
            </li>
          </ul>

          <div class="my-4">
            <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
            <span class="align-middle">
              {{auction().data.attributes.dataUser.username}}
            </span>
          </div>

          <div>
            <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">
              {{auction().data.attributes.dataUser.sellerType}}
            </span>
          </div>
          }

          <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

          @if (auction().data) {
          <ol class="list-inside list-disc mb-8">
            @for (item of auction().data.attributes.artDetail.additionalCharges; track $index) {
            <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
            }
          </ol>
          }

          <!-- <button class="mt-4" (click)="openMakeAnOfferModal()" classes="font-optima font-semibold" sharedPrimaryButton>
              HACER UNA OFERTA
            </button> -->
        </section>

        <section class="shadow mt-8 rounded-xl border border-gray3 px-6 py-6 ml-auto">
          <h3 class="font-semibold mb-6">¿Tienes una pieza de arte y quieres venderla?</h3>

          <button classes="font-optima font-semibold" sharedPrimaryButton>VENDE CON NOSOTROS</button>
        </section>

        @if (specificAuction().data && specificAuction().data.bids.length > 0) {
        <bid-history (loadMoreBidsChange)="getBids(false)"
          [amount]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.amount : undefined"
          [userName]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.userName : undefined"
          [purchaseDate]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.purchaseDate : undefined"
          [bids]="bids()" [isWinnerInfoInitialized]="!!specificAuction().data.winnerInfo"></bid-history>
        }

        <!-- <current-memorabilia-auctions [auctionId]="auctionId()"></current-memorabilia-auctions> -->
      </ng-container>
    </two-column-auction-grid>
  </div>
</div>

@defer (when makeAnOfferModalIsOpen()) {

@if (offeredAmount()) {
<last-chance-bid-modal-component [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.art" (offerMade)="getAuctionDetails();getComments()"
  [bidAmount]="offeredAmount()" [(isOpen)]="makeAnOfferModalIsOpen">
</last-chance-bid-modal-component>
}@else {
<last-chance-bid-modal-component [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.art" (offerMade)="getAuctionDetails();getComments()"
  (openLastChanceBuyNowModal)="openBuyNowModal()" [(isOpen)]="makeAnOfferModalIsOpen"></last-chance-bid-modal-component>
}
}

@defer (when auction().data) {
@if (reserveAmount() && paymentMethodId() && comission()) {
<last-chance-buy-now-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [name]="auction().data.attributes.title" [auctionType]="auctionType.art" [comission]="comission()!"
  [reserveAmount]="reserveAmount()!" (lastChanceItemPurchased)="getAuctionDetails()"
  [(isOpen)]="buyNowModalIsOpen"></last-chance-buy-now-modal>
}
}

<payment-method-modal (paymentMethodAdded)="refreshPaymentMethods()"
  [isOpen]="paymentMethodModalIsOpen"></payment-method-modal>