<section class="container mt-2 mb-32">
  <div class="sticky md:static pt-2 inset-0 z-10 bg-white outline-white outline-2 outline">
    <h1 class="text-center font-optima font-bold text-2xl">SUBASTAS EN VIVO</h1>
    @if (tabs) {
    <shared-tabs-with-icons [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>
    }
  </div>

  @switch (currentTab()) {
  @case (1) {
  <all-auctions-filter-results [(updatedCarAuction)]="updatedCarAuction"
    [(updatedArtAuction)]="updatedArtAuction"></all-auctions-filter-results>
  }
  @case (2) {
  <vehicle-filter-results [(updatedCarAuction)]="updatedCarAuction"></vehicle-filter-results>
  }
  @case (3) {
  <art-filter-results></art-filter-results>
  }
  <!-- @case (4) {
  <memorabilia-filter-results class="block mt-4"></memorabilia-filter-results>
  } -->
  }
</section>