<section class="container mt-16 mb-32">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">SUBASTAS EN VIVO</h1>

  <shared-tabs-with-icons [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>

  @switch (currentTab().id) {
  @case (1) {
  <h2 class="text-center font-optima font-bold text-3xl my-8">Subastas de Automóviles y Arte</h2>

  <div class="flex gap-x-4">
    <div class="w-full my-auto">
      <label for="search" class="sr-only">Search</label>
      <div class="relative">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
          <img class="h-7 w-7" src="assets/img/navbar/search-outline.svg" alt="ícono lupa">
        </div>
        <input
          class="block w-full rounded-full bg-gray1 py-2 pl-[3.25rem] pr-3 text-gray-900 placeholder:text-gray2 placeholder:font-montserrat focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Buscar" type="search">
      </div>
    </div>

    <sort></sort>

    <button px="px-4" width="w-fit" class="text-sm whitespace-nowrap" sharedTertiaryButton>
      Última oportunidad
    </button>

    <button px="px-4" width="w-fit" class="text-sm" sharedTertiaryButton>
      Resultados
    </button>
  </div>

  <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 lg:gap-x-8 mt-4">
    @for (item of [].constructor(4); track $index) {
    <div class="relative cursor-pointer">
      <img class="w-full h-64 object-cover" src="assets/img/home/autos en vivo/ford-gt.png" alt="">
      <button class="absolute top-3 right-5 bg-white/50 rounded-full p-2">
        <img class="w-6 h-6" src="assets/img/icons/star.svg" alt="ícono estrella">
      </button>

      <div class="mt-4">
        <p class="font-optima font-semibold text-xl">2017 Ford GT Heritage Edition</p>
        <p class="text-gray4">
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum...
        </p>
        <span class="mt-2 flex items-center bg-gray1 rounded-md px-4 py-2">Oferta: $8,000,500 MXN &nbsp; · &nbsp;
          <img class="w-5 h-5" src="assets/img/icons/time-outline.svg" alt=""> &nbsp; 4d, 15h</span>
      </div>
    </div>
    <div class="relative cursor-pointer">
      <img class="w-full h-64 object-cover" src="assets/img/home/arte en vivo/BalloonVenusHohlenFelsMagenta01 1.png"
        alt="">
      <button class="absolute top-3 right-5 bg-white/50 rounded-full p-2">
        <img class="w-6 h-6" src="assets/img/icons/star.svg" alt="ícono estrella">
      </button>

      <div class="mt-4">
        <p class="font-optima font-semibold text-xl">Ballon Venus, Jeff Koons</p>
        <span class="inline-block text-sm w-fit bg-green1/30 text-green1 px-4 py-1 rounded mb-2">
          Sin Reserva
        </span>
        <p class="text-gray4">
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum...
        </p>
        <p>Valor estimado: $8,000 - $12,000 MXN</p>
        <span class="mt-2 flex items-center bg-gray1 rounded-md px-4 py-2">Oferta: $8,000,500 MXN &nbsp; · &nbsp;
          <img class="w-5 h-5" src="assets/img/icons/time-outline.svg" alt=""> &nbsp; <span
            class="text-red-500">19:05:34</span></span>
      </div>
    </div>
    <div class="relative cursor-pointer">
      <img class="w-full h-64 object-cover" src="assets/img/home/autos en vivo/ford-gt.png" alt="">
      <button class="absolute top-3 right-5 bg-white/50 rounded-full p-2">
        <img class="w-6 h-6" src="assets/img/icons/star.svg" alt="ícono estrella">
      </button>

      <div class="mt-4">
        <p class="font-optima font-semibold text-xl">2017 Ford GT Heritage Edition</p>
        <span class="inline-block text-sm w-fit bg-black/30 text-black px-4 py-1 rounded mb-2">
          Premium
        </span>
        <p class="text-gray4">
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum...
        </p>
        <span class="mt-2 flex items-center bg-gray1 rounded-md px-4 py-2">Oferta: $8,000,500 MXN &nbsp; · &nbsp;
          <img class="w-5 h-5" src="assets/img/icons/time-outline.svg" alt=""> &nbsp; <span
            class="text-red-500">15:22:17</span></span>
      </div>
    </div>
    }
  </div>
  }
  @case (2) {
  Automóviles
  }
  @case (3) {
  Arte
  }
  }
</section>