<shared-modal [isOpen]="isOpen()" (isOpenChange)="emitIsOpenChange($event)" [verticalCenter]="true">
  <div class="relative">
    <h3 class="text-center font-bold text-lg mb-12">Detalles de la solicitud</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  <section class="container">
    @if (auction().data && userDetails().data) {
    <mat-tab-group [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="changeTab($event)">
      <mat-tab label="Detalles">
        <h4 class="mt-4">
          {{auction().data.attributes.brand}} {{auction().data.attributes.carModel}}
          ({{auction().data.attributes.year}})
        </h4>
        <p><b>Color exterior:</b> {{auction().data.attributes.exteriorColor}}</p>
        <p><b>Color interior:</b> {{auction().data.attributes.interiorColor}}</p>
        <p><b>Condición general:</b> {{auction().data.attributes.generalCondition}}</p>
        <p><b>Tipo de transmisión:</b> {{auction().data.attributes.transmissionType}}</p>
        <p><b>Motor:</b> {{auction().data.attributes.engine}}</p>
        <p><b>Ciudad:</b> {{auction().data.attributes.city}}</p>
        <p><b>Código postal:</b> {{auction().data.attributes.postalCode}}</p>
        <p><b>Estado:</b> {{auction().data.attributes.state}}</p>
        <p><b>Reserva:</b> {{auction().data.attributes.reserve ? 'Sí' : 'No'}}</p>
        <p><b>Monto de la reserva:</b> {{auction().data.attributes.reserveAmount | currency:'USD':'symbol':'1.2-2'}}</p>
        <p><b>Kilometraje:</b> {{auction().data.attributes.kmInput | number}} {{auction().data.attributes.kmType}}</p>
        <p><b>¿Cómo supiste de nosotros?:</b> {{auction().data.attributes.howDidYouHearAboutUs}}</p>
        <p><b>Número de lote:</b> {{auction().data.attributes.lotNumber}}</p>

        <p><b>Fotos:</b></p>
        <div class="grid grid-cols-3 gap-4">
          @for (photo of auction().data.attributes.photos; track $index) {
          <a [href]="photo" data-fancybox="photoGallery">
            <img [src]="photo" alt="Foto {{ $index + 1}">
          </a>
          } @empty {
          <p>No hay fotos</p>
          }
        </div>

        <p><b>Videos:</b></p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          @for (video of auction().data.attributes.videos; track $index) {
          <iframe width="100%" height="200" [src]="getSafeUrl(video)" frameborder="0" allowfullscreen></iframe>
          } @empty {
          <p>No hay videos</p>
          }
        </div>
      </mat-tab>

      <mat-tab label="Usuario">
        <p class="mt-4"><b>ID:</b> {{userDetails().data._id}}</p>
        <p><b>Foto identificación:</b>
        </p>
        <div class="flex flex-wrap gap-4 mt-2">
          @for (image of userDetails().data.validationImg; track image) {
          <a [href]="image" data-fancybox="idPhotoGallery">
            <img [src]="image" class="object-cover w-28 h-28" alt="">
          </a>
          }
        </div>
        <p><b>Nombre:</b> {{userDetails().data.firstName}} {{userDetails().data.lastName}}</p>
        <p><b>Nombre de usuario:</b> {{userDetails().data.username}}</p>
        <p><b>Tipo de vendedor:</b> {{userDetails().data.sellerType}}</p>
        <p><b>País:</b> {{userDetails().data.country}}</p>
        <p><b>Ciudad:</b> {{userDetails().data.city}}</p>
        <p><b>Estado:</b> {{userDetails().data.state}}</p>
        <p><b>Teléfono:</b> {{userDetails().data.phoneNumber}}</p>
        <p><b>Correo electrónico:</b> {{userDetails().data.email}}</p>
        <p><b>Código postal:</b> {{userDetails().data.postalCode}}</p>
        <p><b>Calle y número:</b> {{userDetails().data.streetAndNumber}}</p>
        <p><b>Acepta términos y condiciones:</b> {{userDetails().data.acceptTermsAndConditions ? 'Sí' : 'No'}}</p>
        <p><b>Verificación de cuenta:</b> {{userDetails().data.accountVerified ? 'Sí' : 'No'}}</p>
      </mat-tab>
    </mat-tab-group>
    }
  </section>

</shared-modal>