<section class="container mt-12 mb-32 sm:max-w-5xl">
  <h1 class="font-optima font-bold text-4xl">Solicitudes</h1>

  <shared-tabs-with-icons class="mb-10" [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>

  @switch (currentTab().id) {
  @case (1) {
  <vehicle-requests></vehicle-requests>
  }
  @case (2) {
  <art-requests></art-requests>
  }
  @case (3) {
  <!-- <memorabilia-requests></memorabilia-requests> -->
  }
  @default {
  <vehicle-requests></vehicle-requests>
  }
  }

</section>