<div class="mb-32">
  @if (auction().data && auction().data.attributes.isOwner) {
  @if (specificAuction().data && specificAuction().data.isOwner && specificAuction().data.status === 'active') {
  <div
    class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        Precio de reserva actual {{specificAuction().data.reserveAmount | currency:'USD':'symbol':'1.0-2'}} MXN
      </p>

      <button (click)="openUpdateReservePriceModal()"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Cambiar precio de reserva
        <span aria-hidden="true">&rarr;</span>
      </button>
    </div>
    <div class="flex flex-1 justify-end">

    </div>
  </div>
  }
  @if (specificAuction().data && specificAuction().data.status === 'preview') {
  <div
    class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        Esta es una subasta en
        <strong class="font-semibold">modo preview</strong>.
        @if (specificAuction().data.isWithReserve) {
        <span>
          El precio de reserva para esta subasta es de
          <strong class="font-semibold">{{specificAuction().data.reserveAmount | currency:'USD':'symbol':'1.0-2'}}
            MXN</strong>
        </span>
        }
      </p>

      @if (auction().data.attributes.acceptedBySeller === false) {
      <button (click)="openConfirmAcceptPreviewCarModal(auction().data.attributes.originalAuctionCarId)"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Aceptar subasta
        <span aria-hidden="true">&rarr;</span>
      </button>
      }

      <a href="mailto:hola@caart.com.mx?subject=Comentarios sobre vista previa Lote:{{auction().data.attributes.auctionCarForm.lotNumber}}, {{auction().data.attributes.title}}"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Enviar comentarios
        <span aria-hidden="true">&rarr;</span>
      </a>

    </div>
    <div class="flex flex-1 justify-end">
    </div>
  </div>
  }
  }


  <sticky-auction-info-bar [auction]="auction()" [specificAuction]="specificAuction()" [(isFollowing)]="isFollowing"
    [countdownConfig]="countdownConfig()" (openMakeAnOfferModalChange)="openMakeAnOfferModal()"
    (getMetricsChange)="getMetrics($event)"></sticky-auction-info-bar>

  <div class="container">
    @if (auction().data) {

    <section>
      <!-- <div class="flex items-center"> -->
      <!-- </div> -->

      <div class="grid grid-cols-12 gap-4">
        @if (imagesPublish() && imagesPublish().data) {
        <div class="col-span-12 md:col-span-8">
          <div class="flex h-full">
            <a class="w-full flex" [href]="auction().data.attributes.auctionCarForm.photos[0]" data-fancybox="gallery">
              <img class="h-full object-cover w-full md:max-h-60 lg:max-h-80 xl:max-h-[30rem] 2xl:max-h-[35rem]"
                [src]="imagesPublish().data.fotoPrincipal" [alt]="auction().data.attributes.title">
            </a>
          </div>
        </div>
        <div class="hidden col-span-4 md:grid grid-cols-2 gap-4">
          <a class="flex" [href]="imagesPublish().data.fotosSliderPrincipal[0]" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="imagesPublish().data.fotosSliderPrincipal[0]" alt="">
          </a>
          <a class="flex" [href]="imagesPublish().data.fotosSliderPrincipal[1]" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="imagesPublish().data.fotosSliderPrincipal[1]" alt="">
          </a>
          <a class="flex" [href]="imagesPublish().data.fotosSliderPrincipal[2]" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="imagesPublish().data.fotosSliderPrincipal[2]" alt="">
          </a>
          <a class="flex" [href]="imagesPublish().data.fotosSliderPrincipal[3]" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="imagesPublish().data.fotosSliderPrincipal[3]" alt="">
          </a>
          <a class="flex" [href]="imagesPublish().data.fotosSliderPrincipal[4]" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="imagesPublish().data.fotosSliderPrincipal[4]" alt="">
          </a>
          <a class="flex h-full relative" [href]="imagesPublish().data.fotosSliderPrincipal[5]" data-fancybox="gallery">
            <div class="flex absolute inset-0 overflow-hidden">
              <img class="object-cover w-full" [src]="imagesPublish().data.fotosSliderPrincipal[5]" alt="">
            </div>
            <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
            <div class="absolute inset-0 flex justify-center items-center underline text-white text-xs lg:text-sm">
              Ver todas las fotos (
              {{
              1 +
              imagesPublish().data.fotosSliderPrincipal.length +
              imagesPublish().data.fotosMecanicas.length + imagesPublish().data.fotosInterior.length +
              imagesPublish().data.fotosExterior.length
              }})
            </div>
          </a>
          @for (item of imagesPublish().data.fotosSliderPrincipal.slice(6); track $index) {
          <a class="hidden" [href]="item" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="item" alt="">
          </a>
          }
          @for (item of imagesPublish().data.fotosExterior; track $index) {
          <a class="hidden" [href]="item" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="item" alt="">
          </a>
          }
          @for (item of imagesPublish().data.fotosInterior; track $index) {
          <a class="hidden" [href]="item" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="item" alt="">
          </a>
          }
          @for (item of imagesPublish().data.fotosMecanicas; track $index) {
          <a class="hidden" [href]="item" data-fancybox="gallery">
            <img class="object-cover h-full" [src]="item" alt="">
          </a>
          }

          <!-- <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
              <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
            </a>
            <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
              <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
            </a>
            <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
              <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
            </a> -->
        </div>
        }
      </div>
    </section>
    }

    <two-column-auction-grid>
      <ng-container left>
        <section class="flex justify-between mt-4">
          @if (specificAuction().data && specificAuction().data.status !== 'preview') {
          @defer (when comments().data) {
          <div class="underline text-xs md:text-base">{{comments().data.length}} Comentarios</div>
          }
          }@else {
          <div></div>
          }

          @defer (when metrics().data) {
          <div class="text-gray4 text-sm flex space-x-4">
            @if (auction().data.attributes.status !== auctionCarStatus.Preview || auction().data.attributes.comingSoon)
            {
            <div class="flex items-center">
              <img class="mr-2" src="assets/img/icons/eye-outline.svg">
              {{metrics().data.attributes.visualizations | number}}
            </div>
            }
            <div class="flex items-center">
              <shared-star class="mr-2" classes="text-gray4 w-5 h-5"></shared-star>
              {{metrics().data.attributes.followedCount | number}}
            </div>
          </div>
          }
        </section>

        <hr class="my-4">

        @defer (when auction() && auction().data) {
        <h1 class="font-bold mb-4">Detalles del auto</h1>
        <section class="grid grid-cols-1 xs:grid-cols-2 gap-4">
          @defer (when auctionDetails().length > 0) {
          <auction-details-table-component [auctionDetails]="auctionDetails()"></auction-details-table-component>

          <auction-details-table-component [auctionDetails]="auctionDetails2()"></auction-details-table-component>
          }
        </section>
        }

        <section class="md:hidden mt-8 rounded-xl border border-gray3 px-6 py-6 text-xs">
          <h3 class="font-semibold mb-2">Información adicional</h3>

          @if (auction().data) {
          <!-- <div class="text-gray4" style="word-wrap: break-word;">
            {{auction().data.attributes.carHistory.extraInfo}}
          </div> -->
          <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
            @for (item of auction().data.attributes.carHistory.extraInfo; track $index) {
            @if (item) {
            <li>{{item}}</li>
            }@else {
            <br>
            }
            }
          </ul>

          <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

          <ul class="space-y-1">
            <li>
              <span class="text-gray4">Lote #:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionCarForm.lotNumber}}</span>
            </li>
            <li>
              <span class="text-gray4">Ubicación:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionCarForm.city}},
                {{auction().data.attributes.auctionCarForm.state}}</span>
            </li>
          </ul>

          <div class="my-4">
            <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
            <!-- <span class="align-middle">John Smith</span> -->
            <span class="align-middle">{{auction().data.attributes.dataUser.username}}</span>
          </div>

          <div>
            <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">
              {{auction().data.attributes.dataUser.sellerType}}
            </span>
          </div>

          <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

          <!-- <ul class="list-inside list-disc text-gray4 mb-8">
              <li>Tenencia: $1,000 MXN</li>
              <li>Comisión dealer: $3,100 MXN</li>
            </ul> -->

          <!-- <div class="text-gray4 mb-8" [innerHTML]="auction().data.attributes.extras.additionalCharges"></div> -->
          <ol class="list-inside list-disc mb-8">
            @for (item of auction().data.attributes.extras.additionalCharges; track $index) {
            <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
            }
          </ol>
          }

          @defer (when specificAuction().data) {
          @if (specificAuction().data.status === 'active') {
          <button (click)="openMakeAnOfferModal()" classes="font-optima font-semibold" sharedPrimaryButton>
            HACER UNA OFERTA
          </button>
          }
          }
        </section>

        <hr class="my-6">

        @defer (when auction().data) {
        <section class="space-y-4">
          <!-- <div class="break-words" [innerHTML]="auction().data.attributes.carHistory.content"></div> -->
          <!-- <pre>
              {{auction().data.attributes.carHistory | json}}
            </pre> -->

          @for (item of auction().data.attributes.carHistory.blocks; track $index) {
          @switch (item.type) {
          @case ('text') {
          <p class="text-justify text-sm md:text-lg" style="word-wrap: break-word;">
            {{item.content}}
          </p>
          }

          @case ('image') {
          <img class="w-full" [src]="item.content" alt="">
          }
          }
          }
        </section>

        @if (this.videos() && this.videos().videos && this.videos().videos.length > 0) {
        <section>
          <h2 class="text-xl font-bold mt-8 mb-6">Galería de video</h2>
          <swiper-container init="false" #videoGallery>
            @for (video of this.videos().videos; track $index) {
            <swiper-slide class="pb-12">
              <a class="relative" [href]="video.videoUrl" data-fancybox="gallery2" data-type="iframe">
                <img [src]="video.thumbnailUrl" alt="">
                <img src="assets/img/icons/play-circle.svg" alt=""
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16">
              </a>
            </swiper-slide>
            }
          </swiper-container>
        </section>
        }
        }

        @defer (when auction().data && imagesPublish().data) {

        <section [ngClass]="(auction().data.attributes.exteriorDetails.exteriorVideos.length > 0) ? 'mt-6' : 'mt-8'">
          <h2 class="text-xl font-bold mb-6">Galería de fotos exteriores</h2>

          <image-gallery [photos]="imagesPublish().data.fotosExterior" [index]="3"></image-gallery>
        </section>

        <section class="mt-6">
          <h2 class="text-xl font-bold mb-6">Galería de fotos interiores</h2>

          <image-gallery [photos]="imagesPublish().data.fotosInterior" [index]="4"></image-gallery>
        </section>

        <section class="mt-6">
          <h2 class="text-xl font-bold mb-6">Galería de fotos mecánicas</h2>

          <image-gallery [photos]="imagesPublish().data.fotosMecanicas" [index]="5"></image-gallery>
        </section>

        @if (!auction().data.attributes.comingSoon) {
        @if (auction().data.attributes.status !== auctionCarStatus.Preview) {
        <auction-summary class="hidden md:block" [auction]="auction()" [metrics]="metrics()"
          [countdownConfig]="countdownConfig()" [specificAuction]="specificAuction()" [auctionType]="auctionType.car"
          (makeAnOfferModalIsOpenChanged)="openMakeAnOfferModal($event)">
        </auction-summary>
        }
        }

        @if (auction() && auction().data && !auction().data.attributes.comingSoon) {
        @if (specificAuction().data && specificAuction().data.status !== 'preview') {
        <section class="mt-6">
          @defer (when comments().data) {
          <h3 class="text-xl font-bold mb-6">{{comments().meta.totalCount}} Comentarios</h3>
          }

          @defer (when auction().data) {
          <comments-textarea [auctioneerUserId]="auction().data.attributes.auctionCarForm.userId"
            [auctionTypeComment]="auctionTypesComments.active" [auctionType]="auctionType.car"
            [auctionCarPublishId]="auction().data.attributes.originalAuctionCarId" placeholder="Agregar un comentario"
            (commentCreated)="getComments()"></comments-textarea>
          }

          <!-- <div class="mt-4">
                  <img class="inline mr-2" src="assets/img/icons/notifications-outline.svg" alt="">
                  <span class="underline">Mantenme en la conversación por correo</span>
                </div> -->

          @for (comment of comments().data; track $index) {
          <comment [comment]="comment" [auctionCarPublishId]="auction().data.attributes.originalAuctionCarId"
            [auctionTypeComment]="auctionTypesComments.active" [auctionType]="auctionType.car"
            (commentCreated)="getComments()" (commentLiked)="getComments()"></comment>
          }

          @if (comments() && comments().meta) {
          <mat-paginator #matPaginator [length]="comments().meta.totalCount" [pageSize]="comments().meta.pageSize"
            [pageSizeOptions]="pageSizeOptions()" (page)="onPageChange($event)" aria-label="Select page">
          </mat-paginator>
          }

          <!-- <div class="md:grid md:grid-cols-12 md:gap-x-4 md:gap-y-6 mt-16">
                  <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
                    Nov 15 a las 03:38 PM
                  </div>
                  <div class="md:col-span-9 mb-4 md:mb-0">
                    <div class="px-2 py-1 rounded-lg bg-gray1">
                      <p class="font-semibold">John Smith (Vendedor)</p>
                      <p>19,914 km</p>
                      <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
                      <span class="align-middle">2</span>
                    </div>
                  </div>

                  <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
                    Nov 15 a las 02:54 PM
                  </div>
                  <div class="md:col-span-9 mb-4 md:mb-0">
                    <div class="px-2 py-1">
                      <p class="font-semibold">Andrés Gallardo</p>
                      <p>¿Qué kilometraje tiene el auto?</p>
                      <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
                      <span class="align-middle">0</span>
                    </div>
                  </div>

                  <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
                    Nov 15 a las 02:38 PM
                  </div>
                  <div class="md:col-span-9 mb-4 md:mb-0">
                    <div class="px-2 py-1 rounded-lg bg-gray1 bg-green1/30">
                      Nueva puja de $215,000 por Adam Smith
                    </div>
                  </div>

                  <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
                    Nov 15 a las 11:43 AM
                  </div>
                  <div class="md:col-span-9 mb-4 md:mb-0">
                    <div class="px-2 py-1">
                      <p class="font-semibold">Andrés Gallardo</p>
                      <p>El color es magnifico</p>
                      <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
                      <span class="align-middle">0</span>
                    </div>
                  </div>
                </div> -->
        </section>
        }
        }
        }

        <!-- <recently-completed-auctions class="hidden md:block" [auctionId]="auctionId()!"></recently-completed-auctions> -->
      </ng-container>

      <ng-container right>
        <section class="hidden md:block shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
          <h3 class="font-semibold mb-2">Información adicional</h3>

          <!-- <ul class="list-inside list-disc text-gray4">
                <li>Rines “X”</li>
                <li>Faros “X”</li>
                <li>Adaptación “X”</li>
                <li>Llanta “X”</li>
                <li>Polarizado “X”</li>
              </ul> -->
          @if (auction().data) {
          <!-- <div class="text-gray4" style="word-wrap: break-word">
            {{auction().data.attributes.carHistory.extraInfo}}
          </div> -->

          <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
            @for (item of auction().data.attributes.carHistory.extraInfo; track $index) {
            @if (item) {
            <li>{{item}}</li>
            }@else {
            <br>
            }
            }
          </ul>

          <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

          <ul class="space-y-1">
            <li>
              <span class="text-gray4">Lote #:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionCarForm.lotNumber}}</span>
            </li>
            <li>
              <span class="text-gray4">Ubicación:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionCarForm.city}},
                {{auction().data.attributes.auctionCarForm.state}}</span>
            </li>
          </ul>

          <div class="my-4">
            <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
            <!-- <span class="align-middle">John Smith</span> -->
            <span class="align-middle">{{auction().data.attributes.dataUser.username}}</span>
          </div>

          <div>
            <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">
              {{auction().data.attributes.dataUser.sellerType}}
            </span>
          </div>

          <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

          <!-- <ul class="list-inside list-disc text-gray4 mb-8">
                <li>Tenencia: $1,000 MXN</li>
                <li>Comisión dealer: $3,100 MXN</li>
              </ul> -->

          <!-- <div class="text-gray4 mb-8" [innerHTML]="auction().data.attributes.extras.additionalCharges"></div> -->
          <ol class="list-inside list-disc mb-8">
            @for (item of auction().data.attributes.extras.additionalCharges; track $index) {
            <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
            }
          </ol>
          }

          @if (auction() && auction().data && !auction().data.attributes.comingSoon) {
          @defer (when specificAuction().data) {
          @if (specificAuction().data.status === 'active') {
          <button (click)="openMakeAnOfferModal()" classes="font-optima font-semibold" sharedPrimaryButton>
            HACER UNA OFERTA
          </button>
          }
          }
          }
        </section>

        <section class="hidden md:block shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
          <h3 class="font-semibold mb-6">¿Tienes un auto y quieres venderlo?</h3>

          <button classes="font-optima font-semibold" sharedPrimaryButton>VENDE CON NOSOTROS</button>
        </section>

        @if (auction() && auction().data && !auction().data.attributes.comingSoon) {
        @if (specificAuction().data && specificAuction().data.status !== 'preview')
        {
        <bid-history (loadMoreBidsChange)="getBids(false)"
          [amount]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.amount : undefined"
          [userName]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.userName : undefined"
          [purchaseDate]="specificAuction().data && specificAuction().data.winnerInfo ? specificAuction().data.winnerInfo.purchaseDate : undefined"
          [bids]="bids()" [isWinnerInfoInitialized]="!!specificAuction().data.winnerInfo"></bid-history>
        }
        }

        @if (specificAuction().data && specificAuction().data.status !== 'preview') {
        <current-auctions class="hidden md:block" [auctionId]="auctionId()"></current-auctions>
        }
      </ng-container>
    </two-column-auction-grid>
  </div>
</div>

@defer (when makeAnOfferModalIsOpen()) {

@if (offeredAmount()) {
<auction-make-an-offer-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.car"
  (offerMade)="getAuctionDetails(auction().data.attributes.originalAuctionCarId);getSpecificAuctionDetails();getComments()"
  [offerAmount]="offeredAmount()" [isOpen]="makeAnOfferModalIsOpen()"
  (isOpenChange)="makeAnOfferModalIsOpenChanged($event)">
</auction-make-an-offer-modal>
}@else {
<auction-make-an-offer-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.car"
  (offerMade)="getAuctionDetails(auction().data.attributes.originalAuctionCarId);getSpecificAuctionDetails();getComments()"
  [isOpen]="makeAnOfferModalIsOpen()"
  (isOpenChange)="makeAnOfferModalIsOpenChanged($event)"></auction-make-an-offer-modal>
}
}

<payment-method-modal (paymentMethodAdded)="refreshPaymentMethods()"
  [isOpen]="paymentMethodModalIsOpen"></payment-method-modal>

@defer (when auctionId()) {
<auction-cancelled [(isOpen)]="auctionCancelledModalIsOpen" [auctionId]="auctionId()!"
  lastChanceUrl="/ultima-oportunidad"></auction-cancelled>
}

<confirmation-modal [(isOpen)]="confirmAcceptPreviewCarModalIsOpen"
  [isButtonSubmitDisabled]="isAcceptPreviewCarAuctionButtonDisabled()" (acceptChange)="acceptPreviewCar()">
  <ng-container title>
    Aceptar subasta
  </ng-container>
  <ng-container body>
    <span class="text-sm text-gray-500">
      Yo, {{user?.attributes?.firstName}} {{user?.attributes?.lastName}} en calidad de propietario y/o dealer de la
      pieza descrita, acepto las condiciones establecidas para la subasta de la misma.
    </span>
  </ng-container>
</confirmation-modal>

@if (specificAuction().data) {
<update-reserve-price-modal [(isOpen)]="isUpdateReservePriceModalOpen"
  [currentReservePrice]="specificAuction().data.reserveAmount" [auctionType]="auctionType.car"
  [auctionId]="auction().data.id">
</update-reserve-price-modal>
}