<!-- <p class="mt-4"><b>ID:</b> {{wizardData().data.interiorDetails._id}}</p>
<p><b>originalAuctionCarId:</b> {{wizardData().data.interiorDetails.originalAuctionCarId}}</p>
<p><b>Accesorios funcionando:</b> {{wizardData().data.interiorDetails.accessoriesFunctioning ? 'Sí' : 'No'}}</p>
<p><b>Comentarios:</b> {{wizardData().data.interiorDetails.comments}}</p>
<p><b>Color del interior:</b> {{wizardData().data.interiorDetails.interiorColor}}</p>
<p><b>Condición del interior:</b> {{wizardData().data.interiorDetails.interiorCondition}}</p>
<p><b>Modificaciones del interior:</b> {{wizardData().data.interiorDetails.interiorModifications ? 'Sí' : 'No'}}
</p>
<p><b>Imágenes: </b></p>
<div class="grid grid-cols-3 gap-4">
  @for (photo of wizardData().data.interiorDetails.interiorPhotos; track $index) {
  <img [src]="photo" alt="Foto del interior">
  } @empty {
  <p>No hay imágenes</p>
  }
</div>
<p><b>Videos:</b></p>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  @for (video of wizardData().data.interiorDetails.interiorVideos; track $index) {
  <iframe width="100%" height="200" [src]="getSafeUrl(video)" frameborder="0" allowfullscreen></iframe>
  } @empty {
  <p>No hay videos</p>
  }
</div>
<p><b>Material:</b> {{wizardData().data.interiorDetails.material}}</p> -->

<form [formGroup]="interiorOfTheCarForm" (ngSubmit)="updateInteriorDetails()" class="grid grid-cols-2 items-end gap-5">

  <!-- interiorColor select -->
  <div>
    <label for="interiorColor" class="block mb-1 text-sm">Color <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="interiorColor" formControlName="interiorColor" type="text" sharedInput>
    @if (hasError('interiorColor')) {
    <shared-input-error [message]="getError('interiorColor')"></shared-input-error>
    }
  </div>

  <!-- Material select   -->
  <div>
    <label for="material" class="block mb-1 text-sm">Material <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="material" formControlName="material" type="text" sharedInput>
    @if (hasError('material')) {
    <shared-input-error [message]="getError('material')"></shared-input-error>
    }
  </div>

  <!-- Cúentanos cualquier detalle importante sobre el interior -->
  <div class="col-span-2">
    <label for="interiorDetails" class="block mb-1 text-sm">Cúentanos cualquier detalle importante sobre el interior <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="interiorDetails" formControlName="interiorDetails" rows="6" sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('interiorDetails')) {
    <shared-input-error [message]="getError('interiorDetails')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <p><b>Imágenes: </b></p>
    <div class="grid grid-cols-3 gap-4">
      @for (photo of wizardData().data.interiorDetails.interiorPhotos; track $index) {
      <a [href]="photo" data-fancybox="interiorPhotos">
        <img [src]="photo" alt="Foto del interior">
      </a>
      } @empty {
      <p>No hay imágenes</p>
      }
    </div>
  </div>

  <div class="col-span-2">
    <p><b>Videos:</b></p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (video of wizardData().data.interiorDetails.interiorVideos; track $index) {
      <iframe width="100%" height="200" [src]="getSafeUrl(video)" frameborder="0" allowfullscreen></iframe>
      } @empty {
      <p>No hay videos</p>
      }
    </div>
  </div>

  <div class="col-span-2">
    <button class="flex justify-center mt-4" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Guardar
      }
    </button>
  </div>
</form>