<sidebar-layout>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Publicar autos</h1>
        <!-- <p class="mt-2 text-sm text-gray-700">

        </p> -->
      </div>
      <!-- <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add
          user</button>
      </div> -->
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  Marca modelo año
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Info general</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Exterior</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Interior</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Info mecánica</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Extras</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Historia del auto</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Detalles</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Acciones</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              @for (auction of auctionCarInfo().data; track $index) {
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  {{ auction.brand }} {{ auction.model }} {{ auction.year }}
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.wizardSteps.generalInfo ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.wizardSteps.generalInfo ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.wizardSteps.exterior ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.wizardSteps.exterior ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.wizardSteps.interior ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.wizardSteps.interior ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.wizardSteps.mechanics ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.wizardSteps.mechanics ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.wizardSteps.extras ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.wizardSteps.extras ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                    <div class="flex-none rounded-full p-1 bg-green-400/10"
                      [ngClass]="auction.carHistoryExists ? 'text-green-400':'text-orange-400'">
                      <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <div>{{ auction.carHistoryExists ? 'Completado':'Pendiente' }}</div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <button (click)="openAuctionCarDetailsModal(auction.auctionCarId)"
                    class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium text-indigo-800 underline">
                    Ver detalles
                  </button>
                </td>
                <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  @if (!auction.published) {
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu class="text-sm" #menu="matMenu">
                    <button [routerLink]="['/dashboard/agregar-historia-auto', auction.auctionCarId]" mat-menu-item>
                      <!-- <mat-icon>dialpad</mat-icon> -->
                      <span>Agregar historia del auto</span>
                    </button>
                    <button (click)="openReleaseCarForLiveAuctionModal(auction.auctionCarId)" mat-menu-item>
                      <!-- <mat-icon>notifications_off</mat-icon> -->
                      <span>Liberar auto para subasta en vivo</span>
                    </button>
                  </mat-menu>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</sidebar-layout>

<auction-car-details-modal [isOpen]="auctionCarDetailsModalIsOpen()" (isOpenChange)="closeAuctionCarDetailsModal()"
  [auctionCarId]="auctionCarId()"></auction-car-details-modal>

<release-car-for-live-auction-modal [isOpen]="releaseCarForLiveAuctionModalIsOpen()"
  (carReleaseForLiveAuction)="dashboardInfo()" [originalAuctionCarId]="auctionCarId()"
  (isOpenChange)="closeReleaseCarForLiveAuctionModal()"></release-car-for-live-auction-modal>