<shared-modal [verticalCenter]="true" [(isOpen)]="isOpen">
  <div class="relative">
    <h3 class="text-center font-bold text-lg mb-12">Ofertas</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Fecha
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nombre de usuario</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Monto</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              @for (offer of bids(); track offer._id) {
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  {{ offer.bidDate| date:'dd/MM/yyyy' }}
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  {{ offer.userInfo.username }}
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  {{ offer.bidAmount| currency:'MXN':'symbol':'1.0-0' }}
                </td>
              </tr>
              } @empty {
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0" colspan="3">
                  No hay ofertas
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</shared-modal>