<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">REGISTRO</h1>

  <p class="text-center font-optima font-bold text-3xl">Te damos la bienvenida a CAART</p>


  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md mb-32">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="grid grid-cols-2 gap-4">
      <div>
        <label for="firstName" class="sr-only">Nombre/s</label>
        <input id="firstName" formControlName="firstName" autocomplete="given-name" type="text" placeholder="Nombre/s"
          sharedInput>
        @if (hasError('firstName')) {
        <shared-input-error [message]="getFieldError('firstName')"></shared-input-error>
        }
      </div>

      <div>
        <label for="lastName" class="sr-only">Apellido/s</label>
        <input id="lastName" formControlName="lastName" autocomplete="family-name" type="text" placeholder="Apellido/s"
          sharedInput>
        @if (hasError('lastName')) {
        <shared-input-error [message]="getFieldError('lastName')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="username" class="sr-only">Nombre de usuario</label>
        <input id="username" formControlName="username" autocomplete="username" type="text"
          placeholder="Nombre de usuario" sharedInput>
        @if (hasError('username')) {
        <shared-input-error [message]="getFieldError('username')"></shared-input-error>
        }
      </div>

      <div>
        <label for="country" class="sr-only">País</label>
        <select id="country" formControlName="country" autocomplete="country" sharedInput>
          <option value disabled selected>País</option>
          <option value="mexico">México</option>
          <option value="colombia">Colombia</option>
          <option value="argentina">Argentina</option>
        </select>
        @if (hasError('country')) {
        <shared-input-error [message]="getFieldError('country')"></shared-input-error>
        }
      </div>

      <div>
        <label for="city" class="sr-only">Ciudad</label>
        <input id="city" formControlName="city" autocomplete="address-level1" type="text" placeholder="Ciudad"
          sharedInput>
        @if (hasError('city')) {
        <shared-input-error [message]="getFieldError('city')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="phoneNumber" class="sr-only">Celular</label>
        <input id="phoneNumber" formControlName="phoneNumber" autocomplete="tel" type="tel" placeholder="Celular"
          sharedInput>
        @if (hasError('phoneNumber')) {
        <shared-input-error [message]="getFieldError('phoneNumber')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="email" class="sr-only">Correo electrónico</label>
        <input id="email" formControlName="email" autocomplete="email" type="email" placeholder="Correo electrónico"
          sharedInput>
        @if (hasError('email')) {
        <shared-input-error [message]="getFieldError('email')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="password" class="sr-only">Contraseña</label>
        <input id="password" formControlName="password" autocomplete="new-password" type="password"
          placeholder="Contraseña" sharedInput>
        @if (hasError('password')) {
        <shared-input-error [message]="getFieldError('password')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="password2" class="sr-only">Confirmar contraseña</label>
        <input id="password2" formControlName="password2" autocomplete="new-password" type="password"
          placeholder="Confirmar contraseña" sharedInput>
        @if (hasError('password2')) {
        <shared-input-error [message]="getFieldError('password2')"></shared-input-error>
        }
      </div>

      <dl class="col-span-2">
        <dt>
          <!-- Expand/collapse question button -->
          <button (click)="toggleDropdown()" type="button" class="flex w-full items-start justify-between text-left"
            aria-controls="faq-0" aria-expanded="false">
            <span class="leading-7">Datos para ofertar en subastas</span>
            <span class="ml-6 mr-4 flex h-7 items-center">
              <img class="mb-1" src="assets/img/shared/icons/arrow-down.svg" alt="flecha">
            </span>
          </button>
        </dt>
        <dd *ngIf="dropdownIsOpen()" class="mt-2" id="faq-0">
          <p class="text-gray4">
            *Para ofertar o publicar una subasta, es necesario completar estos datos ahora o los puede completar más
            adelante.
          </p>

          <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="col-span-2">
              <label for="rfc" class="block mb-1">RFC</label>
              <input id="rfc" type="text" placeholder="Escribe tu RFC" sharedInput>
            </div>

            <div class="col-span-2 font-bold">
              Datos bancarios
            </div>

            <div class="col-span-2">
              <label for="titular" class="block mb-1">Nombre del titular de la tarjeta</label>
              <input id="titular" type="text" placeholder="Nombre completo del titular de la tarjeta" sharedInput>
            </div>

            <div class="col-span-2">
              <label for="numero" class="block mb-1">Número de tarjeta</label>
              <input id="numero" type="text" placeholder="Número de 16 dígitos de la tarjeta" sharedInput>
            </div>

            <div>
              <label for="vencimiento" class="block mb-1">Fecha de vencimiento</label>
              <input id="vencimiento" type="text" placeholder="MM/AA" sharedInput>
            </div>

            <div>
              <label for="cvv" class="block mb-1">CVV</label>
              <input id="cvv" type="text" placeholder="CVV" sharedInput>
            </div>

            <div class="col-span-2 font-bold">
              Dirección
            </div>

            <div class="col-span-2">
              <label for="calle" class="block mb-1">Calle y número</label>
              <input id="calle" type="text" placeholder="Calle y número interno y externo" sharedInput>
            </div>

            <div class="col-span-2">
              <label for="cp" class="block mb-1">Código Postal</label>
              <input id="cp" type="text" placeholder="C.P." sharedInput>
            </div>

            <fieldset class=" col-span-2 mt-4">
              <legend class="sr-only">Notification method</legend>
              <div class="space-y-2">
                <div class="flex items-center">
                  <input id="ine" name="notification-method" type="radio" checked class="h-4 w-4">
                  <label for="ine" class="ml-3 block leading-6">INE</label>
                </div>
                <div class="flex items-center">
                  <input id="pasaporte" name="notification-method" type="radio" class="h-4 w-4">
                  <label for="pasaporte" class="ml-3 block leading-6">Pasaporte</label>
                </div>
              </div>
            </fieldset>

            <label for="frontal" class="text-sm">
              INE frontal
              <div class="bg-gray1 border border-dashed rounded-md border-gray4 w-full py-8 mt-2">
                <div class="flex justify-center"><img src="assets/img/register/cloud.svg" alt=""></div>
                <p class="text-center text-gray4 text-sm">Subir imagen</p>
                <input id="frontal" type="file" class="sr-only">
              </div>
            </label>

            <label for="posterior" class="text-sm">
              INE posterior
              <div class="bg-gray1 border border-dashed rounded-md border-gray4 w-full py-8 mt-2">
                <div class="flex justify-center"><img src="assets/img/register/cloud.svg" alt=""></div>
                <p class="text-center text-gray4 text-sm">Subir imagen</p>
                <input id="posterior" type="file" class="sr-only">
              </div>
            </label>
          </div>
        </dd>
      </dl>

      <div class="col-span-2 mt-8">
        <div class="flex items-center text-xs">
          <input id="acceptTermsAndConditions" formControlName="acceptTermsAndConditions" type="checkbox"
            class="h-4 w-4">
          <label for="acceptTermsAndConditions" class="ml-3 block leading-6">
            Acepto los <a class="underline">términos y condiciones</a>, <a class="underline">Aviso de privacidad</a> y
            <a class="underline">Acuerdos de usuarios.</a>
          </label>
        </div>
        @if (hasError('acceptTermsAndConditions')) {
        <shared-input-error [message]="getFieldError('acceptTermsAndConditions')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <button type="submit" sharedPrimaryButton>
          Registrarme
        </button>
        <div class="text-center mt-4">
          <span>¿Ya tienes una cuenta en CAART?</span>&nbsp;&nbsp;&nbsp;<a routerLink="/iniciar-sesion"
            class="font-bold underline">Inicia sesión</a>
        </div>
      </div>
    </form>
  </div>

</section>