<section class="container mt-12 mb-32 sm:max-w-5xl">
  <h1 class="font-optima font-bold text-4xl mb-4">Publicaciones</h1>

  <shared-tabs-with-icons class="mb-10" [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>

  @switch (currentTab().id) {
  @case (1) {
  <auction-car-publications [hasGeneralInfo]="hasGeneralInfo()"
    (completeRegisterModalChange)="openCompleteRegisterModal($event.publicationId, $event.auctionType)"></auction-car-publications>
  }
  @case (2) {
  <auction-art-publications [hasGeneralInfo]="hasGeneralInfo()"
    (completeRegisterModalChange)="openCompleteRegisterModal($event.publicationId, $event.auctionType)"></auction-art-publications>
  }
  @case (3) {
  <auction-memorabilia-publications [hasGeneralInfo]="hasGeneralInfo()"
    (completeRegisterModalChange)="openCompleteRegisterModal($event.publicationId, $event.auctionType)"></auction-memorabilia-publications>
  }
  }
</section>

<complete-register-modal (getHasGeneralInfo)="getHasGeneralInfo()" [isOpen]="completeRegisterModalIsOpen"
  [auctionType]="auctionType()" [publicationId]="publicationId()"></complete-register-modal>