<div [routerLink]="['/ultima-oportunidad', originalAuctionId()]" class="relative cursor-pointer">
  <img class="w-full max-h-96 object-contain rounded-md" [src]="cover()" alt="">
  <follow-button [auctionId]="originalAuctionId()" [auctionType]="auctionType.car" class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <div class="h-[60px]">
      <p class="font-lato font-semibold text-xl">{{title()}}
      </p>
      @if (isPremium()) {
      <span
        class="inline-block font-bold text-xs md:text-sm w-fit bg-[gainsboro] text-black px-4 py-1 rounded-2xl border-black border-2 ng-star-inserted">
        Premium </span>
      }
    </div>

    <p class="text-gray4 line-clamp-3 min-h-[72px]" style="word-wrap: break-word;">
      {{extract()}}
    </p>

    <button (click)="openMakeAnOfferModal($event)" class="mt-4" width="w-fit" px="px-4" py="py-2.5" sharedPrimaryButton>
      Ver / Hacer una oferta
    </button>
  </div>
</div>

<!-- TODO: refactorizar cuando me manden el precio de la reserva -->
<last-chance-bid-modal-component [paymentMethodId]="paymentMethodId()" [auctionId]="auctionId()"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.car"
  [(isOpen)]="makeAnOfferModalIsOpen"></last-chance-bid-modal-component>

<payment-method-modal [isOpen]="paymentMethodModalIsOpen"></payment-method-modal>

<!-- <last-chance-buy-now-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auctionId()"
  [name]="title()"
  [auctionType]="auctionType.car" [comission]="comission()!" [reserveAmount]="reserveAmount()!"
  (lastChanceItemPurchased)="getAuctionDetails(auction().data.attributes.originalAuctionCarId)"
  [(isOpen)]="buyNowModalIsOpen"></last-chance-buy-now-modal> -->