<div [routerLink]="['/ultima-oportunidad', auction().originalAuctionCarId]" class="relative cursor-pointer">
  <img class="w-full h-64 object-cover" [src]="auction().attributes.photos[0]" alt="">
  <follow-button [auctionId]="auction().originalAuctionCarId" [auctionType]="auctionType.car"
    class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <p class="font-optima font-semibold text-xl">{{auction().attributes.year}} {{auction().attributes.brand}}
      {{auction().attributes.model}}
    </p>
    <p class="text-gray4 line-clamp-3">
      {{auction().attributes.extract}}
    </p>

    <button class="mt-4" width="w-fit" px="px-4" py="py-2.5" sharedPrimaryButton>
      Ver o hacer una oferta
    </button>
  </div>
</div>