<div class="mb-32">
  @if (specificAuction().data && specificAuction().data.isOwner && specificAuction().data.status === 'active') {
  <div
    class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        Precio de reserva actual {{specificAuction().data.reserveAmount | currency:'USD':'symbol':'1.0-2'}} MXN
      </p>

      <button (click)="openUpdateReservePriceModal()"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Cambiar precio de reserva
        <span aria-hidden="true">&rarr;</span>
      </button>
    </div>
    <div class="flex flex-1 justify-end">

    </div>
  </div>
  }

  @if (specificAuction().data && specificAuction().data.status === 'preview') {
  <div
    class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        Esta es una subasta en
        <strong class="font-semibold">modo preview</strong>.
        @if (specificAuction().data.isWithReserve) {
        <span>
          El precio de reserva para esta subasta es de
          <strong class="font-semibold">{{specificAuction().data.reserveAmount | currency:'USD':'symbol':'1.0-2'}}
            MXN</strong>
        </span>
        }
      </p>

      @if (auction().data.attributes.acceptedBySeller === false) {
      <button (click)="openConfirmAcceptPreviewArtModal(auction().data.attributes.originalAuctionArtId)"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Aceptar subasta
        <span aria-hidden="true">&rarr;</span>
      </button>
      }

      <a href="mailto:hola@caart.com.mx?subject=Comentarios sobre vista previa Lote:{{auction().data.attributes.auctionArtForm.lotNumber}}, {{auction().data.attributes.title}}"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Enviar comentarios
        <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
    <div class="flex flex-1 justify-end">
    </div>
  </div>
  }

  <div class="sticky inset-0 z-[5] bg-white pt-4 pb-2">
    <div class="container">
      @defer (when auction().data) {
      <h1 class="font-lato font-black flex text-2xl md:text-4xl mr-4 mb-2">
        {{auction().data.attributes.title}}
      </h1>
      }

      <div class="flex w-full justify-between">
        <div
          class="grid items-center text-xs md:text-xl gap-3 grid-flow-col lg:gap-x-4 md:gap-y-0 w-fit divide-x divide-gray3">
          @if(specificAuction().data && specificAuction().data.bids.length > 0) {
          <div class="py-1">
            <p class="leading-5">
              {{specificAuction().data.bids[0].bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
            </p>
            @if (specificAuction().data.bids[0].userId === null && specificAuction().data.status === 'preview') {
            <span class="text-sm">Precio de salida</span>
            }
          </div>

          <div>
            @if (specificAuction().data.bids[0].userId !== null) {
            <div class="py-1 ml-4">
              <!-- <p class="font-bold text-lg">18</p> -->
              <p class="inline lg:block">
                <span class="font-bold">
                  {{specificAuction().data ? specificAuction().data.bids.length - 1: 0}}
                </span>
                @if (specificAuction().data.bids.length - 1 === 1) {
                Oferta
                } @else {
                Ofertas
                }
              </p>
            </div>
            }
          </div>
          }
          @if (auction().data) {
          @switch (auction().data.attributes.status) {
          @case (auctionCarStatus.Preview) {
          @if (specificAuction().data) {
          <span class="md:text-xl h-full" [ngClass]="{'pl-4': specificAuction().data.bids.length > 0}">
            {{auction().data.attributes.daysActive}}
            @if (auction().data.attributes.daysActive === 1) {
            día
            } @else {
            días
            }
          </span>
          }
          }

          @case (auctionCarStatus.Active) {
          @if (countdownConfig().leftTime! > 0) {
          <div>
            <div class="ml-4">
              <countdown class="text-red2 font-bold text-sm md:text-xl" [config]="countdownConfig()"
                [ngClass]="{'text-red-500': countdownConfig().leftTime! <= 86400}"></countdown>
              <br>
            </div>
          </div>
          }
          }
          }
          }
          @defer (when specificAuction().data) {
          @switch (specificAuction().data.status) {
          @case ('cancelled') {
          <div class="py-1">
            <p class="font-bold ml-4 border border-red-700 bg-[#f0aeae] text-red-700 px-6 py-1 rounded-xl">
              Reserva no alcanzada
            </p>
          </div>
          }
          @case ('completed') {
          <div class="py-1">
            <p class="font-bold ml-4 border border-green-700 bg-[#b6f0ae] text-green-700 px-6 py-1 rounded-xl">
              Vendido
            </p>
          </div>
          }
          }
          }
        </div>
        <div class="flex lg:grid lg:grid-flow-col gap-x-2 md:gap-x-4 items-center md:text-center">
          <!-- <div class="ml-auto">
            <img class="inline-block w-7 h-7" src="assets/img/icons/share.svg" alt="">
          </div> -->
          <button (click)="followOrUnfollowAuction(auction().data.attributes.originalAuctionArtId)">
            <shared-star [shouldFill]="isFollowing() ? true : false"
              classes="inline-block w-5 h-5 md:w-7 md:h-7"></shared-star>
          </button>
          <div class="col-span-2 md:col-span-1">
            @defer (when specificAuction().data) {
            @if (specificAuction().data.status === 'active') {
            <button (click)="openMakeAnOfferModal()" rounded="rounded-xl" px="px-3 md:px-6" py="py-2 md:py-3.5"
              width="w-fit" class="font-lato font-semibold text-xxs md:text-xs" sharedPrimaryButton>
              OFERTAR
            </button>
            }
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <two-column-auction-grid>
      <ng-container left>
        <div class="max-w-3xl mx-auto">
          @defer (when imagesPublish().data) {
          <div id="productCarousel" #myCarousel class="f-carousel">
            <div class="f-carousel__slide" [attr.data-thumb-src]="imagesPublish().data.fotoPrincipal"
              data-fancybox="gallery" [attr.data-src]="imagesPublish().data.fotoPrincipal">
              <img #leftColumn class="object-contain max-h-72 md:max-h-[27rem]" width="100%" height="100"
                [attr.data-lazy-src]="imagesPublish().data.fotoPrincipal" />
            </div>
            @for (auction of imagesPublish().data.fotosCarrusel; track $index) {
            <div class="f-carousel__slide" [attr.data-thumb-src]="auction" data-fancybox="gallery"
              [attr.data-src]="auction">
              <img class="object-contain max-h-72 md:max-h-[27rem]" width="100%" height="100"
                [attr.data-lazy-src]="auction" />
            </div>
            }
          </div>
          }
        </div>
        <!-- @defer (when imagesPublish().data) {
          <div class="f-carousel" id="myCarousel" #myCarousel>
            @for (auction of imagesPublish().data.fotosCarrusel; track $index) {
            <div class="f-carousel__slide" [attr.data-thumb-src]="auction" data-fancybox="gallery"
              [attr.data-src]="auction">
              <img width="100%" height="100" [attr.data-lazy-src]="auction" />
            </div>
            }
          </div>
          } -->

        <section class="flex justify-between mt-8">
          @if (specificAuction().data && specificAuction().data.status !== 'preview') {
          <div class="underline text-xs md:text-base">{{comments().data ? comments().data.length : 0}} comentarios</div>
          } @else {
          <div></div>
          }

          @defer (when metrics().data) {
          <div class="text-gray4 text-sm flex space-x-4">
            <div class="flex items-center">
              <img class="mr-2" src="assets/img/icons/eye-outline.svg">
              {{metrics().data.attributes.visualizations | number}}
            </div>
            <div class="flex items-center">
              <shared-star class="mr-2" classes="text-gray4 w-5 h-5"></shared-star>
              {{metrics().data.attributes.followedCount | number}}
            </div>
          </div>
          }
        </section>

        <hr class="my-4">
      </ng-container>
      <ng-container right>
        <div class="h-full">
          <div class="flex flex-col justify-between h-full">
            <!-- information auction -->
            @if (auction().data) {
            <div #rightColumn>
              <auction-details-table-component [auctionDetails]="auctionDetails()"></auction-details-table-component>
            </div>
            }
            <section class="md:hidden shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
              <h3 class="font-semibold mb-2">Información adicional</h3>
              @if (auction().data) {
              <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
                @for (item of auction().data.attributes.artHistory.extraInfo; track $index) {
                <li>{{item}}</li>
                }
              </ul>
              <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>
              <ul class="space-y-1">
                <li>
                  <span class="text-gray4">Lote #:</span>&nbsp;<span
                    class="font-semibold">{{auction().data.attributes.auctionArtForm.lotNumber}}</span>
                </li>
                <li>
                  <span class="text-gray4">Ubicación:</span>&nbsp;<span class="font-semibold">
                    {{auction().data.attributes.auctionArtForm.state}}</span>
                </li>
              </ul>
              <div class="my-4">
                <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
                <span class="align-middle">
                  {{auction().data.attributes.dataUser.username}}
                </span>
              </div>
              <div>
                <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">Privado</span>
              </div>
              <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>
              <ol class="list-inside list-disc mb-8">
                @for (item of auction().data.attributes.artDetail.additionalCharges; track $index) {
                <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
                }
              </ol>
              }
            </section>
            <hr class="my-4">
          </div>
        </div>
      </ng-container>
    </two-column-auction-grid>

    <two-column-auction-grid>
      <ng-container left>
        @if (auction().data) {
        <section class="space-y-4">
          @for (item of auction().data.attributes.artHistory.blocks; track $index) {
          @switch (item.type) {
          @case ('text') {
          <p class="text-justify text-xs md:text-base" style="word-wrap: break-word;">
            {{item.content}}
          </p>
          }

          @case ('image') {
          <img class="w-full" [src]="item.content" alt="">
          }
          }
          }
        </section>
        }

        @if (this.auction().data && this.auction().data.attributes.auctionArtForm.videos.length > 0) {
        <section>
          <h2 class="text-xl font-bold mt-8 mb-6">Galería de video</h2>
          <swiper-container init="false" #videoGallery>
            @for (item of this.auction().data.attributes.auctionArtForm.videos; track $index) {
            <swiper-slide class="pb-12">
              <a class="relative" [href]="item" data-fancybox="gallery2" data-type="iframe">
                <img [src]="getPhotoFromVideoUrl(item)" alt="">
                <img src="assets/img/icons/play-circle.svg" alt=""
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16">
              </a>
            </swiper-slide>
            }
          </swiper-container>
        </section>
        }

        @defer (when auction().data) {
        @if (auction().data.attributes.status !== auctionCarStatus.Preview) {
        <auction-summary [auction]="auction()" [metrics]="metrics()" [auctionType]="auctionType.art"
          [specificAuction]="specificAuction()" (makeAnOfferModalIsOpenChanged)="openMakeAnOfferModal($event)">
        </auction-summary>
        }

        @if (specificAuction().data && specificAuction().data.status !== 'preview') {
        <section class="mt-12">
          @defer (when comments().data) {
          <h3 class="text-xl font-bold mb-6">{{comments().data.length}} Comentarios</h3>
          }

          @defer (when auction().data) {
          <comments-textarea [auctioneerUserId]="auction().data.attributes.auctionArtForm.userId"
            [auctionType]="auctionType.art" [auctionTypeComment]="auctionTypesComments.active"
            [auctionCarPublishId]="auction().data.attributes.originalAuctionArtId" placeholder="Agregar un comentario"
            (commentCreated)="getComments()"></comments-textarea>
          }

          <div class="mt-4">
            <img class="inline mr-2" src="assets/img/icons/notifications-outline.svg" alt="">
            <span class="underline">Mantenme en la conversación por correo</span>
          </div>

          @for (comment of comments().data; track $index) {
          <comment [comment]="comment" [auctionCarPublishId]="auction().data.attributes.originalAuctionArtId"
            [auctionTypeComment]="auctionTypesComments.active" [auctionType]="auctionType.art"
            (commentCreated)="getComments()"></comment>
          }
        </section>
        }
        }

        <!-- <recently-completed-memorabilia-auctions [auctionId]="auctionId()!"></recently-completed-memorabilia-auctions> -->
      </ng-container>

      <ng-container right>
        <section class="hidden md:block shadow mt-8 rounded-xl border border-gray3 px-6 py-6">
          <h3 class="font-semibold mb-2">Información adicional</h3>

          @if (auction().data) {
          <ul class="list-inside list-disc text-gray4" style="word-wrap: break-word">
            @for (item of auction().data.attributes.artHistory.extraInfo; track $index) {
            <li>{{item}}</li>
            }
          </ul>

          <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

          <ul class="space-y-1">
            <li>
              <span class="text-gray4">Lote #:</span>&nbsp;<span
                class="font-semibold">{{auction().data.attributes.auctionArtForm.lotNumber}}</span>
            </li>
            <li>
              <span class="text-gray4">Ubicación:</span>&nbsp;<span class="font-semibold">
                {{auction().data.attributes.auctionArtForm.state}}</span>
            </li>
          </ul>

          <div class="my-4">
            <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
            <span class="align-middle">
              {{auction().data.attributes.dataUser.username}}
            </span>
          </div>

          <div>
            <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">Privado</span>
          </div>

          <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

          <ol class="list-inside list-disc mb-8">
            @for (item of auction().data.attributes.artDetail.additionalCharges; track $index) {
            <li>{{item.chargeType}}: {{item.amount | currency:'USD':'symbol':'1.0-2'}} MXN</li>
            }
          </ol>
          }

        </section>

        <section class="shadow mt-8 rounded-xl border border-gray3 px-6 py-6 ml-auto">
          <h3 class="font-semibold mb-6">¿Tienes una pieza de arte y quieres venderla?</h3>

          <button classes="font-optima font-semibold" sharedPrimaryButton>VENDE CON NOSOTROS</button>
        </section>

        @if (specificAuction().data && specificAuction().data.status !== 'preview') {
        <section class="shadow mt-8 rounded-xl border border-gray3 px-6 py-6 ml-auto">
          <div class="xl:flex items-center justify-between">
            <h3 class="mb-2 xl:mb-0 font-semibold">Historial de ofertas</h3>
            <button (click)="openMakeAnOfferModal()" classes="font-optima font-semibold text-sm" width="w-fit" px="px-6"
              sharedPrimaryButton>
              HACER UNA OFERTA
            </button>
          </div>

          @defer (when specificAuction().data) {
          <div class="overflow-y-scroll custom-scrollbar mt-6 max-h-[26rem] pr-3">
            @if (specificAuction().data.winnerInfo) {
            <div class="flex gap-x-4 p-4 rounded-xl">
              <img src="assets/img/icons/arrow-up-circle-outline.svg" alt="">
              <div class="text-gray4">
                <p class="text-gray4 text-sm">Vendido</p>
                <p class="font-semibold text-black">
                  {{specificAuction().data.winnerInfo.amount | currency:'USD':'symbol':'1.0-2'}} MXN
                </p>
                <p>{{specificAuction().data.winnerInfo.userName}}</p>
                <span>{{transformDate(specificAuction().data.winnerInfo.purchaseDate) | amTimeAgo}}</span>
              </div>
            </div>
            }
            @for (item of specificAuction().data.bids; track $index; let last = $last) {
            <div class="flex gap-x-4 p-4 rounded-xl" [ngClass]="{'bg-green1/30': $index === 0}">
              <img src="assets/img/icons/arrow-up-circle-outline.svg" alt="">
              <div class="text-gray4">
                <p class="font-semibold text-black">
                  {{item.bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
                <p>{{item.userName || 'Precio de salida'}}</p>
                <span>{{transformDate(item.bidTime) | amTimeAgo}}</span>
              </div>
            </div>

            @if ($index !== 0 && !last) {
            <hr>
            }
            }
          </div>
          }
        </section>
        }

        <!-- <current-memorabilia-auctions [auctionId]="auctionId()"></current-memorabilia-auctions> -->
      </ng-container>
    </two-column-auction-grid>
  </div>
</div>

@defer (when makeAnOfferModalIsOpen()) {

@if (offeredAmount()) {
<auction-make-an-offer-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.art"
  (offerMade)="getAuctionDetails(auction().data.attributes.originalAuctionArtId);getComments()"
  [offerAmount]="offeredAmount()" [isOpen]="makeAnOfferModalIsOpen()"
  (isOpenChange)="makeAnOfferModalIsOpenChanged($event)">
</auction-make-an-offer-modal>
}@else {
<auction-make-an-offer-modal [paymentMethodId]="paymentMethodId()" [auctionId]="auction().data.id"
  [newOfferMade]="newOfferMade()" [auctionType]="auctionType.art"
  (offerMade)="getAuctionDetails(auction().data.attributes.originalAuctionArtId);getComments()"
  [isOpen]="makeAnOfferModalIsOpen()"
  (isOpenChange)="makeAnOfferModalIsOpenChanged($event)"></auction-make-an-offer-modal>
}
}

<payment-method-modal (paymentMethodAdded)="refreshPaymentMethods()"
  [isOpen]="paymentMethodModalIsOpen"></payment-method-modal>

@defer (when auctionId()) {
<auction-cancelled [(isOpen)]="auctionCancelledModalIsOpen" [auctionId]="auctionId()!"
  lastChanceUrl="/ultima-oportunidad-arte"></auction-cancelled>
}

<confirmation-modal [(isOpen)]="confirmAcceptPreviewArtModalIsOpen"
  [isButtonSubmitDisabled]="isAcceptPreviewArtAuctionButtonDisabled()" (acceptChange)="acceptPreviewArt()">
  <ng-container title>
    Aceptar subasta
  </ng-container>
  <ng-container body>
    <span class="text-sm text-gray-500">
      Yo, {{user?.attributes?.firstName}} {{user?.attributes?.lastName}} en calidad de propietario y/o dealer de la
      pieza descrita, acepto las condiciones establecidas para la subasta de la misma.
    </span>
  </ng-container>
</confirmation-modal>

@if (specificAuction().data) {
<update-reserve-price-modal [(isOpen)]="isUpdateReservePriceModalOpen"
  [currentReservePrice]="specificAuction().data.reserveAmount" [auctionType]="auctionType.art"
  [auctionId]="auction().data.id">
</update-reserve-price-modal>
}