@defer (when requests().data && requests().data.length > 0) {
<div class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-8">
  @for (request of requests().data; track request.id) {
  <div class="col-span-4">
    <div class="flex gap-4">
      <img class="rounded-lg min-w-32 min-h-32 w-32 h-32 object-cover border border-gray-200"
        [src]="request.attributes.portada"
        [alt]="(request.type === activityRequestsType.Autos) ? request.attributes.marca + ' ' + request.attributes.modelo + ' ' + request.attributes['año'] : request.attributes.titulo">
      <div>
        <h3 class="font-lato font-bold text-lg">
          @switch (request.type) {
          @case (activityRequestsType.Autos) {
          {{ request.attributes.marca }} {{ request.attributes.modelo }} {{ request.attributes['año']}}
          }
          @case (activityRequestsType.Arte) {
          {{ request.attributes.titulo }}
          }
          }
        </h3>
        <p>
          {{ request.attributes['año'] }}
        </p>
        <p class="font-semibold text-sm">
          {{ request.attributes.porcentaje }}% completo
        </p>
        @switch (request.attributes.status) {
        @case (activityRequestsStatus.Pending) {
        <p class="font-semibold text-sm text-yellow-500">
          Pendiente
        </p>
        }
        @case (activityRequestsStatus.Accepted) {
        <p class="font-semibold text-sm text-green-500">
          Aprobada
        </p>
        }
        @case (activityRequestsStatus.rejected) {
        <p class="font-semibold text-sm text-red-500">
          Rechazada
        </p>
        }
        }
        <span class="text-sm">
          Lote: <b>{{ request.attributes.lote }}</b>
        </span>
      </div>
    </div>
  </div>

  <div class="col-span-8">
    <nav aria-label="Progress">
      <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
        <li class="md:flex-1">
          <div [class.border-green-500]="request.attributes.solicitud"
            [class.hover:border-green-800]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.Accepted"
            class="group cursor-pointer flex flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium">Solicitud</span>
            </div>
            @switch (request.attributes.status) {
            @case (activityRequestsStatus.Pending) {
            <span class="text-sm font-semibold">
              En espera de aprobación
            </span>
            }

            @case (activityRequestsStatus.rejected) {
            <span class="text-sm font-semibold text-red-500">
              La solicitud fue rechazada
            </span>
            }
            }
          </div>
        </li>
        <li class="md:flex-1">
          <div
            [class.border-green-500]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Accepted"
            [class.border-yellow-500]="!request.attributes.pago && request.attributes.solicitud === true && request.attributes.status === activityRequestsStatus.Accepted"
            [class.hover:border-green-800]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Accepted"
            [class.hover:border-yellow-800]="!request.attributes.pago && request.attributes.solicitud === true && request.attributes.status === activityRequestsStatus.Accepted"
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
            aria-current="step">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <p class="text-sm font-medium tex">Pago</p>
            </div>
            @if (request.attributes.status === activityRequestsStatus.Accepted && request.attributes.solicitud === true
            && request.attributes.pago === false) {
            @switch (request.type) {
            @case (activityRequestsType.Autos) {
            <a [routerLink]="['/completar-registro-vehiculo', request.attributes.auctionPaymentId]"
              class="underline font-semibold text-sm">
              Realizar pago
            </a>
            }
            @case (activityRequestsType.Arte) {
            <a [routerLink]="['/completar-registro-arte', request.attributes.auctionPaymentId]"
              class="underline font-semibold text-sm">
              Realizar pago
            </a>
            }
            }
            }
          </div>
        </li>
        <li class="md:flex-1">
          <div
            [class.border-green-500]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Accepted"
            [class.border-yellow-500]="!request.attributes.formularios && request.attributes.pago === true"
            [class.hover:border-green-800]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Accepted"
            [class.hover:border-yellow-800]="!request.attributes.formularios && request.attributes.pago === true"
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
            aria-current="step">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium tex">Formularios</span>
            </div>
            @if (request.attributes.status === activityRequestsStatus.Accepted && request.attributes.pago === true
            && request.attributes.formularios === false) {
            @switch (request.type) {
            @case (activityRequestsType.Autos) {
            <a [routerLink]="['/completar-registro-vehiculo', request.attributes.auctionPaymentId]"
              class="underline font-semibold text-sm">
              Completar formulario
            </a>
            }
            @case (activityRequestsType.Arte) {
            <a [routerLink]="['/completar-registro-arte', request.attributes.auctionPaymentId]"
              class="underline font-semibold text-sm">
              Completar formulario
            </a>
            }
            }
            }
          </div>
        </li>
        <li class="md:flex-1">
          <div
            [class.border-green-500]="request.attributes.acceptedBySeller && request.attributes.status === activityRequestsStatus.Accepted"
            [class.border-yellow-500]="!request.attributes.acceptedBySeller && request.attributes.formularios === true"
            [class.hover:border-green-800]="request.attributes.acceptedBySeller && request.attributes.status === activityRequestsStatus.Accepted"
            [class.hover:border-yellow-800]="!request.attributes.acceptedBySeller && request.attributes.formularios === true"
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
            aria-current="step">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium tex">Autorización</span>
            </div>
            @if (request.attributes.status === activityRequestsStatus.Accepted && request.attributes.autorizacion ===
            true && request.attributes.enVivo === false) {
            @switch (request.type) {
            @case (activityRequestsType.Autos) {
            <a [routerLink]="['/subasta', request.id]" class="underline font-semibold text-sm">
              Vista previa
            </a>
            }

            @case (activityRequestsType.Arte) {
            <a [routerLink]="['/subasta-arte', request.id]" class="underline font-semibold text-sm">
              Vista previa
            </a>
            }
            }
            }
          </div>
        </li>


        <li class="md:flex-1">
          <div
            [class.border-green-500]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Accepted"
            [class.border-red-500]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.rejected"
            [class.border-yellow-500]="!request.attributes.enVivo && request.attributes.acceptedBySeller === true"
            [class.hover:border-green-800]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Accepted"
            [class.hover:border-red-800]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.rejected"
            [class.hover:border-yellow-800]="!request.attributes.enVivo && request.attributes.acceptedBySeller === true"
            class="group cursor-pointer flex flex-col border-l-4 border-gray-200 py-2 pl-4 hover:border-gray-300 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium">¡En vivo!</span>
            </div>
            <div>
              @switch (request.attributes.etiqueta) {
              @case (activityRequestsEtiqueta.lastChance) {
              <span
                class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                Última oportunidad
              </span>
              }

              @case (activityRequestsEtiqueta.live) {
              <span
                class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                Subasta en vivo
              </span>
              }

              @case (activityRequestsEtiqueta.proxima){
              <span
                class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20">
                Próxima
              </span>
              }

              @default {
              <span class="text-sm font-semibold">
                {{ request.attributes.etiqueta }}
              </span>
              }
              }
            </div>
          </div>
        </li>
      </ol>
    </nav>

  </div>
  }
</div>

@if (requests().data) {
<mat-paginator [length]="requests().meta.totalCount" [pageSize]="requests().meta.pageSize" [pageIndex]="page() - 1"
  [pageSizeOptions]="pageSizeOptions()" (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>
}
} @placeholder(minimum 500ms) {
<!-- skeleton -->
<div class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-8">
  <div class="col-span-4">
    <div class="flex gap-4">
      <div class="rounded-lg min-w-32 min-h-32 w-32 h-32 object-cover border border-gray-200 bg-gray-200 animate-pulse">
      </div>
      <div>
        <div class="font-lato font-bold text-lg animate-pulse">-</div>
        <p class="animate-pulse">-</p>
        <p class="font-semibold text-sm animate-pulse">-</p>
        <span class="animate-pulse">-</span>
      </div>
    </div>
  </div>

  <div class="col-span-8">
    <nav aria-label="Progress">
      <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
        <li class="md:flex-1">
          <div
            class="group cursor-pointer flex flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4 animate-pulse">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium animate-pulse">-</span>
            </div>
            <span class="text-sm font-semibold animate-pulse">-</span>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4 animate-pulse">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <p class="text-sm font-medium tex animate-pulse">-</p>
            </div>
            <a class="underline font-semibold text-sm animate-pulse">-</a>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4 animate-pulse">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium tex animate-pulse">-</span>
            </div>
            <a class="underline font-semibold text-sm animate-pulse">-</a>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4 animate-pulse">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium tex animate-pulse">-</span>

            </div>
            <a class="underline font-semibold text-sm animate-pulse">-</a>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="group cursor-pointer flex flex-col border-l-4 border-gray-200 py-2 pl-4 hover:border-gray-300 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4 animate-pulse">
            <div class="flex items-center gap-2">
              <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
              <span class="text-sm font-medium animate-pulse">-</span>
            </div>
            <div>
              <span class="text-sm font-semibold animate-pulse">-</span>
            </div>
          </div>
        </li>
      </ol>
    </nav>
  </div>
</div>

}