<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
            Vehículo
          </th>
          <!-- <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th> -->
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estatus</th>
          <!-- <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th> -->
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Detalles</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
            <span class="sr-only">Acciones</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        @for (publication of artRequests().data; track $index) {
        <tr>
          <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
            <div class="flex items-center">
              <div class="h-11 w-11 flex-shrink-0">
                <img class="h-11 w-11 rounded-full object-cover" [src]="publication.attributes.photo" alt="">
              </div>
              <div class="ml-4">
                <div class="font-medium text-gray-900">
                  {{ publication.attributes.title}}
                </div>
              </div>
            </div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <span
              class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
              {{ publication.attributes.status }}
            </span>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <button (click)="openRequestsDetailsModal(publication.id)"
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium text-indigo-800 underline">
              Ver detalles
            </button>
          </td>
          <!-- <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">Member</td> -->
          @if (publication.attributes.status === 'Pendiente') {
          <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
            <!-- TODO: descomentar cuando me devuelvan el id de la publicación -->
            <select sharedInput (change)="updatePublicationRequestStatus(publication.id, $event)">
              <option value disabled selected>Selecciona una opción</option>
              <option value="accepted">Aceptar</option>
              <option value="rejected">Rechazar</option>
            </select>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<art-requests-details-modal [(isOpen)]="requestsDetailsModalIsOpen" [publicationId]="publicationId()">
</art-requests-details-modal>