<section class="container mt-16 text-justify">
  <h1 class="font-optima font-bold text-center text-4xl">Cómo funciona</h1>

  <p class="text-center mt-4 mb-12">Esta es tu guía para participar en las subastas de CAART</p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-gray8 px-6 pt-6 pb-12 rounded-lg">
      <p class="text-2xl font-bold font-optima">¿Eres vendedor?</p>

      <ol class="list-decimal list-inside mt-4">
        <li class="mt-8">
          <span class="font-semibold">Regístrate:</span> Crea tu cuenta en CAART y proporciona la información necesaria
          para acceder como vendedor.
        </li>

        <!-- Publica tu pieza: Completa el formulario para registrar tu Auto u Obra de Arte. Recuerda incluir detalles importantes y destacar las características únicas de tu pieza. -->
        <li class="mt-8">
          <span class="font-semibold">Publica tu pieza:</span> Completa el formulario para registrar tu Auto u Obra de
          Arte. Recuerda incluir detalles importantes y destacar las características únicas de tu pieza.
        </li>

        <!-- Revisión y aprobación: Nuestro equipo revisará cuidadosamente tu información para garantizar la calidad y autenticidad de tu pieza. Una vez aprobada, ¡estará lista para la subasta! -->
        <li class="mt-8">
          <span class="font-semibold">Revisión y aprobación:</span> Nuestro equipo revisará cuidadosamente tu
          información
          para garantizar la calidad y autenticidad de tu pieza. Una vez aprobada, ¡estará lista para la subasta!
        </li>
      </ol>

      <button routerLink="/registrar-subasta" class="mt-10" width="w-fit" py="py-2.5" sharedPrimaryButton>Subasta tu
        pieza</button>
    </div>
    <div class="bg-gray8 px-6 pt-6 pb-12 rounded-lg">
      <p class="text-2xl font-bold font-optima">¿Eres comprador?</p>

      <ol class="list-decimal list-inside mt-4">
        <li class="mt-8">
          <span class="font-semibold">Regístrate:</span> Crea tu cuenta en CAART y proporciona la información necesaria
          para acceder como comprador.
        </li>

        <li class="mt-8">
          <span class="font-semibold">Realiza ofertas seguras:</span> Participa en las subastas con ofertas
          transparentes
          para tener posibilidad de adquirir las piezas de tu interés de forma fácil y segura.
        </li>

        <li class="mt-8">
          <span class="font-semibold">Gestión de compras:</span> Monitorea las subastas y tus ofertas en tiempo real,
          además CAART te permite organizar tus intereses y compras de manera intuitiva y eficaz.
        </li>
      </ol>

      <button routerLink="/subastas-en-vivo" class="mt-10" width="w-fit" py="py-2.5" sharedPrimaryButton>
        Subastas en vivo
      </button>
    </div>
  </div>

  <div class="bg-gray8 px-6 py-8 rounded-lg mt-8 mb-32">
    <h2 class="text-2xl font-optima font-bold">
      Guía de subastas
    </h2>
    <br>
    <p class="text-xl font-semibold">Sobre las ofertas</p>
    <br>
    <p class="font-semibold">Formato de subasta dinámico:</p>
    <ul class="list-disc list-inside">
      <li>
        Contamos con un formato que simula una subasta en vivo. Cada vez que haces una oferta, registramos la cantidad
        exacta que indicas. Por ejemplo, si ofreces $30,000 MXN, te comprometes a pagar esa cantidad por el producto
        subastado.
      </li>
    </ul>
    <br>
    <p class="font-semibold">Extensión de tiempo:</p>
    <ul class="list-disc list-inside">
      <li>
        Nos esforzamos por mantener una experiencia competitiva y justa. Si se realiza una oferta cuando quedan menos de
        2 minutos en el tiempo originalmente establecido para la subasta, se restablecerá el temporizador a 2 minutos
        para garantizar igualdad de oportunidades para todos los interesados.
      </li>
    </ul>
    <br>
    <p class="font-semibold">Cierre de subasta:</p>
    <ul class="list-disc list-inside">
      <li>
        Cuando concluye la subasta, inicia un periodo de revisión de resultados que puede tardar de 1 a 30 minutos.
        Este tiempo es para asegurar la precisión y la legitimidad de todas las ofertas y preparar la siguiente fase del
        proceso de compra.
      </li>
    </ul>

    <p class="text-xl font-semibold mt-8">Tarifas de servicio (Vendedor)</p>
    <ul class="list-disc list-inside">
      <li>
        Precio por publicación de Auto: $1,999.00 MXN
      </li>
      <li>
        Precio por publicación de Obra de Arte: $399.00 MXN
      </li>
      <li>
        Precio por publicación de Memorabilia / Coleccionables: 399.00 MXN
      </li>
    </ul>
    <br>
    <p class="text-xl font-semibold">En caso de ser vendida la pieza</p>
    <ul class="list-disc list-inside">
      <li>
        Comisión Auto: NA
      </li>
      <li>
        Comisión Obra de Arte: 10%
      </li>
      <li>
        Comisión Memorabilia / Coleccionables: 10%
      </li>
    </ul>

    <p class="text-xl font-semibold mt-8">Tarifas de servicio (Comprador)</p>

    <ul class="list-disc list-inside">
      <strong>Auto</strong>
      <ul class="list-disc list-inside ml-2">
        <li>
          Comisión: 5%
        </li>
        <li>
          Mínimo: $5,000 MXN
        </li>
        <li>
          Máximo: $200,000 MXN
        </li>
      </ul>
      <strong>Obra de Arte</strong>
      <ul class="list-disc list-inside ml-2">
        <li>
          Comisión: 10%
        </li>
        <li>
          Mínimo: $250 MXN
        </li>
      </ul>
      <strong>Memorabilia / Coleccionables</strong>
      <ul class="list-disc list-inside ml-2">
        <li>
          Comisión: 10%
        </li>
        <li>
          Mínimo: $250 MXN
        </li>
      </ul>
    </ul>
    <br>
    <p>Retención en tarjeta de crédito: Cuando realizas una oferta, retenemos temporalmente el monto equivalente a la
      comisión del comprador en la
      tarjeta
      que registraste. Si no ganas la subasta, esta cantidad será liberada por completo.</p>


    <p class="text-xl font-semibold mt-4 mb-2">Categorías</p>

    <p class="font-semibold">Autos, Obras de Arte, Coleccionables / Memorabilia</p>
    <br>
    <span class="font-semibold">Piezas con reserva:</span>
    <ul class="list-disc list-inside">
      <li>
        En esta modalidad, el vendedor establece un precio mínimo de reserva. La pieza solo se venderá si la oferta
        alcanza o supera ese monto para garantizar que el vendedor reciba la cantidad que estipuló.
      </li>
    </ul>
    <br>

    <span class="font-semibold">Piezas sin reserva:</span>
    <ul class="list-disc list-inside">
      <li>
        En esta modalidad el vendedor no establece ningún precio de reserva. La pieza se venderá al usuario que realice
        la mejor oferta, sin importar el monto final.
      </li>
    </ul>

    <p class="text-xl font-semibold mt-4 mb-2">Preguntas y comentarios</p>
    <p>Los usuarios registrados en CAART pueden participar activamente en las subastas a través de los comentarios.
      Encontrarás un espacio para comentar en la parte inferior de cada página, donde también podrás compartir tus
      opiniones y hacer preguntas sobre las piezas.</p>

    <p class="text-xl font-semibold mt-4 mb-2">Proceso de oferta</p>
    <p>Para hacer una oferta, dirígete a la parte inferior de la página y haz clic en 'Hacer oferta'. Ingresa el monto
      que deseas ofrecer y ¡listo! Tendrás acceso a la sección con información actualizada sobre el estado de la
      subasta.</p>

    <p class="text-xl font-semibold mt-4 mb-2">Favoritos</p>
    <p>En la sección 'Mis favoritos', representada por el ícono de una estrella, encontrarás tu espacio personal en
      CAART, donde podrás almacenar tus preferencias e intereses.</p>

    <p class="text-xl font-semibold mt-4 mb-2">Última oportunidad</p>
    <p>Esta sección es nuestro marketplace, donde encontrarás todas las piezas que no llegaron al precio de reserva.
      Estarán disponibles durante 1 mes.</p>

  </div>
</section>