<form [formGroup]="exteriorForm" class="grid grid-cols-2 gap-5 items-end" (submit)="updateExteriorDetails()">
  <!-- <p class="mt-4"><b>ID:</b> {{wizardData().data.exteriorDetails._id}}</p>
  <p><b>originalAuctionCarId:</b> {{wizardData().data.exteriorDetails.originalAuctionCarId}}</p> -->
  <!-- <p><b>VIN:</b> {{wizardData().data.exteriorDetails.VIN}}</p> -->
  <!-- <p><b>Accidente:</b> {{wizardData().data.exteriorDetails.accident ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>Marca:</b> {{wizardData().data.exteriorDetails.brand}}</p> -->
  <!-- <p><b>Historial del auto:</b> {{wizardData().data.exteriorDetails.carHistory}}</p> -->
  <!-- <p><b>Modelo:</b> {{wizardData().data.exteriorDetails.carModel}}</p> -->
  <!-- <p><b>Comentarios:</b> {{wizardData().data.exteriorDetails.detailComments}}</p> -->
  <!-- <p><b>Color exterior:</b> {{wizardData().data.exteriorDetails.exteriorColor}}</p> -->
  <!-- <p><b>Condición exterior:</b> {{wizardData().data.exteriorDetails.exteriorCondition}}</p> -->
  <!-- <p><b>Modificaciones exteriores:</b> {{wizardData().data.exteriorDetails.exteriorModified ? 'Sí' : 'No'}}</p> -->
  <div>
    <label for="brand" class="block mb-1 text-sm">Marca <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="brand" formControlName="brand" type="text" sharedInput>
    @if (hasError('brand')) {
    <shared-input-error [message]="getError('brand')"></shared-input-error>
    }
  </div>

  <div>
    <label for="carModel" class="block mb-1 text-sm">Modelo <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="carModel" formControlName="carModel" type="text" sharedInput>
    @if (hasError('carModel')) {
    <shared-input-error [message]="getError('carModel')"></shared-input-error>
    }
  </div>

  <div>
    <label for="year" class="block mb-1 text-sm">Año <span class="font-bold text-red-500 inline-block">*</span></label>
    <input id="year" formControlName="year" type="number" min="0" [max]="currentYear" sharedInput>
    @if (hasError('year')) {
    <shared-input-error [message]="getError('year')"></shared-input-error>
    }
  </div>

  <!-- kmInput -->
  <div>
    <label for="kmInput" class="block mb-1 text-sm">Kilometraje <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="kmInput" formControlName="kmInput" type="text" mask="separator.0" thousandSeparator="," sharedInput>
    @if (hasError('kmInput')) {
    <shared-input-error [message]="getError('kmInput')"></shared-input-error>
    }
  </div>

  <div>
    <label for="odometerVerified" class="block mb-1 text-sm">¿El odómetro es acertado? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="odometerVerified" formControlName="odometerVerified" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('odometerVerified')) {
    <shared-input-error [message]="getError('odometerVerified')"></shared-input-error>
    }
  </div>

  <!-- transmision select -->
  <div>
    <label for="transmissionType" class="block mb-1 text-sm">Transmisión <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select formControlName="transmissionType" id="transmissionType" sharedInput>
      <option value="Automática">Automática</option>
      <option value="Manual">Manual</option>
      <option value="Otro">Otro</option>
    </select>
    @if (hasError('transmissionType')) {
    <shared-input-error [message]="getError('transmissionType')"></shared-input-error>
    }
  </div>

  <!-- other transmission type -->

  @if (transmissionTypeControl.value === 'Otro') {
  <div>
    <label for="otherTransmission" class="block mb-1 text-sm">Otro tipo de transmisión <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="otherTransmission" formControlName="otherTransmission" type="text" sharedInput>
    @if (hasError('otherTransmission')) {
    <shared-input-error [message]="getError('otherTransmission')"></shared-input-error>
    }
  </div>
  }

  <!-- VIN -->
  <div>
    <label for="vin" class="block mb-1 text-sm">VIN <span class="font-bold text-red-500 inline-block">*</span></label>
    <input id="vin" formControlName="VIN" type="text" sharedInput>
    @if (hasError('VIN')) {
    <shared-input-error [message]="getError('VIN')"></shared-input-error>
    }
  </div>

  <!-- Garantías del auto select -->
  <div class="col-span-1">
    <label for="warranties" class="block mb-1 text-sm">Garantías del auto <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="warranties" formControlName="warranties" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('warranties')) {
    <shared-input-error [message]="getError('warranties')"></shared-input-error>
    }
  </div>

  <!-- wichWarranties -->
  @if (warrantiesControl.value === 'true' || warrantiesControl.value === true) {
  <div class="col-span-2">
    <label for="wichWarranties" class="block mb-1 text-sm">¿Cuáles? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="wichWarranties" formControlName="wichWarranties" rows="4" sharedInput
      sharedAutoResizeTextarea></textarea>
    @if (hasError('wichWarranties')) {
    <shared-input-error [message]="getError('wichWarranties')"></shared-input-error>
    }
  </div>
  }

  <!-- Factura / Pedimento select -->
  <div class="col-span-2">
    <label for="invoiceType" class="block mb-1 text-sm">Factura / Pedimento <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="invoiceType" formControlName="invoiceType" sharedInput>
      <!-- <option value="true">Sí</option>
      <option value="false">No</option> -->
      <!-- invoice -->
      <option value="invoice">Factura</option>
      <option value="pediment">Pedimento</option>
      <option value="other">Otro</option>
    </select>
    @if (hasError('invoiceType')) {
    <shared-input-error [message]="getError('invoiceType')"></shared-input-error>
    }
  </div>

  <!-- Explica los detalles de Factura / Pedimiento / Otro textarea -->
  <div class="col-span-2">
    <label for="invoiceDetails" class="block mb-1 text-sm">Explica los detalles de Factura / Pedimiento /
      Otro <span class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="invoiceDetails" formControlName="invoiceDetails" rows="4" sharedInput
      sharedAutoResizeTextarea></textarea>
    @if (hasError('invoiceDetails')) {
    <shared-input-error [message]="getError('invoiceDetails')"></shared-input-error>
    }
  </div>

  <!-- Historia del auto textarea -->
  <div class="col-span-2">
    <label for="carHistory" class="block mb-1 text-sm">Historia del auto <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="carHistory" formControlName="carHistory" rows="6" sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('carHistory')) {
    <shared-input-error [message]="getError('carHistory')"></shared-input-error>
    }
  </div>

  <div class="col-span-2 mt-4">
    <h2 class="text-xl font-bold">Exterior del auto</h2>
  </div>

  <!-- Color exterior select -->
  <div>
    <label for="exteriorColor" class="block mb-1 text-sm">Color exterior <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="exteriorColor" formControlName="exteriorColor" type="text" sharedInput>
    @if (hasError('exteriorColor')) {
    <shared-input-error [message]="getError('exteriorColor')"></shared-input-error>
    }
  </div>

  <!-- Color específico -->
  <div>
    <label for="specificColor" class="block mb-1 text-sm">Color específico <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="specificColor" formControlName="specificColor" type="text" sharedInput>
    @if (hasError('specificColor')) {
    <shared-input-error [message]="getError('specificColor')"></shared-input-error>
    }
  </div>

  <!-- Ha estado involucrado en un accidente select -->
  <div class="col-span-2">
    <label for="accident" class="block mb-1 text-sm">¿Ha estado involucrado en un accidente? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="accident" formControlName="accident" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('accident')) {
    <shared-input-error [message]="getError('accident')"></shared-input-error>
    }
  </div>

  <!-- El auto se ha corrido en pista / autodromo select -->
  <div class="col-span-2">
    <label for="raced" class="block mb-1 text-sm">¿El auto se ha corrido en pista / autodromo? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="raced" formControlName="raced" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('raced')) {
    <shared-input-error [message]="getError('raced')"></shared-input-error>
    }
  </div>

  <!-- Pintura original select -->
  <div>
    <label for="originalPaint" class="block mb-1 text-sm">¿Pintura original? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="originalPaint" formControlName="originalPaint" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('originalPaint')) {
    <shared-input-error [message]="getError('originalPaint')"></shared-input-error>
    }
  </div>

  <!-- Cuentas con medidor de pintura select -->
  <div>
    <label for="paintMeter" class="block mb-1 text-sm">¿Cuentas con medidor de pintura? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="paintMeter" formControlName="paintMeter" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('paintMeter')) {
    <shared-input-error [message]="getError('paintMeter')"></shared-input-error>
    }
  </div>

  <!-- Se le ha modificado el exterior select -->
  <div>
    <label for="exteriorModified" class="block mb-1 text-sm">¿Se le ha modificado el exterior? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="exteriorModified" formControlName="exteriorModified" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('exteriorModified')) {
    <shared-input-error [message]="getError('exteriorModified')"></shared-input-error>
    }
  </div>

  <!-- Condición del exterior select -->
  <div>
    <label for="exteriorCondition" class="block mb-1 text-sm">Condición del exterior <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="exteriorCondition" formControlName="exteriorCondition" sharedInput>
      <option value="excellent">Excelente</option>
      <option value="good">Buena</option>
      <option value="regular">Regular</option>
      <option value="bad">Mala</option>
    </select>
    @if (hasError('exteriorCondition')) {
    <shared-input-error [message]="getError('exteriorCondition')"></shared-input-error>
    }
  </div>

  <!-- Comentarios sobre detalles textarea -->
  <div class="col-span-2">
    <label for="detailComments" class="block mb-1 text-sm">Comentarios sobre detalles <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="detailComments" formControlName="detailComments" rows="6"
      placeholder="Explícanos más sobre pintura, pista, sucesos, etc.." sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('detailComments')) {
    <shared-input-error [message]="getError('detailComments')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <p><b>Fotos:</b></p>
    <div class="grid grid-cols-3 gap-4">
      @for (photo of wizardData().data.exteriorDetails.exteriorPhotos; track $index) {
      <img [src]="photo" alt="Foto exterior">
      } @empty {
      <p>No hay fotos</p>
      }
    </div>
  </div>
  <div class="col-span-2">
    <p><b>Videos:</b></p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (video of wizardData().data.exteriorDetails.exteriorVideos; track $index) {
      <iframe width="100%" height="200" [src]="getSafeUrl(video)" frameborder="0" allowfullscreen></iframe>
      } @empty {
      <p>No hay videos</p>
      }
    </div>
  </div>

  <div class="col-span-2">
    <button class="flex justify-center mt-4" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Guardar
      }
    </button>
  </div>
  <!-- <p><b>Detalles de la factura:</b> {{wizardData().data.exteriorDetails.invoiceDetails}}</p> -->
  <!-- <p><b>Tipo de factura:</b> {{wizardData().data.exteriorDetails.invoiceType}}</p> -->
  <!-- <p><b>KM:</b> {{wizardData().data.exteriorDetails.kmInput | number}}</p> -->
  <!-- <p><b>Odómetro verificado:</b> {{wizardData().data.exteriorDetails.odometerVerified ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>Pintura original:</b> {{wizardData().data.exteriorDetails.originalPaint ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>Otra transmisión:</b> {{wizardData().data.exteriorDetails.otherTransmission}}</p> -->
  <!-- <p><b>Medidor de pintura:</b> {{wizardData().data.exteriorDetails.paintMeter ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>Carrera:</b> {{wizardData().data.exteriorDetails.raced ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>Color específico:</b> {{wizardData().data.exteriorDetails.specificColor}}</p> -->
  <!-- <p><b>Tipo de transmisión:</b> {{wizardData().data.exteriorDetails.transmissionType}}</p> -->
  <!-- <p><b>Garantías:</b> {{wizardData().data.exteriorDetails.warranties ? 'Sí' : 'No'}}</p> -->
  <!-- <p><b>¿Qué garantías?:</b> {{wizardData().data.exteriorDetails.wichWarranties}}</p> -->
  <!-- <p><b>Año:</b> {{wizardData().data.exteriorDetails.year}}</p> -->
</form>