@if (approvedAuctions().data && approvedAuctions().data.length > 0) {
<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-0 lg:px-0">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                # de lote
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Imagen</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Pieza</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tiempo restante</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reserva</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Oferta más alta</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Ver ofertas</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            @for (auction of approvedAuctions().data; track auction.id) {
            <tr>
              <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                {{ auction.attributes.lote }}
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm flex">
                <div>
                  <img [src]="auction.attributes.portada" [alt]="auction.attributes.title"
                    class="min-w-28 h-28 object-cover rounded-lg border border-gray-200">
                  <!-- Ver publicación button -->
                  @switch (auction.attributes.status) {
                  @case (myAuctionsStatus.lastChance) {
                  @switch (auction.type) {
                  @case (auctionTypes.auto) {
                  <a [routerLink]="['/ultima-oportunidad', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  @case (auctionTypes.arte) {
                  <a [routerLink]="['/ultima-oportunidad-arte', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  }
                  }
                  @case (myAuctionsStatus.liveAuction) {
                  @switch (auction.type) {
                  @case (auctionTypes.auto) {
                  <a [routerLink]="['/subasta', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  @case (auctionTypes.arte) {
                  <a [routerLink]="['/subasta-arte', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  }
                  }
                  <!-- @case (myAuctionsStatus.sold) {} -->
                  <!-- @case (myAuctionsStatus.proxima) {} -->
                  <!-- @case (myAuctionsStatus.preview) {} -->
                  @default {
                  @switch (auction.type) {
                  @case (auctionTypes.auto) {
                  <a [routerLink]="['/subasta', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  @case (auctionTypes.arte) {
                  <a [routerLink]="['/subasta-arte', auction.id]" class="block text-center underline mt-2">
                    Ver publicación
                  </a>
                  }
                  }
                  }
                  }
                </div>
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="font-semibold">
                  {{ auction.attributes.title }}
                </div>
                <!-- <div class="text-lg text-gray-500">
                    {{ auction.attributes.year }}
                  </div> -->
                <!-- <div class="font-semibold text-sm">
                    {{ auction.attributes.porcentaje }}% completo
                  </div> -->
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                <span
                  [ngClass]="auction.attributes.status === myAuctionsStatus.proxima ? 'text-yellow-700 bg-yellow-50 ring-yellow-600/20' : 'text-green-700 bg-green-50 ring-green-600/20'"
                  class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
                  <!-- {{ auction.attributes.status }} -->
                  @switch (auction.attributes.status) {
                  @case (myAuctionsStatus.lastChance) {
                  Última oportunidad
                  }

                  @case (myAuctionsStatus.liveAuction) {
                  Subasta en vivo
                  }

                  @case (myAuctionsStatus.proxima) {
                  Próxima
                  }

                  @case (myAuctionsStatus.preview) {
                  Pendiente
                  }

                  @default {
                  {{ auction.attributes.status }}
                  }
                  }
                </span>
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                @if (auction.attributes.status === myAuctionsStatus.proxima) {
                <!-- <span class="block text-center"> -->
                Comienza el {{ auction.attributes.startDate | date:'dd/MM/yyyy HH:mm' }}
                <!-- </span> -->
                } @else {
                @if (auction.attributes.tiempo) {
                <countdown [config]="countdownConfig(auction.attributes.tiempo)"
                  [ngClass]="{'text-red-500': countdownConfig(auction.attributes.tiempo).leftTime! <= 86400}">
                </countdown>
                } @else {
                <span class="block text-center">-</span>
                }
                }
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                @if (auction.attributes.status === myAuctionsStatus.liveAuction) {
                <button class="underline"
                  (click)="openUpdateReservePriceModal(auction._id, auction.type, auction.attributes.reserva)">
                  {{ auction.attributes.reserva | currency:'MXN':'symbol':'1.0-0' }}
                </button>
                }
                @else {
                {{ auction.attributes.reserva | currency:'MXN':'symbol':'1.0-0' }}
                }
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                @if (auction.attributes.ofertaMasAlta === 0) {
                <span>
                  No hay ofertas
                </span>
                } @else {
                {{ auction.attributes.ofertaMasAlta| currency:'MXN':'symbol':'1.0-0' }}
                }
              </td>
              <td class="whitespace-nowrap gap-2 py-5 pl-3 pr-4 sm:pr-0 text-right text-sm font-medium">
                <div class="flex items-center gap-2">
                  @switch (auction.attributes.status) {
                  @case (myAuctionsStatus.lastChance) {
                  <button matBadge="!" matBadgeSize="small" [matBadgeHidden]="!auction.attributes.hasUnreadComments"
                    class="text-black hover:text-gray-900 underline font-semibold" type="button" title="Ver ofertas"
                    (click)="openAuctionOffersApprovalTableModal(auction.id, auction.type)">
                    <img class="w-7" src="assets/img/icons/money.svg" alt="ícono de subasta">
                  </button>
                  }
                  @case (myAuctionsStatus.liveAuction) {
                  <button matBadge="!" matBadgeSize="small" [matBadgeHidden]="!auction.attributes.hasUnreadComments"
                    class="text-black hover:text-gray-900 underline font-semibold" type="button" title="Ver ofertas"
                    (click)="openAuctionOffersTableModal(auction.id, auction.type)">
                    <img class="w-7" src="assets/img/icons/money.svg" alt="ícono de subasta">
                  </button>
                  }
                  @case (myAuctionsStatus.sold) {
                  <button class="text-black hover:text-gray-900 underline font-semibold" type="button"
                    (click)="openWinnerDetailsModal(auction.attributes.winnerInfo)" title="Ver datos del comprador">
                    <img class="w-7" src="assets/img/icons/user-round.svg" alt="">
                  </button>
                  <button matBadge="!" matBadgeSize="small" [matBadgeHidden]="!auction.attributes.hasUnreadComments"
                    class="text-black hover:text-gray-900 underline font-semibold" type="button"
                    (click)="openSoldAuctionBidTableModal(auction.attributes.bids)" title="Ver historial de ofertas">
                    <img class="w-7" src="assets/img/icons/money.svg" alt="">
                  </button>
                  }
                  }
                  <a matBadge="!" matBadgeSize="small" [matBadgeHidden]="!auction.attributes.hasUnreadComments"
                    title="Mis comentarios" routerLink="/mis-comentarios" [queryParams]="{ auctionType: auction.type === auctionTypes.auto ? auctionTypes2.car : auctionTypes2.art
                      , auctionId: auction.id, commentAuctionTypes: auction.route}"
                    class="text-black hover:text-gray-900 underline font-semibold demo-section">
                    <img class="w-6" src="assets/img/icons/comment.svg" alt="">
                  </a>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

@if (approvedAuctions().data) {
<mat-paginator [length]="approvedAuctions().meta.totalCount" [pageSize]="size()" [pageIndex]="page() - 1"
  [pageSizeOptions]="pageSizeOptions()" (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>
}

<auction-offers-approval-table-modal [(isOpen)]="isAuctionOffersApprovalTableModalOpen" [auctionId]="auctionId()"
  [auctionType]="auctionType()" (offerAccepted)="getMyApproved()"></auction-offers-approval-table-modal>

<auction-offers-table-modal [(isOpen)]="isAuctionOffersTableModalOpen" [auctionId]="auctionId()"
  [auctionType]="auctionType()"></auction-offers-table-modal>

<update-reserve-price-modal [(isOpen)]="isUpdateReservePriceModalOpen" [currentReservePrice]="reserveAmount()"
  [auctionType]="auctionType()" [auctionId]="auctionId()" (reserveAmountUpdated)="getMyApproved()">
</update-reserve-price-modal>

<winner-details-modal [(isOpen)]="isWinnerDetailsModalOpen" [winnerInfo]="winnerInfo()">
</winner-details-modal>

<sold-auction-bid-table-modal [(isOpen)]="isSoldAuctionBidTableModalOpen"
  [bids]="bids()"></sold-auction-bid-table-modal>

} @else {
<div class="flex justify-center items-center h-64">
  <p class="text-gray4 text-lg">No tienes subastas aprobadas</p>
</div>
}