<shared-modal [verticalCenter]="true" [isOpen]="isOpen()" (isOpenChange)="isOpenChange.emit($event)">
  <div class="relative">
    <h3 class="text-center font-bold text-lg mb-12">Hacer una oferta</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  <form [formGroup]="makeAnOfferForm" (ngSubmit)="makeAnOffer()" class="container mb-8">
    <div>
      <div class="relative mt-2 rounded-md shadow-sm">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <span class="text-gray-500 sm:text-sm">$</span>
        </div>
        <input formControlName="offerAmount" type="text" placeholder="Oferta ${{minimumNextBid() | number}} o más"
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-12  placeholder:text-gray-400" sharedInput
          mask="separator" thousandSeparator="," required aria-describedby="price-currency">
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
          <span class="text-gray-500 sm:text-sm" id="price-currency">MXN</span>
        </div>
      </div>
    </div>
    @if(controlHasError(offerAmountControl)) {
    <shared-input-error class="mt-1" [message]="getFirstError(offerAmountControl)"></shared-input-error>
    }

    <p class="text-sm mt-1">Comision a cobrar: ${{holdAmount() === 0 ? '5,000' : holdAmount() | number}} MXN.</p>
    <br>

    <input formControlName="acceptTerms" class="align-middle mr-2" type="checkbox" id="terms">
    <label class="text-xs align-middle" for="terms">
      Estoy consiente de que estoy haciendo una oferta y debo pagarlo
    </label>

    @if(controlHasError(acceptTermsControl)) {
    <shared-input-error class="mt-1" [message]="getFirstError(acceptTermsControl)"></shared-input-error>
    }

    <button class="mt-8 flex justify-center" sharedPrimaryButton [disabled]="isButtonMakeAnOfferDisabled()"
      [class.opacity-50]="isButtonMakeAnOfferDisabled()">
      @if (isButtonMakeAnOfferDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Confirmar
      }
    </button>
  </form>

</shared-modal>