<div class="mt-4 mb-4">
  <div class="px-2 py-1">
    <p class="font-semibold">{{comment().attributes.createdBy}}</p>
    <p [ngClass]="{'bg-green1/30 px-4 py-2 rounded-lg font-bold': comment().attributes.isBid}">
      {{comment().attributes.text}}
    </p>

    @if (comment().attributes.images.length > 0) {
    <div class="flex flex-wrap gap-4 mt-2">
      @for (image of comment().attributes.images; track image) {
      <img [src]="image" class="object-cover w-28 h-28">
      }
    </div>
    }

    <button (click)="likeComment()">
      <!-- <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt=""> -->
      <thumbs-up-outline class="mr-2" [shouldFill]="comment().attributes.likedByMe ? true : false"></thumbs-up-outline>
    </button>
    <span class="align-middle">{{comment().attributes.likesCount}}</span>
    @if (!comment().attributes.isBid) {
    <button (click)="toggleReply()" class="text-gray4 align-middle ml-2" type="button">
      Responder
    </button>
    }
    <span class="align-middle text-gray4 ml-2">{{comment().attributes.dateCreated | date: 'MMM d, h:mm a'}}</span>
  </div>

  @if (comment().relationships.responses.length > 0) {
  <div class="flex items-center mt-2">
    <div class="h-px w-16 bg-gray4" aria-hidden="true"></div>
    <button (click)="toggleResponses()" class="ml-2 text-gray4">
      {{responsesIsOpen() ? 'Ocultar respuestas' : 'Ver respuestas'}}
    </button>
  </div>
  }

  @if (responsesIsOpen()) {
  <div class="space-y-2">
    @for (comment of comment().relationships.responses; track $index) {
    <div class="px-2 py-1 ml-8">
      <p class="font-semibold">{{comment.attributes.createdBy}}</p>
      <p>{{comment.attributes.text}}</p>
      <button (click)="likeComment(comment.id)">
        <!-- <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt=""> -->
        <thumbs-up-outline class="mr-2" [shouldFill]="comment.attributes.likedByMe ? true : false"></thumbs-up-outline>
      </button>
      <span class="align-middle">{{comment.attributes.likesCount}}</span>
      <span class="align-middle text-gray4 ml-2">{{comment.attributes.dateCreated | date: 'MMM d, h:mm a'}}</span>
    </div>
    }
  </div>
  }

  @if (replyIsOpen() && !comment().attributes.isBid) {
  <comments-textarea class="block mt-4" [auctionCarPublishId]="auctionCarPublishId()" [parentCommentId]="comment().id"
    [auctionTypeComment]="auctionTypeComment()" [auctionType]="auctionType()" placeholder="Agregar un comentario"
    (commentCreated)="emitCommentCreated()">
  </comments-textarea>
  }
</div>