<sidebar-layout>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Publicaciones</h1>
        <p class="mt-2 text-sm text-gray-700">
          Aquí podrás ver todas las publicaciones que han sido realizadas. Puedes completar la información de cada una
          de ellas.
        </p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <select [formControl]="publicationType" class="ml-auto mt-4" width="w-36" sharedInput>
          <option [value]="typesOfPublications.Car">Vehículos</option>
          <option [value]="typesOfPublications.Art">Arte</option>
        </select>
      </div>
    </div>

    <div class="mt-8 flow-root">
      @switch (publicationType.value) {
      @case (typesOfPublications.Car) {
      <vehicle-publications></vehicle-publications>
      }
      @case (typesOfPublications.Art) {
      <art-publications></art-publications>
      }
      @default {
      <vehicle-publications></vehicle-publications>
      }
      }
    </div>
  </div>

</sidebar-layout>