<shared-dropdown width="w-60" [isOpen]="isOpen" sharedClickOutside (clickOutside)="close()">
  <button type="button" (click)="toggle()"
    class="inline-flex border h-full items-center w-full justify-center gap-x-2 rounded-md bg-white px-4 py-2 text-sm hover:bg-gray-50"
    aria-expanded="true" aria-haspopup="true">
    <span>Rango de años</span>
    <!-- <img class="w-3 h-3 ml-4" src="assets/img/shared/icons/arrow-down.svg" alt="ícono flecha abajo"> -->
    <div class="mat-mdc-select-arrow ml-4">
      <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true"
        class="ng-tns-c1757049643-13">
        <path d="M7 10l5 5 5-5z" class="ng-tns-c1757049643-13"></path>
      </svg>
    </div>
  </button>
  <div menu-items>
    <div class="flex gap-3 items-center px-4 py-2">
      <input [ngModel]="yearFrom()" (ngModelChange)="updateYearFromInput($event)" (blur)="markAsTouched()" type="number"
        min="0" max="9999" background="bg-transparent" class="border" sharedInput [disabled]="disabled">
      <span class="text-center text-sm">a</span>
      <input [ngModel]="yearTo()" (ngModelChange)="updateYearToInput($event)" (blur)="markAsTouched()" type="number"
        min="0" max="9999" background="bg-transparent" class="border" sharedInput [disabled]="disabled">
    </div>
  </div>
</shared-dropdown>