<sidebar-layout>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Agregar historia del auto</h1>
        <!-- <p class="mt-2 text-sm text-gray-700">

        </p> -->
      </div>
      <!-- <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add
          user</button>
      </div> -->
    </div>

    <section class="no-tailwindcss-base">
      <form [formGroup]="addCarHistoryForm" (ngSubmit)="addCarHistory()" class="space-y-6">
        <div>
          <!-- seleccionar fotos de la galería -->
          <button type="button" (click)="openCarPhotoGallery()" class="block mb-1 text-sm">
            <span class="text-blue-500">Seleccionar fotos de la galería</span>
          </button>

          <button (click)="openAuctionCarDetailsModal()" class="block mb-1 text-sm text-blue-500">
            Ver detalles del auto
          </button>


          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" type="button">
            <img class="w-8 h-8" src="assets/img/icons/add-circle.svg" alt="">
            <!-- <mat-icon>more_vert</mat-icon> -->
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="addContent('paragraph')" mat-menu-item>
              <span>Párrafo</span>
            </button>
            <button (click)="openCarPhotoGallery()" mat-menu-item>
              <span>Imagen</span>
            </button>
          </mat-menu>


          <div formArrayName="content" class="space-y-4">
            @for (charge of contentFormArrayControls; track charge; let i = $index) {
            <div [formGroupName]="i">
              @switch (charge.value.type) {
              @case ('paragraph') {
              <textarea formControlName="text" cols="30" rows="10" sharedInput></textarea>
              }
              @case ('image') {

              }
              }
            </div>
            }
          </div>

          <!-- <label for="title" class="block mb-1 text-sm">Contenido</label>
          <textarea cols="30" rows="10"></textarea> -->

          @if (hasError('content')) {
          <shared-input-error [message]="getError('content')"></shared-input-error>
          }
        </div>

        <button class="inline-flex justify-center items-center" type="submit"
          [disabled]="addCarHistorySubmitButtonIsDisabled()" [class.opacity-50]="addCarHistorySubmitButtonIsDisabled()"
          sharedPrimaryButton>
          @if (addCarHistorySubmitButtonIsDisabled()) {
          <shared-spinner></shared-spinner>
          } @else {
          Agregar historia del auto
          }
        </button>
      </form>


    </section>
  </div>

</sidebar-layout>

<car-photo-gallery [isOpen]="carPhotoGalleryIsOpen()" (isOpenChange)="closeCarPhotoGallery()"
  [auctionCarId]="originalAuctionCarId()">
</car-photo-gallery>

<auction-car-details-modal [isOpen]="auctionCarDetailsModalIsOpen()" (isOpenChange)="closeAuctionCarDetailsModal()"
  [auctionCarId]="originalAuctionCarId()"></auction-car-details-modal>