<section class="container mt-16 text-justify">
  <h1 class="font-optima font-bold text-center text-4xl">CAART transforma tu experiencia en las subastas</h1>

  <p class="text-center text-xl mt-4 mb-12">¿Qué vas a subastar?</p>

  <div class="max-w-3xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mb-20">
    <div class="flex bg-gray1 px-8 py-4 rounded-lg">
      <img src="assets/img/registrar auto/car-sport-outline.svg" alt="Car" class="h-7">
      <div class="w-full text-center font-medium text-lg">Auto</div>
    </div>
    <div class="flex bg-gray1 px-8 py-4 rounded-lg">
      <img src="assets/img/icons/milo-venus2.svg" alt="Art" class="h-7">
      <div class="w-full text-center font-medium text-lg">Obra de Arte</div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="px-6 pt-6 pb-12 rounded-lg space-y-4">
      <div class="md:flex gap-4">
        <img src="assets/img/icons/car-frame.svg" alt="Car" class="w-16 md:flex-shrink-0 mx-auto md:mx-0">
        <div class="flex items-center justify-center md:justify-normal">
          <img src="assets/img/icons/1.svg" alt="1" class="h-8 ml-4">
          <p class="text-xl font-bold ml-4">
            Registra tu pieza
          </p>
        </div>
      </div>

      <div class="md:flex gap-4">
        <img src="assets/img/icons/clipboard.svg" alt="Clipboard" class="w-16 md:flex-shrink-0 mx-auto md:mx-0">
        <div class="flex items-center justify-center md:justify-normal">
          <img src="assets/img/icons/2.svg" alt="2" class="h-8 ml-4">
          <p class="text-xl font-bold ml-4">
            Una vez aceptada, completa el formulario y realiza el pago
          </p>
        </div>
      </div>

      <!-- Sube las imágenes de tu pieza  -->
      <div class="md:flex gap-4">
        <img src="assets/img/icons/camera.svg" alt="Image" class="w-16 md:flex-shrink-0 mx-auto md:mx-0">
        <div class="flex items-center justify-center md:justify-normal">
          <img src="assets/img/icons/3.svg" alt="3" class="h-8 ml-4">
          <div class="ml-4">
            <p class="text-xl font-bold">
              Sube las imágenes de tu pieza
            </p>
            <p class="text-gray4 mt-4">
              *Servicio de fotografía disponible
            </p>
          </div>
        </div>
      </div>

      <!-- Autoriza la propuesta de tu pieza -->
      <div class="md:flex gap-4">
        <img src="assets/img/icons/website.svg" alt="Website" class="w-16 md:flex-shrink-0 mx-auto md:mx-0">
        <div class="flex items-center justify-center md:justify-normal">
          <img src="assets/img/icons/4.svg" alt="4" class="h-8 ml-4">
          <p class="text-xl font-bold ml-4">
            Autoriza la propuesta de tu pieza
          </p>
        </div>
      </div>

      <!-- ICON:auction - ¡Se activa la subasta! -->
      <div class="md:flex gap-4">
        <img src="assets/img/icons/auction.svg" alt="Auction" class="w-16 md:flex-shrink-0 mx-auto md:mx-0">
        <div class="flex items-center justify-center md:justify-normal">
          <img src="assets/img/icons/5.svg" alt="5" class="h-8 ml-4">
          <p class="text-xl font-bold ml-4">
            ¡Se activa la subasta!
          </p>
        </div>
      </div>
    </div>

    <div class="px-6 pt-6 pb-12 rounded-lg">
      <!-- ¡Vive la experiencia de subasta en el mundo digital! -->
      <h2 class="text-xl">
        ¡Vive la experiencia de subasta en el mundo digital!
      </h2>

      <ol class="list-decimal list-inside mt-4 text-xl">
        <li class="font-bold">
          Selección exclusiva
        </li>
        <p>
          En CAART presentamos una colección única de Piezas, nos aseguramos de que cada producto sea exclusivo y
          valioso
          para nuestros usuarios.
        </p>

        <li class="font-bold mt-4">
          Proceso meticuloso
        </li>
        <p>
          Nuestro proceso garantiza que cada Pieza cumpla con altos estándares de calidad, satisfaciendo así las
          necesidades
          nuestros usuarios por medio de la valudacion de nuestros expertos.
        </p>

        <li class="font-bold mt-4">
          Transparencia
        </li>
        <p>
          En CAART priorizamos la claridad y honestidad en cada fase de nuestro proceso de subasta. Desde la
          presentación
          inicial hasta el cierre de la oferta, brindamos la información necesaria para construir una comunidad basada
          en la
          confianza.
        </p>
      </ol>
    </div>
  </div>
</section>