<div class="space-y-8">
  @for (auction of auctions().data; track $index) {
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-8">
    <div class="md:col-span-5">
      <img class="w-full h-60 object-cover" [src]="auction.attributes.artDetails.photos[0]" alt="Foto del vehículo">
    </div>
    <div class="md:col-span-7">
      <h2 class="font-bold mb-4">Ofertas</h2>

      <div class="grid grid-cols-4 gap-4">
        @for (bid of auction.attributes.bids; track $index) {
        <div>
          {{bid.bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
        </div>
        <div>
          {{bid.username}}
        </div>
        <div>
          <button type="button" (click)="openAcceptLastChanceBidModal(auction.id, bid._id)" class="underline font-bold">
            Aceptar solicitud
          </button>
        </div>
        <div>
          <button type="button" (click)="openRejectBidModal(auction.id, bid._id)" class="underline font-bold">
            Rechazar solicitud
          </button>
        </div>
        } @empty {
        No hay ofertas
        }
      </div>

      <!-- @if (auctions().originalAuctionCarId.status === 'Pendiente') {
      <button (click)="acceptOffer(auctions().originalAuctionCarId._id,auction._id)" class="underline font-bold">
        Aceptar solicitud
      </button>
      } -->
    </div>
  </div>
  } @empty {
  No hay publicaciones
  }
</div>

<accept-last-chance-bid-modal [(isOpen)]="isAcceptLastChanceBidModalOpen"
  [isButtonSubmitDisabled]="isAcceptLastChanceBidButtonDisabled()" [auctionId]="auctionId()" [bidId]="bidId()"
  (aceptLastChanceBid)="acceptOffer()"></accept-last-chance-bid-modal>

<reject-last-chance-bid-modal [(isOpen)]="isRejectBidModalOpen" [isButtonSubmitDisabled]="isRejectBidButtonDisabled()"
  [auctionId]="auctionId()" [bidId]="bidId()" (rejectLastChanceBid)="rejectBid()">
</reject-last-chance-bid-modal>