<shared-modal [isOpen]="isOpen()" (isOpenChange)="emitIsOpenChange($event)" [verticalCenter]="true"
  modalMaxWidth="sm:max-w-2xl">
  <div class="relative">
    <h3 class="text-center font-bold text-lg mb-12">Detalles del arte en subasta</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  <section class="container">
    @defer (when wizardData().data) {
    <mat-tab-group>
      <mat-tab label="Registro">
        <div class="mt-4">
          <p><b>ID:</b> {{ wizardData().data.registerArtDetails._id }}</p>
          <p><b>Artista:</b> {{ wizardData().data.registerArtDetails.artist }}</p>
          <p><b>Título:</b> {{ wizardData().data.registerArtDetails.title }}</p>
          <p><b>Año:</b> {{ wizardData().data.registerArtDetails.year }}</p>
          <p><b>Materiales:</b> {{ wizardData().data.registerArtDetails.materials }}</p>
          <p><b>Categoría:</b> {{ wizardData().data.registerArtDetails.category }}</p>
          <p><b>Otra categoría:</b> {{ wizardData().data.registerArtDetails.otherCategory }}</p>
          <p><b>Rareza:</b> {{ wizardData().data.registerArtDetails.rarity }}</p>
          <p><b>Altura:</b> {{ wizardData().data.registerArtDetails.height }}</p>
          <p><b>Ancho:</b> {{ wizardData().data.registerArtDetails.width }}</p>
          <p><b>Profundidad:</b> {{ wizardData().data.registerArtDetails.depth }}</p>
          <p><b>Condición:</b> {{ wizardData().data.registerArtDetails.condition }}</p>
          <p><b>Origen:</b> {{ wizardData().data.registerArtDetails.origin }}</p>
          <p><b>ID de usuario:</b> {{ wizardData().data.registerArtDetails.userId }}</p>
          <p><b>Fotos:</b></p>
          <div class="grid grid-cols-3 gap-4">
            @for (photo of wizardData().data.registerArtDetails.photos; track $index) {
            <img [src]="photo" alt="Foto {{ $index + 1 }}">
            } @empty {
            <p>No hay fotos</p>
            }
          </div>
          <p><b>Videos:</b></p>
          <div class="grid grid-cols-3 gap-4">
            @for (video of wizardData().data.registerArtDetails.videos; track $index) {
            <video [src]="video" controls></video>
            } @empty {
            <p>No hay videos</p>
            }
          </div>
          <p><b>Estado:</b> {{ wizardData().data.registerArtDetails.status }}</p>
        </div>
      </mat-tab>
      <mat-tab label="Detalles">
        <div class="mt-4">
          <p><b>ID:</b> {{ wizardData().data.artDetails._id }}</p>
          <p><b>Certificado de autenticidad:</b> {{ wizardData().data.artDetails.certificadoAutenticidad }}</p>
          <p><b>Entidad del certificado:</b> {{ wizardData().data.artDetails.entidadCertificado }}</p>
          <p><b>Entrega con marco:</b> {{ wizardData().data.artDetails.entregaConMarco }}</p>
          <p><b>Firma del artista:</b> {{ wizardData().data.artDetails.firmaArtista }}</p>
          <p><b>Procedencia de la obra:</b> {{ wizardData().data.artDetails.procedenciaObra }}</p>
          <p><b>Historia del artista:</b> {{ wizardData().data.artDetails.historiaArtista }}</p>
          <p><b>ID de subasta original:</b> {{ wizardData().data.artDetails.originalAuctionArtId }}</p>
          <p><b>Fotos:</b></p>
          <div class="grid grid-cols-3 gap-4">
            @for (photo of wizardData().data.artDetails.photos; track $index) {
            <img [src]="photo" alt="Foto {{ $index + 1 }}">
            } @empty {
            <p>No hay fotos</p>
            }
          </div>
          <p><b>Videos:</b></p>
          <div class="grid grid-cols-3 gap-4">
            @for (video of wizardData().data.artDetails.videos; track $index) {
            <video [src]="video" controls></video>
            } @empty {
            <p>No hay videos</p>
            }
          </div>
          <p><b>Creado en:</b> {{ wizardData().data.artDetails.createdAt }}</p>
          <p><b>Actualizado en:</b> {{ wizardData().data.artDetails.updatedAt }}</p>
        </div>

      </mat-tab>
    </mat-tab-group>
    }
  </section>
</shared-modal>