<sidebar-layout>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Asignación y reorden de imágenes</h1>
        <!-- <p class="mt-2 text-sm text-gray-700">

        </p> -->
      </div>
      <!-- <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add
          user</button>
      </div> -->
    </div>

    <form class="mt-4 space-y-4" [formGroup]="auctionImagesForm" (submit)="saveImages()">
      <h2 class="mb-2">Foto principal</h2>
      <div>
        <div class="grid grid-cols-4 gap-4">
          @if(fotoPrincipal.value) {
          <img [src]="fotoPrincipal.value" class="cell object-contain" />
          }@else {
          <button type="button" (click)="openModal(carPhotoGalleryIsOpen, 'fotoPrincipal', true)" class="cell">
            Foto principal
          </button>
          }
        </div>
        @if (hasError('fotoPrincipal')) {
        <shared-input-error [message]="getError('fotoPrincipal')"></shared-input-error>
        }
      </div>

      <div>
        <h2 class="mb-2">Fotos slider principal</h2>
        <div class="board" cdkDropListGroup>
          @for (imageUrl of fotosSliderPrincipal.value; track i; let i = $index) {
          <div>
            <div cdkDropList (cdkDropListDropped)="dropPhotos($event, fotosSliderPrincipal)"
              [cdkDropListData]=" {imageUrl, index: i}">
              @if (imageUrl) {
              <img cdkDrag [src]="imageUrl" class="cell object-contain" />
              } @else {
              <button cdkDrag type="button" (click)="openModal(carPhotoGalleryIsOpen, 'fotosSliderPrincipal', false, i)"
                class="cell">
                Subir foto
              </button>
              }
            </div>
            @if (formArrayHasError(fotosSliderPrincipal, i)) {
            <shared-input-error [message]="getErrorFromFormArray(fotosSliderPrincipal, i)"></shared-input-error>
            }
          </div>
          }
        </div>
      </div>

      <div>
        <h2 class="mb-2">Fotos mecánicas</h2>
        <div class="board" cdkDropListGroup>
          @for (imageUrl of fotosMecanicas.value; track i; let i = $index) {
          <div>
            <div cdkDropList (cdkDropListDropped)="dropPhotos($event, fotosMecanicas)"
              [cdkDropListData]="{imageUrl, index: i}">
              <img cdkDrag [src]="imageUrl" class="cell w-full h-40 object-contain" />
            </div>
            @if (formArrayHasError(fotosMecanicas, i)) {
            <shared-input-error [message]="getErrorFromFormArray(fotosMecanicas, i)"></shared-input-error>
            }
          </div>
          }
        </div>
      </div>

      <div>
        <h2 class="mb-2">Fotos interiores</h2>
        <div class="board" cdkDropListGroup>
          @for (imageUrl of fotosInterior.value; track i; let i = $index) {
          <div>
            <div cdkDropList (cdkDropListDropped)="dropPhotos($event, fotosInterior)"
              [cdkDropListData]="{imageUrl, index: i}">
              <img cdkDrag [src]="imageUrl" class="cell w-full h-40 object-contain" />
            </div>
            @if (formArrayHasError(fotosInterior, i)) {
            <shared-input-error [message]="getErrorFromFormArray(fotosInterior, i)"></shared-input-error>
            }
          </div>
          }
        </div>
      </div>

      <div>
        <h2 class="mb-2">Fotos exteriores</h2>
        <div class="board" cdkDropListGroup>
          @for (imageUrl of fotosExterior.value; track i; let i = $index) {
          <div>
            <div cdkDropList (cdkDropListDropped)="dropPhotos($event, fotosExterior)"
              [cdkDropListData]="{imageUrl, index: i}">
              <img cdkDrag [src]="imageUrl" class="cell w-full h-40 object-contain" />
            </div>
            @if (formArrayHasError(fotosExterior, i)) {
            <shared-input-error [message]="getErrorFromFormArray(fotosExterior, i)"></shared-input-error>
            }
          </div>
          }
        </div>
      </div>

      <button type="submit" sharedPrimaryButton>
        Guardar cambios
      </button>
    </form>

  </div>

</sidebar-layout>

<car-photo-gallery [isOpen]="carPhotoGalleryIsOpen()" (isOpenChange)="closeModal(carPhotoGalleryIsOpen)"
  (selectedImageChange)="setImage($event)" [cropImage]="cropImage()" [auctionCarId]="originalAuctionCarId()">
</car-photo-gallery>