<h2 class="font-optima text-2xl font-bold mb-4">Contraseña</h2>

<div>
  <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="changePasswordSubmit()"
    class="grid grid-cols-2 gap-4">
    <!-- currentPassword -->
    <div>
      <label for="currentPassword" class="block mb-1 text-sm">Contraseña actual</label>
      <input id="currentPassword" formControlName="currentPassword" type="password" sharedInput>
      @if (hasError('currentPassword')) {
      <shared-input-error [message]="getError('currentPassword')"></shared-input-error>
      }
    </div>

    <!-- newPassword -->
    <div>
      <label for="newPassword" class="block mb-1 text-sm">Nueva contraseña</label>
      <input id="newPassword" formControlName="newPassword" type="password" sharedInput>
      @if (hasError('newPassword')) {
      <shared-input-error [message]="getError('newPassword')"></shared-input-error>
      }
    </div>

    <!-- confirmNewPassword -->
    <div>
      <label for="confirmNewPassword" class="block mb-1 text-sm">Confirmar contraseña</label>
      <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password" sharedInput>
      @if (hasError('confirmNewPassword')) {
      <shared-input-error [message]="getError('confirmNewPassword')"></shared-input-error>
      }
    </div>
  </form>

  <div class="flex justify-end">
    <button [disabled]="changePasswordSubmitButtonIsDisabled()"
      [class.opacity-50]="changePasswordSubmitButtonIsDisabled()" form="changePasswordForm" class="mt-8" type="submit"
      width="w-fit" py="py-2.5" sharedPrimaryButton>
      @if (changePasswordSubmitButtonIsDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Guardar
      }
    </button>
  </div>
</div>