<div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
  <!-- recorre todas las fotos -->
  @for (item of photos; track $index) {
  @if ($index <= photoGalleryLength) { <!-- si el index es menor o igual a la longitud de la galeria de fotos, muestra
    la foto -->
    @if ($index < photoGalleryLength) {<!-- si el index es menor a la longitud de la galeria de fotos, muestra la foto
      con el fancybox -->
      <a [href]="item" [attr.data-fancybox]="'gallery' + index()">
        <img [src]="item" class="h-28 object-cover w-full" alt="">
      </a>
      } @else { <!-- si el index es igual a la longitud de la galeria de fotos(la ultima foto visible) -->
      @if(isMobile) { <!-- si es mobile, al dar click se incrementa la longitud de la galeria de fotos sin fancybox -->
      <div class="relative cursor-pointer" (click)="incrementPhotoGalleryLength()">
        <img [src]="item" class="h-28 object-cover w-full" alt="">
        <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
        <div class="absolute inset-0 flex justify-center items-center underline text-white text-xs lg:text-sm">
          +{{photos.length - photoGalleryLength}} fotos
        </div>
      </div>
      } @else { <!-- si es desktop, se muestra la foto con fancybox -->
      <div class="relative cursor-pointer">
        <a [href]="item" [attr.data-fancybox]="'gallery' + index()">
          <img [src]="item" class="h-28 object-cover w-full" alt="">
          <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
          <div class="absolute inset-0 flex justify-center items-center underline text-white text-xs lg:text-sm">
            +{{photos.length - photoGalleryLength}}
            fotos
          </div>
        </a>
      </div>
      }
      }
      } @else { <!-- si no, muestra el resto de las fotos de manera oculta -->
      <a class="hidden" [href]="item" [attr.data-fancybox]="'gallery' + index()">
        <img [src]="item" alt="">
      </a>
      }
      }
</div>