<shared-modal [isOpen]="isOpen" [verticalCenter]="true">
  <div class="relative">
    <h3 class="container text-center font-bold text-lg mb-12">Añade tus datos bancarios</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  <div class="container">

    @if (addPaymentMethodForm) {
    <form [formGroup]="addPaymentMethodForm" (ngSubmit)="addPaymentMethodFormSubmit()">
      <div>
        <div class="mb-6">
          <label for="cardholderName" class="block mb-1 text-sm">Nombre del titular</label>
          <input formControlName="cardholderName" id="cardholderName" class="max-w-lg" type="text"
            placeholder="Escribe el nombre del titular" sharedInput>
          @if (hasError('cardholderName')) {
          <shared-input-error [message]="getError('cardholderName')"></shared-input-error>
          }
        </div>

        <label for="cardNumber" class="block mb-1 text-sm">Número de tarjeta</label>
        <ngx-stripe-elements id="cardNumber" class="bg-gray1" [stripe]="stripe" [elementsOptions]="elementsOptions">
          <ngx-stripe-card [options]="cardOptions" />
        </ngx-stripe-elements>

        @if (hasError('token') && !error()) {
        <shared-input-error [message]="getError('token')"></shared-input-error>
        }

        @if (error()) {
        <shared-input-error [message]="error()"></shared-input-error>
        }
      </div>
      <div class="mt-8">
        <button class="flex justify-center w-full" width="w-fit" [disabled]="isButtonSubmitDisabled()"
          [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
          @if (isButtonSubmitDisabled()) {
          <shared-spinner></shared-spinner>
          } @else {
          Agregar método de pago
          }
        </button>
      </div>
    </form>
    }
  </div>
</shared-modal>