<h1 class="font-optima text-4xl font-bold mb-8">Mecánica</h1>

<h2 class="text-xl font-bold mb-5">Llantas y rines</h2>

<form [formGroup]="mechanicsForm" (ngSubmit)="mechanicsFormSubmit()" class="grid grid-cols-2 items-end gap-5">
  <!-- Rines originales select -->
  <div>
    <label for="originalRims" class="block mb-1 text-sm">¿Rines originales? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="originalRims" formControlName="originalRims" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('originalRims')) {
    <shared-input-error [message]="getError('originalRims')"></shared-input-error>
    }
  </div>

  <!-- Marca de llantas -->
  <div>
    <label for="tireBrand" class="block mb-1 text-sm">Marca de llantas</label>
    <input id="tireBrand" formControlName="tireBrand" type="text" sharedInput>
    @if (hasError('tireBrand')) {
    <shared-input-error [message]="getError('tireBrand')"></shared-input-error>
    }
  </div>

  <!-- tireSize input -->
  <div>
    <label for="tireSize" class="block mb-1 text-sm">Medida de llantas</label>
    <input id="tireSize" formControlName="tireSize" type="text" sharedInput>
    @if (hasError('tireSize')) {
    <shared-input-error [message]="getError('tireSize')"></shared-input-error>
    }
  </div>

  <!-- tireDate input -->
  <div>
    <label for="tireDate" class="block mb-1 text-sm">Fecha de llantas</label>
    <input id="tireDate" formControlName="tireDate" type="date" sharedInput>
    @if (hasError('tireDate')) {
    <shared-input-error [message]="getError('tireDate')"></shared-input-error>
    }
  </div>

  <!-- Condición de llantas -->
  <div>
    <label for="tireCondition" class="block mb-1 text-sm">Condición de llantas <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="tireCondition" formControlName="tireCondition" sharedInput>
      <option value="Excelente">Excelente</option>
      <option value="Buena">Buena</option>
      <option value="Regular">Regular</option>
      <option value="Mala">Mala</option>
    </select>
    @if (hasError('tireCondition')) {
    <shared-input-error [message]="getError('tireCondition')"></shared-input-error>
    }
  </div>

  <!-- Llantas o rines extras select -->
  <div>
    <label for="extraTiresOrRims" class="block mb-1 text-sm">¿Llantas o rines extras? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="extraTiresOrRims" formControlName="extraTiresOrRims" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('extraTiresOrRims')) {
    <shared-input-error [message]="getError('extraTiresOrRims')"></shared-input-error>
    }
  </div>

  <!-- Llanta de refacción select -->
  <div>
    <label for="spareTire" class="block mb-1 text-sm">¿Llanta de refacción? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="spareTire" formControlName="spareTire" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('spareTire')) {
    <shared-input-error [message]="getError('spareTire')"></shared-input-error>
    }
  </div>

  <div class="col-span-2 mt-4">
    <h2 class="text-xl font-bold">Mecánica</h2>
  </div>

  <!-- Transmisión y motor original select -->
  <div>
    <label for="originalTransmissionEngine" class="block mb-1 text-sm">¿Transmisión y motor original? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="originalTransmissionEngine" formControlName="originalTransmissionEngine" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('originalTransmissionEngine')) {
    <shared-input-error [message]="getError('originalTransmissionEngine')"></shared-input-error>
    }
  </div>

  <!-- Mejora o modificación general select -->
  <div>
    <label for="improvementModificationOriginal" class="block mb-1 text-sm">¿Mejora o modificación general? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="improvementModificationOriginal" formControlName="improvementModificationOriginal" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('improvementModificationOriginal')) {
    <shared-input-error [message]="getError('improvementModificationOriginal')"></shared-input-error>
    }
  </div>

  <!-- Servicios realizados con fechas textarea -->
  <div class="col-span-2">
    <label for="performedServicesWithDates" class="block mb-1 text-sm">Servicios realizados con fechas</label>
    <textarea id="performedServicesWithDates" formControlName="performedServicesWithDates" rows="4" sharedInput
      sharedAutoResizeTextarea></textarea>
    @if (hasError('performedServicesWithDates')) {
    <shared-input-error [message]="getError('performedServicesWithDates')"></shared-input-error>
    }
  </div>

  <!-- Problema o detalle mecánico select -->
  <div>
    <label for="mechanicalProblemDetail" class="block mb-1 text-sm">¿Problema o detalle mecánico? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="mechanicalProblemDetail" formControlName="mechanicalProblemDetail" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('mechanicalProblemDetail')) {
    <shared-input-error [message]="getError('mechanicalProblemDetail')"></shared-input-error>
    }
  </div>

  <!-- Sensor iluminado en el tablero select -->
  <div>
    <label for="illuminatedDashboardSensor" class="block mb-1 text-sm">¿Sensor iluminado en el tablero? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="illuminatedDashboardSensor" formControlName="illuminatedDashboardSensor" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('illuminatedDashboardSensor')) {
    <shared-input-error [message]="getError('illuminatedDashboardSensor')"></shared-input-error>
    }
  </div>

  <!-- Equipamiento de fabrica select -->
  <div>
    <label for="factoryEquipment" class="block mb-1 text-sm">¿Equipamiento de fabrica? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="factoryEquipment" formControlName="factoryEquipment" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('factoryEquipment')) {
    <shared-input-error [message]="getError('factoryEquipment')"></shared-input-error>
    }
  </div>

  <!-- Equipamiento extra select -->
  <div>
    <label for="extraEquipment" class="block mb-1 text-sm">¿Equipamiento extra? <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <select id="extraEquipment" formControlName="extraEquipment" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>

    @if (hasError('extraEquipment')) {
    <shared-input-error [message]="getError('extraEquipment')"></shared-input-error>
    }
  </div>

  <!-- Comentarios sobre mecánica textarea -->
  <div class="col-span-2">
    <label for="comments" class="block mb-1 text-sm">Comentarios sobre mecánica<span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="comments" formControlName="comments" rows="4" sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('comments')) {
    <shared-input-error [message]="getError('comments')"></shared-input-error>
    }
  </div>

  <!--  Fotos de la mecánica del auto -->
  <div class="col-span-2">
    <label for="uppyDashboardImages" class="text-sm cursor-pointer">
      Fotos de la mecánica del auto
      <span class="font-bold text-red-500 inline-block">*</span></label>

    <div id="uppyDashboardImages" #uppyDashboardImages></div>

    @if (hasError('mechanicsPhotos')) {
    <shared-input-error [message]="getError('mechanicsPhotos')"></shared-input-error>
    }
  </div>

  <!--  Videos de la mecánica del auto -->
  <div class="col-span-2">
    <label for="uppyDashboardVideos" class="text-sm cursor-pointer">
      Videos de la mecánica del auto
    </label>

    <div id="uppyDashboardVideos" #uppyDashboardVideos></div>

    @if (hasError('mechanicsVideos')) {
    <shared-input-error [message]="getError('mechanicsVideos')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="flex justify-center mt-4" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Siguiente
      }
    </button>
  </div>
</form>