<section class="container mt-2 mb-32">
  <div class="sticky md:static pt-2 inset-0 z-10 bg-white outline-white outline-2 outline">
    <h1 class="text-center font-optima font-bold text-2xl">ÚLTIMA OPORTUNIDAD</h1>
    @if (tabs) {
    <shared-tabs-with-icons [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>
    }
  </div>

  @switch (currentTab()) {
  @case (1) {
  Todo
  }
  @case (2) {
  <last-chance-vehicle-filter-results></last-chance-vehicle-filter-results>
  }
  @case (3) {
  <last-chance-art-filter-results></last-chance-art-filter-results>
  }
  }
</section>