<div class="container mt-16 mb-32">
  <p>
    El presente contrato de prestación de servicios de subasta (el “Contrato”) es celebrado entre el Usuario adquirente
    de CAART (el “Comprador”) y SMARE, S.A. de C.V. (“CAART”) y junto con al Comprador se les refirirá de manera
    conjunta como las (“Partes”) para la prestación de los servicios descritos a continuación.
  </p>
  <br>
  <p>
    Los servicios objeto del presente Contrato consistirán en el otorgamiento y acceso a la plataforma y sitio web
    propiedad de CAART, con el fin de proporcionar al Comprador con una base amplia para la busqueda, identificación y
    ofertamientos de distintos bienes o servicios, como lo son automobiles, arte y memorabilia. Así, pudiendo el
    Comprador realizar ofertas por los artículo, bienes y/o servicios ofertados en la misma.
  </p>
  <br>
  <p>
    Por lo anterior, con motivo de que el Comprador participe de manera efectiva en la compra de cualquier artículo,
    bien o servicio ofertado en el sitio web de CAART, mediante la puja y/o oferta, el Comprador por virtud de la
    aceptación tacita del presente, otorga el derecho exclusivo a CAART a proporcionar todos y cada uno de los datos
    personales, datos financieros, información sensible y cualquier otra información necesaria a la parte listadora y
    vendedora del artículo por el cual realizó una oferta. Lo anterior se realizará unica y exclusivamente con el fin de
    materializar la compra y el contacto entre parte compradora y vendedora, sobre los bienes y servicios ofertados a
    través de la pagina web y plataforma de CAART.
  </p>
  <br>
  <p>
    Para efectos del presente Contrato, los servicios antes referidos en lo sucesivo serán considerados en su conjunto
    como los “Servicios”.
  </p>
  <br>
  <p>
    Especificaciones de los Servicios:
  </p>
  <br>
  <p>
    CAART ha emitido un usuario al Comprador con motivo de que este pueda lrealizar a busqueda, identificación y
    ofertamientos de distintos bienes o servicios, como lo son automobiles, arte y memorabilia, para lo cual el
    Comprador como usuario de la plataforma proporcionó a CAART con un registro e información así como con la firma y
    aceptación de las políticas de usos, los términos y condiciones así como con el aviso de provacidad en el cual se le
    informó del tratamiento de sus datos personales. Por lo que el Comprador deberá observar en todo momento lo
    establecido en las Condiciones Generales proporcionadas a el.
  </p>
  <br>
  <p>
    Ahora bien, dentro de las obligaciones del Comprador estarán las siguiente:
  </p>
  <br>
  <ol class="list-[lower-alpha] space-y-2 list-inside">
    <li>el utilizar de manera exclusiva los medios de comunicación y oferta aceptados y señalados por CAART, con el fin
      de poder realizar una oferta o puja, por lo que única y exclusivamente podrá realizar estas mediante el uso de los
      canales que CAART le proporcione para tales efectos.</li>
    <li>El comprador se obliga a la adquisición de los bienes o servicios, como lo son automóviles, arte y memorabilia
      por los cuales puje y/o oferte para su adquisición, para cuyo caso se considerará como el pujador ganador y
      actualizará su obligación de compra conforme a lo siguiente:

      <ol class="space-y-2 list-inside ml-4 mt-2 list-decimal">
        <li>
          Al recibir la notificación de que el Comprador ha salido victorioso en la puja, y que el mimso ha adquirido
          el bien, vehículo y/o artículo, el Comprador deberá, dentro de los siete (7) días hábiles, emitir el pago
          completo por el bien, vehículo y/o artículo al Vendedor.
        </li>
        <li>
          Dentro de las cuarenta y ocho (48) horas posteriores a que el Comprador realice el pago completo por bien,
          vehículo y/o artículo (el "Período de entrega"), el Vendedor pondrá el bien, vehículo y/o artículo a
          disposición del Comprador y el Comprador deberá hacer arreglos para recogerlo o entregarlo, a menos que se
          hayan hecho y acordado otros arreglos entre el Comprador y el Vendedor. CAART en ningún momento será
          responsable ni estará obligado intermediar entre Comprador y Vendedor pago y la entrega del bien, vehículo y/o
          artículo.
        </li>
      </ol>
    </li>
  </ol>
  <br>
  <p>
    Por virtud de lo anterior, el Comprador reconoce que el Sitio web porpiedad de CAART, es foro público, en donde se
    les otorga a las personas la posibilidad de vender y comprar bienes, vehículos y/o artículos. A menos que CAART lo
    indique expresamente, CAART solo estará involucrado como facilitador en la transacción entre compradores y
    vendedores. Como resultado de lo anterior, CAART no contará con ningún control sobre los artículos puestos en
    subasta, incluido, entre otros, el control con respecto a la calidad, seguridad o legalidad de los artículos en
    venta, la veracidad o precisión de los listados de artículos en venta, o la capacidad de los vendedor(es) para
    participar en cualquier transacción en el Sitio web. Debido a que la autenticación de usuario en medios digitales y
    portales web resulta casí imposible, CAART no puede y no confirma que cada usuario sea quien dice ser. El Comprador
    acepta que CAART no es un agente del Comprador y que CAART no actúa en calidad de fiduciario. El Comprador acepta
    que CAART no es un defensor de los intereses del Comprador ni de ninguna otra parte relacionada con la venta del
    Vehículo o Artículo. El Comprador reconoce y consiente que CAART puede representar y/o asistir a otros compradores
    que puedan tener interés en comprar el Vehículo/Artículo o cualquier otro vehículo/Artículo listado para la venta en
    el Sitio web. El Comprador entiende y reconoce que CAART no ofrece ninguna garantía o aval en relación con si los
    detalles proporcionados por el Vendedor sobre el Vehículo o Artículo son veraces o precisos, incluida la calidad del
    título del Vehículo o Artículo, o si la calidad del Vehículo o Artículo difiere en última instancia de la calidad
    del Vehículo o Artículo tal como se muestra en el Sitio web. CAART no será responsable por ninguna pérdida sufrida
    por el Comprador relacionada con el Vehículo/Artículo o el tema del presente documento, incluidos, entre otros, el
    rechazo del Vendedor a celebrar un contrato de compraventa, la falta de disponibilidad del Vehículo o Artículo para
    el Comprador después de la compra, o de lo contrario, no completar una compra de un Vehículo o Artículo. CAART no se
    encargará de la entrega del Vehículo/Artículo ni de la custodia del Vehículo o Artículo, su gestión, mantenimiento,
    seguridad, seguro o reparación, y no tendrá la capacidad de controlar si el Vehículo o Artículo experimenta algún
    cambio o daño después de la compra del Vehículo o Artículo por el Comprador pero antes de que el Comprador reciba la
    posesión del mismo. Se recomiendan Inspecciones Previas a la Compra, como parte de la diligencia debida del
    Comprador antes de realizar sus ofertas. Algunos vehículos pueden incluir una inspección previa suministrado por el
    vendedor. Todas las inspecciones son realizadas por compañías/individuos de terceros. CAART no asume responsabilidad
    por la precisión de estas inspecciones. Si se declara o implica que un vehículo tiene garantía, es responsabilidad
    del comprador llamar al fabricante y/o a la compañía de garantía para verificar que la garantía aún sea válida.
    CAART no es responsable de garantías anuladas o vencidas.
  </p>
  <br>
  <p>
    En caso de que el Vendedor no ponga el Vehículo o Artículo a disposición del Comprador, el Comprador acepta y
    reconoce que CAART no será responsable por dicho incumplimiento por parte del Vendedor. En tal caso, y siempre que
    el vehículo o artículo no haya sido entregado al Comprador dentro de los 45 días posteriores al pago completo, el
    Comprador recibirá un reembolso igual a la Tarifa del Comprador, menos cualquier cargo administrativo incurrido por
    CAART en el procesamiento del reembolso. El Comprador reconoce que no tendrá ningún otro reclamo contra CAART con
    respecto al incumplimiento por parte del Vendedor.
  </p>
  <br>
  <p>
    El comprador se abstendrá de realizar cualquier acción que tenga por efecto el desprestigio, la dilución, o
    cualquier otra forma de disminución de valor de los logos, marcas, productos y/o servicios de CAART, obligándose
    especialmente, a no utilizar o causar que tales logos, marcas, productos y/o servicios sean utilizados o explotados
    en cualquier forma contraria a la moral y las buenas costumbres y/o al orden público, o, que puedan tener efectos
    contrarios hacia el buen nombre, reputación o imagen del Cliente.
  </p>
  <br>
  <p>
    Por medio del presente, el Comprador se compromete a indemnizar y eximir a CAART de toda responsabilidad, pérdida,
    costos, daños y gastos (incluyendo los honorarios de abogados, expertos y consultores), causas de acción, acciones,
    reclamaciones, demandas, juicios u otros procedimientos (colectivamente, las “Reclamaciones”), por parte de quien
    las haya realizado, sostenido, incurrido, presentado o procesado, incluso por violaciones de confidencialidad o
    privacidad, derechos de Propiedad Intelectual, o por lesiones corporales de terceros (incluida la muerte), lesiones
    corporales y daños a la propiedad, de cualquier manera basados, ocasionados o atribuibles a cualquier cosa hecha u
    omitida por el Proveedor (incluyendo los Servicios), sus subcontratistas o sus respectivos directores, funcionarios,
    agentes, empleados, socios, afiliados, voluntarios o contratistas independientes en el curso de la ejecución de las
    obligaciones del Proveedor bajo, o de otra manera en relación con el Contrato. Asimismo, el Comprador acepta
    indemnizar y eximir de cualquier responsabilidad al dueño de cualquier artículo, bien, servicio, vehículo, artes o
    cualquier otra de la misma especie, que se oferte en los portales y página web de CAART, por cualquier daño
    incidental, indirecto, especial o consecuente, o cualquier pérdida de uso, ingresos o beneficios, por parte de
    cualquier persona, entidad u organización. Las obligaciones contenidas en este párrafo seguirán vigentes tras la
    terminación o el vencimiento del Contrato.
  </p>
  <br>

  <ol class="list-[lower-alpha] space-y-2 list-inside mt-2">
    <li>
      Mediante el presente contrato de prestación de servicios, CAARTproporcionará al Comprador los servicios
      profesionales señalados en la Clausula 1, los cuales, se contratan de conformidad con los términos y condiciones
      establecidos en el presente, y, los contenidos en los términos y condiciones generales disponibles en [**] (las
      “Condiciones Generales”).
    </li>
    <li>
      Todos los términos en mayúscula contenidos en el presente documento que no se encuentren definidos en el mismo,
      tomarán el significado establecido en los Términos y Condiciones Generales.
    </li>
    <li>
      Las Partes acuerdan que el presente contrato de prestación de servicios forma parte integrante, como si a la
      letra se insertase, de los Términos y Condiciones Generales y deberán de entenderse en su conjunto como un solo
      documento. En caso de conflicto entre el Contrato de Prestación de Servicios y las Condiciones Generales,
      prevalecerá el Contrato de Prestación de Servicios.
    </li>
  </ol>
  <br>
  <p>
    Habiendo leído y entendido todo el valor y alcance legal del presente contrato de prestación de servicios y los
    Términos y Condiciones Generales, las Partes lo firman el [_]_.
  </p>
</div>