<div class="container">
  <div class=WordSection1>

    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse'>
      <tr style='height:7.25pt'>
        <td valign=top style='padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'></td>
        <td colspan=2 valign=top style='padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>CONTRATO DE PRESTACIÓN DE SERVICIOS DE SUBASTA PARA COMPRADORES:</span></b></p>
        </td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      background:#D0CECE;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='margin-left:22.7pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Servicio</span></u></b></p>
        </td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>El presente contrato de prestación de servicios de subasta (el “<u>Contrato</u>”)
              es celebrado entre el Usuario adquirente de CAART (el “<u>Comprador</u>”) y <span
                style='background:yellow'>SMARE, S.A. de C.V.</span> (“CAART”) y junto con al
              Comprador se les refirirá de manera conjunta como las (“<u>Partes</u>”) para
              la prestación de los servicios descritos a continuación.&nbsp;</span></p>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Los servicios objeto del presente Contrato consistirán en el
              otorgamiento y acceso a la plataforma y sitio web propiedad de CAART, con el
              fin de proporcionar al Comprador con una base amplia para la busqueda,
              identificación y ofertamientos de distintos bienes o servicios, como lo son
              automobiles, arte y memorabilia. Así, pudiendo el Comprador realizar ofertas
              por los artículo, bienes y/o servicios ofertados en la misma. </span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Por lo anterior, con motivo de que el Comprador participe de
              manera efectiva en la compra de cualquier artículo, bien o servicio ofertado
              en el sitio web de CAART, mediante la puja y/o oferta, el Comprador por
              virtud de la aceptación tacita del presente, otorga el derecho exclusivo a
              CAART a proporcionar todos y cada uno de los datos personales, datos
              financieros, información sensible y cualquier otra información necesaria a la
              parte listadora y vendedora del artículo por el cual realizó una oferta. Lo anterior
              se realizará unica y exclusivamente con el fin de materializar la compra y el
              contacto entre parte compradora y vendedora, sobre los bienes y servicios
              ofertados a través de la pagina web y plataforma de CAART. </span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Para efectos del presente Contrato, los servicios antes
              referidos en lo sucesivo serán considerados en su conjunto como los “<u>Servicios</u>”.</span></p>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Especificaciones de los Servicios:&nbsp;</span></p>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>CAART ha emitido un usuario al Comprador con motivo de que este
              pueda lrealizar a busqueda, identificación y ofertamientos de distintos
              bienes o servicios, como lo son automobiles, arte y memorabilia, para lo cual
              el Comprador como usuario de la plataforma proporcionó a CAART con un
              registro e información así como con la firma y aceptación de las políticas de
              usos, los términos y condiciones así como con el aviso de provacidad en el
              cual se le informó del tratamiento de sus datos personales. Por lo que el Comprador
              deberá observar en todo momento lo establecido en las Condiciones Generales
              proporcionadas a el. </span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Ahora bien, dentro de las obligaciones del Comprador estarán las
              siguiente: </span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:
      -18.0pt'><span style='font-family:"Bookman Old Style",serif;color:black'>a)<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'> el utilizar de
              manera exclusiva los medios de comunicación y oferta aceptados y señalados
              por CAART, con el fin de poder realizar una oferta o puja, por lo que única y
              eclusivamente podrá realizar estas mediante el uso de los canales que CAART
              le proporcione para tales efectos. </span></p>
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:
      -18.0pt'><span style='font-family:"Bookman Old Style",serif;color:black'>b)<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'>El comprador se
              obliga a la adquisición de los bienes o servicios, como lo son automobiles,
              arte y memorabilia por los cuales puje y/o oferte para su adquisición, para
              cuyo caso se considerará como el pujador ganador y actualizará su obligación
              de compra conforme a lo siguiente: </span></p>
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
              style='font-family:"Bookman Old Style",serif;color:black'>&nbsp;</span></p>
          <p class=MsoListParagraphCxSpMiddle style='margin-left:54.0pt;text-align:
      justify;text-indent:-18.0pt'><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'> </span><span
              style='font-family:"Bookman Old Style",serif'>En caso de que el Comprador
              realice una oferta o haga clic en &quot;Comprar ahora&quot; en un Vehículo o
              Artículo que esté listado para la venta en el Sitio web conforme a una forma
              de subasta en la que se establece un precio mínimo al que el Vehículo o Artículo
              puede ser vendido (el &quot;Precio de Reserva&quot;), el Comprador acuerda
              que en la medida en que la oferta u oferta del Comprador sea igual o mayor
              que el Precio de Reserva y la oferta u oferta del Comprador sea la más alta
              recibida por CAART, se considerará que el Comprador ha adquirido dicho bien y
              estara obligado a la consecución y trámites auxiliares de adquisición. </span></p>
          <p class=MsoListParagraphCxSpMiddle style='margin-left:54.0pt;text-align:
      justify'><span style='font-family:"Bookman Old Style",serif;color:black'>&nbsp;</span></p>
          <p class=MsoListParagraphCxSpMiddle style='margin-left:54.0pt;text-align:
      justify;text-indent:-18.0pt'><span style='font-family:"Bookman Old Style",serif;
      color:black'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif'>En caso de que el Comprador
              realice una oferta por un Vehículo o Artículo que esté listado para la venta
              en el Sitio web conforme a una forma de subasta que no contenga un Precio de
              Reserva, el Comprador acuerda que en la medida en que la oferta del Comprador
              sea la más alta recibida por CAART con respecto al Vehículo o Artículo, se
              considerará que el Comprador ha adquirido dicho bien y estara obligado a la
              consecución y trámites auxiliares de adquisición.</span></p>
          <p class=MsoListParagraphCxSpMiddle><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:
      -18.0pt'><span style='font-family:"Bookman Old Style",serif;color:black'>c)<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'>Una vez que el
              comprador haya salido victorioso en la oferta y/o puja del bien ofertado,
              conforme lo anteriormente establecido, el Comprador quedará obligado a la
              adquisición del bien o los bienes por los cuales haya realizado su puja y
              haya resultado ganador, para lo cual deberá realizar lo siguiente: </span></p>
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
              style='font-family:"Bookman Old Style",serif;color:black'>&nbsp;</span></p>
          <p class=MsoListParagraphCxSpMiddle style='margin-left:54.0pt;text-align:
      justify;text-indent:-18.0pt'><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif'>Al recibir la notificación de
              que el Comprador ha salido victorioso en la puja, y que el mimso ha adquirido
              el bien, vehículo y/o artículo, el Comprador deberá, dentro de los siete (7)
              días hábiles, emitir el pago completo por el bien, vehículo y/o artículo al
              Vendedor. </span></p>
          <p class=MsoListParagraphCxSpLast style='margin-left:54.0pt;text-align:justify;
      text-indent:-18.0pt'><span style='font-family:"Bookman Old Style",serif;
      color:black'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif'>Dentro de las cuarenta y ocho
              (48) horas posteriores a que el Comprador realice el pago completo por bien,
              vehículo y/o artículo (el &quot;Período de entrega&quot;), el Vendedor pondrá
              el bien, vehículo y/o artículo a disposición del Comprador y el Comprador
              deberá hacer arreglos para recogerlo o entregarlo, a menos que se hayan hecho
              y acordado otros arreglos entre el Comprador y el Vendedor. CAART en ningún
              momento será responsable ni estará obligado intermediar entre Comprador y
              Vendedor pago y la entrega del bien, vehículo y/o artículo.</span></p>
          <p class=MsoNormal>&nbsp;</p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif'>Por
              virtud de lo anterior, el Comprador reconoce que el Sitio web porpiedad de
              CAART, es foro público, en donde se les otorga a las personas la posibilidad
              de vender y comprar bienes, vehículos y/o artículos. A menos que CAART lo
              indique expresamente, CAART solo estará involucrado como facilitador en la
              transacción entre compradores y vendedores. Como resultado de lo anterior,
              CAART no contará con ningún control sobre los artículos puestos en subasta,
              incluido, entre otros, el control con respecto a la calidad, seguridad o
              legalidad de los artículos en venta, la veracidad o precisión de los listados
              de artículos en venta, o la capacidad de los vendedor(es) para participar en
              cualquier transacción en el Sitio web. Debido a que la autenticación de
              usuario en medios digitales y portales web resulta casí imposible, CAART no
              puede y no confirma que cada usuario sea quien dice ser. El Comprador acepta
              que CAART no es un agente del Comprador y que CAART no actúa en calidad de
              fiduciario. El Comprador acepta que CAART no es un defensor de los intereses
              del Comprador ni de ninguna otra parte relacionada con la venta del Vehículo
              o Artículo. El Comprador reconoce y consiente que CAART puede representar y/o
              asistir a otros compradores que puedan tener interés en comprar el
              Vehículo/Artículo o cualquier otro vehículo/Artículo listado para la venta en
              el Sitio web. El Comprador entiende y reconoce que CAART no ofrece ninguna
              garantía o aval en relación con si los detalles proporcionados por el
              Vendedor sobre el Vehículo o Artículo son veraces o precisos, incluida la
              calidad del título del Vehículo o Artículo, o si la calidad del Vehículo o
              Artículo difiere en última instancia de la calidad del Vehículo o Artículo
              tal como se muestra en el Sitio web. CAART no será responsable por ninguna
              pérdida sufrida por el Comprador relacionada con el Vehículo/Artículo o el
              tema del presente documento, incluidos, entre otros, el rechazo del Vendedor
              a celebrar un contrato de compraventa, la falta de disponibilidad del
              Vehículo o Artículo para el Comprador después de la compra, o de lo
              contrario, no completar una compra de un Vehículo o Artículo. CAART no se
              encargará de la entrega del Vehículo/Artículo ni de la custodia del Vehículo
              o Artículo, su gestión, mantenimiento, seguridad, seguro o reparación, y no
              tendrá la capacidad de controlar si el Vehículo o Artículo experimenta algún
              cambio o daño después de la compra del Vehículo o Artículo por el Comprador
              pero antes de que el Comprador reciba la posesión del mismo. Se recomiendan
              Inspecciones Previas a la Compra, como parte de la diligencia debida del Comprador
              antes de realizar sus ofertas. Algunos vehículos pueden incluir una
              inspección previa  suministrado por el vendedor. Todas las inspecciones son
              realizadas por compañías/individuos de terceros. CAART no asume
              responsabilidad por la precisión de estas inspecciones. Si se declara o
              implica que un vehículo tiene garantía, es responsabilidad del comprador
              llamar al fabricante y/o a la compañía de garantía para verificar que la
              garantía aún sea válida. CAART no es responsable de garantías anuladas o vencidas.</span></p>
          <p class=MsoNormal style='text-align:justify'><span
              style='font-family:"Bookman Old Style",serif'>&nbsp;</span>
          </p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif'>En
              caso de que el Vendedor no ponga el Vehículo o Artículo a disposición del
              Comprador, el Comprador acepta y reconoce que CAART no será responsable por
              dicho incumplimiento por parte del Vendedor. En tal caso, y siempre que el
              vehículo o artículo no haya sido entregado al Comprador dentro de los 45 días
              posteriores al pago completo, el Comprador recibirá un reembolso igual a la
              Tarifa del Comprador, menos cualquier cargo administrativo incurrido por
              CAART en el procesamiento del reembolso. El Comprador reconoce que no tendrá
              ningún otro reclamo contra CAART con respecto al incumplimiento por parte del
              Vendedor.</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>El comprador se abstendrá de realizar cualquier acción que tenga
              por efecto el desprestigio, la dilución, o cualquier otra forma de
              disminución de valor de los logos, marcas, productos y/o servicios de CAART,
              obligándose especialmente, a no utilizar o causar que tales logos, marcas,
              productos y/o servicios sean utilizados o explotados en cualquier forma
              contraria a la moral y las buenas costumbres y/o al orden público, o, que
              puedan tener efectos contrarios hacia el buen nombre, reputación o imagen del
              Cliente.</span></p>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Por medio del presente, el Comprador se compromete a indemnizar
              y eximir a CAART de toda responsabilidad, pérdida, costos, daños y gastos
              (incluyendo los honorarios de abogados, expertos y consultores), causas de
              acción, acciones, reclamaciones, demandas, juicios u otros procedimientos
              (colectivamente, las “Reclamaciones”), por parte de quien las haya realizado,
              sostenido, incurrido, presentado o procesado, incluso por violaciones de
              confidencialidad o privacidad, derechos de Propiedad Intelectual, o por lesiones
              corporales de terceros (incluida la muerte), lesiones corporales y daños a la
              propiedad, de cualquier manera basados, ocasionados o atribuibles a cualquier
              cosa hecha u omitida por el Proveedor (incluyendo los Servicios), sus
              subcontratistas o sus respectivos directores, funcionarios, agentes,
              empleados, socios, afiliados, voluntarios o contratistas independientes en el
              curso de la ejecución de las obligaciones del Proveedor bajo, o de otra
              manera en relación con el Contrato. Asimismo, el Comprador acepta indemnizar
              y eximir de cualquier responsabilidad al dueño de cualquier artículo, bien,
              servicio, vehículo, artes o cualquier otra de la misma especie, que se oferte
              en los portales y página web de CAART,  por cualquier daño incidental,
              indirecto, especial o consecuente, o cualquier pérdida de uso, ingresos o
              beneficios, por parte de cualquier persona, entidad u organización. Las
              obligaciones contenidas en este párrafo seguirán vigentes tras la terminación
              o el vencimiento del Contrato.</span></p>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        </td>
      </tr>
      <tr style='height:8.05pt'>
        <td colspan=3 valign=top style='border:none;border-bottom:solid black 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt'></td>
      </tr>
      <tr style='height:7.25pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;background:
      #D0CECE;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Contraprestación</span></u></b></p>
        </td>
        <td colspan=2 valign=top style='border-top:none;border-left:none;border-bottom:
      solid black 1.0pt;border-right:solid black 1.0pt;background:#D0CECE;
      padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Datos de pago </span></u></b></p>
        </td>
      </tr>
      <tr style='height:74.7pt'>
        <td rowspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      padding:0cm 5.4pt 0cm 5.4pt;height:74.7pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>&nbsp;</span></p>
          <p class=MsoNormal><span style='font-family:"Bookman Old Style",serif'>A
              cambio de los Servicios, el Comprador acuerda pagar a CAART como
              contraprestación el equivalente al 5%(cinco por ciento) para la adqusición de
              cualquier bien correspondiente a la categoria de vehículos, para la categoría
              de autos, con un mínimo de $10,000.00 MXN y un máximo de $200,000.00 MXN  del
              monto de la oferta ganadora del Vehículo, oferta o cantidad de &quot;Comprar
              ahora&quot; ingresada por el Comprador con respecto al Vehículo (la
              &quot;Tarifa del Comprador&quot;). Para subastas de Artículos que no son
              Vehículos, el Comprador acepta pagar el diez por ciento (10%) del monto de la
              oferta ganadora de la subasta, oferta o &quot;Comprar ahora&quot; ingresada
              por el Comprador con respecto al Artículo (la &quot;Tarifa del
              Comprador&quot;). El Comprador comprende que, la Tarifa del Comprador no será
              reembolsada al Comprador bajo ninguna circunstancia. A discreción exclusiva
              de CAART, una parte de los ingresos puede ser pagada al comprador o al
              vendedor por CAART si una oferta no alcanza el Precio de Reserva para cumplir
              con el precio de reserva final. Todas los valores, ofertas y tarifas están en
              pesos mexicanos</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:74.7pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Beneficiario</span></b></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:74.7pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>[__], S.A. de C.V.</span></p>
        </td>
      </tr>
      <tr style='height:77.75pt'>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:77.75pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Institución</span></b></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:77.75pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>[__]</span></p>
        </td>
      </tr>
      <tr style='height:178.8pt'>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:178.8pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Información de la
                cuenta</span></b></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:178.8pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Número de Cuenta: </span></p>
          <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Clabe: </span></p>
        </td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:none;border-bottom:solid black 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'></td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      background:#D0CECE;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='margin-left:37.45pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Vigencia del
                  Contrato</span></u></b></p>
        </td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Este Contrato entrará en vigor a partir de la fecha de su aceptación
              tacita y/o firma y tendrá una vigencia de un (1) año contado a partir de su
              entrada en vigor, y en caso de no darse por terminado este se renovará
              automáticamente por un periodo igual, hasta el momento que el presente se dé
              por terminado por ambas Partes.&nbsp;</span></p>
          <p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
      font-family:"Times New Roman",serif'><br>
              <br>
              <br>
              <br>
            </span></p>
        </td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:none;border-bottom:solid black 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'></td>
      </tr>
      <tr style='height:7.25pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      background:#D0CECE;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt'>
          <p class=MsoNormal style='margin-left:40.7pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'> </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Información del
                  Cliente</span></u></b></p>
        </td>
      </tr>
      <tr style='height:12.05pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      padding:0cm 5.4pt 0cm 5.4pt;height:12.05pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>El Comprador manifiesta que ha entregado a CAART la siguiente
              documentación:</span></p>
        </td>
      </tr>
      <tr style='height:38.85pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;background:
      #E7E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:38.85pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Documento</span></b></p>
        </td>
        <td valign=top style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;background:#E7E6E6;padding:0cm 5.4pt 0cm 5.4pt;
      height:38.85pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Entregado&nbsp;</span></b></p>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>(Si/No)</span></b></p>
        </td>
        <td valign=top style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;background:#E7E6E6;padding:0cm 5.4pt 0cm 5.4pt;
      height:38.85pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>Datos de
                identificación del documento&nbsp;</span></b></p>
        </td>
      </tr>
      <tr style='height:37.85pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;
      height:37.85pt'>
          <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
      0cm;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
      color:black'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'>Identificación
              oficial</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:37.85pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Si</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:37.85pt'></td>
      </tr>
      <tr style='height:24.7pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;
      height:24.7pt'>
          <p class=MsoNormal style='margin-left:22.7pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
      color:black'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'>Comprobante
              domicilio</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:24.7pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Si</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:24.7pt'></td>
      </tr>
      <tr style='height:37.35pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;
      height:37.35pt'>
          <p class=MsoNormal style='margin-left:22.7pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
      color:black'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
              style='font-family:"Bookman Old Style",serif;color:black'>Cédula de
              Identificación Fiscal (con no menos de 3 meses de antigüedad)</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:37.35pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Si</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:37.35pt'></td>
      </tr>
      <tr style='height:12.55pt'>
        <td valign=top style='border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;
      height:12.55pt'>
          <p class=MsoNormal style='margin-left:22.7pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
      color:black'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span style='font-family:"Bookman Old Style",serif;color:black'>Datos
              bancarios, financieros, tarjetas.</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.55pt'>
          <p class=MsoNormal align=center style='text-align:center'><span
              style='font-family:"Bookman Old Style",serif;color:black'>Si</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.55pt'></td>
      </tr>
      <tr style='height:12.55pt'>
        <td colspan=3 valign=top style='border:none;border-bottom:solid black 1.0pt;
      padding:0cm 5.4pt 0cm 5.4pt;height:12.55pt'></td>
      </tr>
      <tr style='height:12.55pt'>
        <td colspan=3 valign=top style='border:solid black 1.0pt;border-top:none;
      background:#D0CECE;padding:0cm 5.4pt 0cm 5.4pt;height:12.55pt'>
          <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
      -18.0pt;vertical-align:baseline'><b><span style='font-family:"Bookman Old Style",serif;
      color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                  style='font-family:"Bookman Old Style",serif;color:black'>Domicilios</span></u></b></p>
        </td>
      </tr>
      <tr style='height:13.05pt'>
        <td colspan=2 valign=top style='border:solid black 1.0pt;border-top:none;
      background:#E7E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:13.05pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>CAART</span></b></p>
        </td>
        <td valign=top style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;background:#E7E6E6;padding:0cm 5.4pt 0cm 5.4pt;
      height:13.05pt'>
          <p class=MsoNormal align=center style='text-align:center'><b><span
                style='font-family:"Bookman Old Style",serif;color:black'>El Cliente&nbsp;</span></b></p>
        </td>
      </tr>
      <tr style='height:87.35pt'>
        <td colspan=2 valign=top style='border-top:none;border-left:solid black 1.0pt;
      border-bottom:none;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
      height:87.35pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>Prolongación Bosque de Tamarindos #384, Int. 404, Loma de Palo
              Alto, Alcaldía Cuajimalpa de Morelos, Ciudad de México, Código Postal 05110.</span></p>
        </td>
        <td valign=top style='border:none;border-right:solid black 1.0pt;padding:
      0cm 5.4pt 0cm 5.4pt;height:87.35pt'>
          <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
      color:black'>[__]</span></p>
        </td>
      </tr>
      <tr style='height:64.6pt'>
        <td colspan=2 valign=top style='border:solid black 1.0pt;border-top:none;
      padding:0cm 5.4pt 0cm 5.4pt;height:64.6pt'></td>
        <td valign=top style='border-top:none;border-left:none;border-bottom:solid black 1.0pt;
      border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:64.6pt'></td>
      </tr>
    </table>

    <p class=MsoNormal><span style='font-family:"Bookman Old Style",serif;
    color:black'><br>
        <br>
        <br>
      </span></p>

    <p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm;
    vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
    color:black'>A.<span
          style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-family:"Bookman Old Style",serif;color:black'>Mediante
        el presente contrato de prestación de servicios, CAARTproporcionará al Comprador
        los servicios profesionales señalados en la Clausula 1, los cuales, se
        contratan de conformidad con los términos y condiciones establecidos en el
        presente, y, los contenidos en los términos y condiciones generales disponibles
        en <span style='background:yellow'>[**]</span> (las “<u>Condiciones Generales</u>”).&nbsp;</span></p>

    <p class=MsoNormal><span style='font-family:"Bookman Old Style",serif;
    color:black'><br>
        <br>
        <br>
      </span></p>

    <p class=MsoNormal style='margin-left:21.3pt;text-align:justify;text-indent:
    -18.0pt;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
    color:black'>B.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
        style='font-family:"Bookman Old Style",serif;color:black'>Todos los términos en
        mayúscula contenidos en el presente documento que no se encuentren definidos en
        el mismo, tomarán el significado establecido en los Términos y Condiciones
        Generales.&nbsp;</span></p>

    <p class=MsoNormal><span style='font-family:"Bookman Old Style",serif;
    color:black'><br>
        <br>
      </span></p>

    <p class=MsoNormal style='margin-left:21.3pt;text-align:justify;text-indent:
    -18.0pt;vertical-align:baseline'><span style='font-family:"Bookman Old Style",serif;
    color:black'>C.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
        style='font-family:"Bookman Old Style",serif;color:black'>Las Partes acuerdan
        que el presente contrato de prestación de servicios forma parte integrante,
        como si a la letra se insertase, de los Términos y Condiciones Generales y
        deberán de entenderse en su conjunto como un solo documento. En caso de
        conflicto entre el Contrato de Prestación de Servicios y las Condiciones
        Generales, prevalecerá el Contrato de Prestación de Servicios.&nbsp;&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

    <p class=MsoNormal style='text-align:justify'><span style='font-family:"Bookman Old Style",serif;
    color:black'>Habiendo leído y entendido todo el valor y alcance legal del
        presente contrato de prestación de servicios y los Términos y Condiciones
        Generales, las Partes lo firman el <b><span style='background:yellow'>[_]</span>_.</b></span></p>

    <p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
    font-family:"Times New Roman",serif'><br>
        <br>
        <br>
      </span></p>

    <p class=MsoNormal><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

    <p class=MsoNormal>&nbsp;</p>

  </div>
</div>