<h1 class="font-optima text-4xl font-bold mb-8">Información extra</h1>

<h2 class="text-xl font-bold mb-5">Información del arte</h2>
<form [formGroup]="extraInfoForm" (ngSubmit)="carExtrasFormSubmit()" class="grid grid-cols-2 items-end gap-5">
  <!-- certificadoAutenticidad -->
  <div>
    <fieldset>
      <legend class="block text-sm mb-1">Certificado de autenticidad <span
          class="font-bold text-red-500 inline-block">*</span></legend>
      <div class="flex">
        <div class="flex">
          <input formControlName="certificadoAutenticidad" id="certificadoAutenticidad" [value]="true" type="radio"
            class="h-6 w-6">
          <label for="certificadoAutenticidad" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-6 xxs:ml-8 md:ml-16">
          <input formControlName="certificadoAutenticidad" id="hasNocertificadoAutenticidad" [value]="false"
            type="radio" class="h-6 w-6">
          <label for="hasNocertificadoAutenticidad" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('certificadoAutenticidad')) {
    <shared-input-error [message]="getError('certificadoAutenticidad')"></shared-input-error>
    }
  </div>

  @if (certificadoAutenticidadControl.value === true) {
  <div class="col-span-2">
    <label for="entidadCertificado" class="block text-sm mb-2">Entidad que otorga el certificado <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="entidadCertificado" type="text" name="entidadCertificado" formControlName="entidadCertificado"
      sharedInput>
    @if (hasError('entidadCertificado')) {
    <shared-input-error [message]="getError('entidadCertificado')"></shared-input-error>
    }
  </div>
  }

  <!-- entregaConMarco -->
  <div>
    <fieldset>
      <legend class="block text-sm mb-1">Entrega con marco <span class="font-bold text-red-500 inline-block">*</span>
      </legend>
      <div class="flex">
        <div class="flex">
          <input formControlName="entregaConMarco" id="entregaConMarco" [value]="true" type="radio" class="h-6 w-6">
          <label for="entregaConMarco" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-6 xxs:ml-8 md:ml-16">
          <input formControlName="entregaConMarco" id="hasNoentregaConMarco" [value]="false" type="radio"
            class="h-6 w-6">
          <label for="hasNoentregaConMarco" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('entregaConMarco')) {
    <shared-input-error [message]="getError('entregaConMarco')"></shared-input-error>
    }
  </div>

  <!-- firmaArtista -->
  <div>
    <fieldset>
      <legend class="block text-sm mb-1">Firma del artista <span class="font-bold text-red-500 inline-block">*</span>
      </legend>
      <div class="flex">
        <div class="flex">
          <input formControlName="firmaArtista" id="firmaArtista" [value]="true" type="radio" class="h-6 w-6">
          <label for="firmaArtista" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-6 xxs:ml-8 md:ml-16">
          <input formControlName="firmaArtista" id="hasNofirmaArtista" [value]="false" type="radio" class="h-6 w-6">
          <label for="hasNofirmaArtista" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('firmaArtista')) {
    <shared-input-error [message]="getError('firmaArtista')"></shared-input-error>
    }
  </div>

  <!-- procedenciaObra input -->
  <div class="col-span-2">
    <label for="procedenciaObra" class="block text-sm mb-2">Procedencia de la obra <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="procedenciaObra" type="text" name="procedenciaObra" formControlName="procedenciaObra" sharedInput>
    @if (hasError('procedenciaObra')) {
    <shared-input-error [message]="getError('procedenciaObra')"></shared-input-error>
    }
  </div>

  <!-- historiaArtista -->
  <div class="col-span-2">
    <label for="historiaArtista" class="block text-sm mb-2">Historia del artista</label>
    <textarea id="historiaArtista" rows="4" name="historiaArtista" formControlName="historiaArtista" sharedInput
      sharedTextarea></textarea>
    @if (hasError('historiaArtista')) {
    <shared-input-error [message]="getError('historiaArtista')"></shared-input-error>
    }
  </div>

  <!-- Cargos adicionales input -->
  <div class="col-span-2 grid gap-5" formArrayName="additionalCharges">
    @for (charge of additionalChargesFormArrayControls; track charge; let i = $index) {
    <div class="flex gap-5" [formGroupName]="i">
      <div>
        <label for="chargeType" class="block text-sm mb-2">Cargos adicionales <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input formControlName="chargeType" id="chargeType" type="text" sharedInput>
        @if (hasError('chargeType', charge)) {
        <shared-input-error [message]="getError('chargeType', charge)"></shared-input-error>
        }
      </div>
      <!-- Monto del cargo $ -->
      <div>
        <label for="amount" class="block text-sm mb-2">Monto del cargo <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <div class="relative rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <span class="text-gray-500 sm:text-sm">$</span>
          </div>
          <input formControlName="amount" type="text" class="pl-7 pr-12" name="price" id="amount" mask="separator"
            thousandSeparator="," autocomplete="off" placeholder="0.00" aria-describedby="price-currency" sharedInput>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
            <span class="text-gray-500 sm:text-sm" id="price-currency">MXN</span>
          </div>
        </div>
        @if (hasError('amount', charge)) {
        <shared-input-error [message]="getError('amount',charge)"></shared-input-error>
        }
      </div>
      <!-- eliminar cargo -->
      <div class="flex items-center mt-5">
        <button type="button" class="flex" (click)="removeAdditionalCharge(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    }
  </div>

  <div class="col-span-2">
    <button (click)="addAdditionalCharge()" type="button" class="underline">Añadir cargo</button>
  </div>

  <div class="col-span-2">
    <label class="text-sm cursor-pointer">
      Imágenes extra (opcional)
    </label>

    <div #uppyDashboardImages></div>

    @if (hasError('photos')) {
    <shared-input-error [message]="getError('photos')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="flex justify-center" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Siguiente
      }
    </button>
  </div>
</form>