<h1 class="font-optima text-4xl font-bold mb-8">Interior del auto</h1>

<h2 class="text-xl font-bold mb-5">Interior del auto</h2>
<form [formGroup]="interiorOfTheCarForm" (ngSubmit)="exteriorOfTheCarFormSubmit()"
  class="grid grid-cols-2 items-end gap-5">

  <!-- interiorColor select -->
  <div>
    <label for="interiorColor" class="block mb-1 text-sm">Color</label>
    <input id="interiorColor" formControlName="interiorColor" type="text" sharedInput>
    @if (hasError('interiorColor')) {
    <shared-input-error [message]="getError('interiorColor')"></shared-input-error>
    }
  </div>

  <!-- Material select   -->
  <div>
    <label for="material" class="block mb-1 text-sm">Material</label>
    <select id="material" formControlName="material" sharedInput>
      <option value="leather">Piel</option>
      <option value="cloth">Tela</option>
      <option value="vinyl">Vinil</option>
      <option value="other">Otro</option>
    </select>
    @if (hasError('material')) {
    <shared-input-error [message]="getError('material')"></shared-input-error>
    }
  </div>

  <!-- Condiciones del interior select -->
  <div class="col-span-2">
    <label for="interiorCondition" class="block mb-1 text-sm">Condiciones del interior</label>
    <select id="interiorCondition" formControlName="interiorCondition" sharedInput>
      <!-- <option value disabled selected>Condiciones del interior</option> -->
      <option value="excellent">Excelente</option>
      <option value="good">Buena</option>
      <option value="regular">Regular</option>
      <option value="bad">Mala</option>
    </select>
    @if (hasError('interiorCondition')) {
    <shared-input-error [message]="getError('interiorCondition')"></shared-input-error>
    }
  </div>

  <!-- ¿Ha tenido modificaciones en el interior? select -->
  <div class="col-span-2">
    <label for="interiorModifications" class="block mb-1 text-sm">¿Ha tenido modificaciones en el
      interior?</label>
    <select id="interiorModifications" formControlName="interiorModifications" sharedInput>
      <!-- <option value disabled selected>¿Ha tenido modificaciones en el interior?</option> -->
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('interiorModifications')) {
    <shared-input-error [message]="getError('interiorModifications')"></shared-input-error>
    }
  </div>

  <!-- ¿Los accesorios y electrónicos funcionan? input-->
  <div class="col-span-2">
    <label for="accessoriesFunctioning" class="block mb-1 text-sm">¿Los accesorios y electrónicos
      funcionan?</label>
    <select id="accessoriesFunctioning" formControlName="accessoriesFunctioning" sharedInput>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
    @if (hasError('accessoriesFunctioning')) {
    <shared-input-error [message]="getError('accessoriesFunctioning')"></shared-input-error>
    }
  </div>

  <!-- Comentarios sobre detalles textarea -->
  <div class="col-span-2">
    <label for="comments" class="block mb-1 text-sm">Comentarios sobre detalles</label>
    <textarea id="comments" formControlName="comments" rows="6" sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('comments')) {
    <shared-input-error [message]="getError('comments')"></shared-input-error>
    }
  </div>

  <!-- Fotos/vídeos del interior del auto -->
  <div class="col-span-2">
    <label id="uppyDashboard" for="interiorImagesOrVideos" class="text-sm cursor-pointer">
      Fotos/vídeos del exterior del auto
    </label>

    <div id="uppyDashboard" #uppyDashboard></div>

    @if (hasError('interiorPhotos')) {
    <shared-input-error [message]="getError('interiorPhotos')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="flex justify-center mt-4" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Siguiente
      }
    </button>
  </div>
</form>
