<h1 class="font-optima text-4xl font-bold mb-8">Interior del auto</h1>

<h2 class="text-xl font-bold mb-5">Interior del auto</h2>

<form [formGroup]="interiorOfTheCarForm" (ngSubmit)="exteriorOfTheCarFormSubmit()"
  class="grid grid-cols-2 items-end gap-5">

  <!-- interiorColor select -->
  <div>
    <label for="interiorColor" class="block mb-1 text-sm">Color <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="interiorColor" formControlName="interiorColor" type="text" sharedInput>
    @if (hasError('interiorColor')) {
    <shared-input-error [message]="getError('interiorColor')"></shared-input-error>
    }
  </div>

  <!-- Material select   -->
  <div>
    <label for="material" class="block mb-1 text-sm">Material <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <input id="material" formControlName="material" type="text" sharedInput>
    @if (hasError('material')) {
    <shared-input-error [message]="getError('material')"></shared-input-error>
    }
  </div>

  <!-- Cúentanos cualquier detalle importante sobre el interior -->
  <div class="col-span-2">
    <label for="interiorDetails" class="block mb-1 text-sm">Cúentanos cualquier detalle importante sobre el interior <span
        class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="interiorDetails" formControlName="interiorDetails" rows="6"
      placeholder="El interior está en perfecto estado, cuenta con asientos de cuero en excelente condición, sin rasgaduras ni daños visibles. El tablero y la consola se mantienen originales y funcionan correctamente, al igual que todos los accesorios y electrónicos del vehículo."
      sharedInput sharedAutoResizeTextarea></textarea>
    @if (hasError('interiorDetails')) {
    <shared-input-error [message]="getError('interiorDetails')"></shared-input-error>
    }
  </div>

  <!-- Fotos del interior del auto -->
  <div class="col-span-2">
    <label id="uppyDashboardImages" for="interiorImages" class="text-sm cursor-pointer">
      Fotos del interior del auto
      <span class="font-bold text-red-500 inline-block">*</span></label>

    <p class="mb-2 text-sm">Se recomienda subir fotos con orientación horizontal</p>

    <div id="uppyDashboardImages" #uppyDashboardImages></div>

    @if (hasError('interiorPhotos')) {
    <shared-input-error [message]="getError('interiorPhotos')"></shared-input-error>
    }
  </div>

  <!-- Videos del interior del auto -->
  <div class="col-span-2">
    <label id="uppyDashboardVideos" for="interiorVideos" class="text-sm cursor-pointer block mb-2">
      Videos del interior del auto
    </label>

    <div id="uppyDashboardVideos" #uppyDashboardVideos></div>

    @if (hasError('interiorVideos')) {
    <shared-input-error [message]="getError('interiorVideos')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="flex justify-center mt-4" type="submit" [disabled]="isButtonSubmitDisabled()"
      [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Siguiente
      }
    </button>
  </div>
</form>