<section class="container mt-16">
  <h1 class="font-optima font-bold text-center text-5xl">CAART</h1>


  <h2 class="font-optima font-bold text-center text-5xl mt-12">¡Felicidades!</h2>

  <p class="text-center text-lg mt-10">
    Hemos recibido tu registro de manera exitosa y pasará por el <br> proceso de aprobación.
  </p>

  <p class="block text-center text-lg mt-10">
    Una vez que tengamos una respuesta te enviaremos un correo <br> electrónico para los siguientes pasos.
  </p>

  <!-- Si tienes alguna duda pudes contactarnos al correo electrónico contacto@caart.com.mx -->
  <span class="block text-center text-lg mt-10">
    Si tienes alguna duda pudes contactarnos al correo electrónico <a href="mailto:contacto@caart.com.mx"
      class="underline font-bold">
      contacto&#64;caart.com.mx
    </a>
  </span>

  <div class="max-w-lg mx-auto mt-10 mb-24 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
    <button routerLink="/registrar-subasta" py="py-3" sharedPrimaryButton>
      Subir otro artículo
    </button>
    <button routerLink="/mis-subastas" routerLinkActive="router-link-active" py="py-3" sharedTertiaryButton>
      Ir a mi Actividad
    </button>
  </div>
</section>