<section class="container mt-16">
  <h1 class="font-optima font-bold text-center text-5xl">CAART</h1>


  <h2 class="font-optima font-bold text-center text-5xl mt-12">¡Felicidades!</h2>

  <p class="text-center text-lg mt-10">
    Hemos recibido tu registro de manera exitosa y pasará por el <br> proceso de aprobación.
  </p>

  <span class="block text-center text-lg mt-10">
    Una vez que tengamos una respuesta te enviaremos un correo <br> electrónico para los siguientes pasos.
  </span>

  <div class="max-w-lg mx-auto mt-10 mb-24 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
    <button py="py-3" sharedPrimaryButton>
      Subir otro artículo
    </button>
    <button routerLink="/solicitudes" routerLinkActive="router-link-active" py="py-3" sharedTertiaryButton>
      Ir a mi Actividad
    </button>
  </div>
</section>