<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">CONFIRMACIÓN</h1>

  <p class="text-center text-lg">
    Te enviamos un código por SMS a tu celular, <br> ingrésalo para confirmar tu cuenta
  </p>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md mb-32">
    <form [formGroup]="codeForm" (ngSubmit)="confirm()" class="space-y-6">
      <div formArrayName="digits">
        <div class="grid grid-cols-6 gap-4">
          <label class="block relative" (click)="handleClick(i)" [class.group]="i === editableIndex()"
            *ngFor="let control of digitsArray.controls; let i = index">
            <input #digitInputs [formControlName]="i" [readonly]="i !== editableIndex()"
              [ngClass]="{'focus:ring-2 focus:ring-inset focus:ring-black': i === editableIndex()}"
              class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg text-center" maxlength="1" type="text">
            <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
          </label>
        </div>
        @if (formHasError()) {
        <shared-input-error class="mt-1" [message]="getFirstError()"></shared-input-error>
        }
      </div>

      <button [disabled]="isButtonSubmitDisabled()" [class.opacity-25]="isButtonSubmitDisabled()" sharedPrimaryButton>
        Confirmar
      </button>

      <div class="text-center">
        <p>El SMS puede tardar hasta 1 minuto</p>
        <p class="mb-2">
          Si no te llego el mensaje&nbsp;&nbsp;&nbsp;<a routerLink="" class="font-bold underline"
            (click)="resendCode()">Enviar otro mensaje</a>
        </p>

        <span>¿No puedes verificar por Whatsapp? Da click <button type="button" (click)="resendCodeToEmail()"
            class="underline font-bold">aquí</button> y recibe el código vía email</span>
      </div>
    </form>
  </div>

</section>