<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">CONFIRMACIÓN</h1>

  <p class="text-center text-lg">
    Te enviamos un código por SMS a tu celular, <br> ingrésalo para confirmar ltu cuenta
  </p>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md mb-32">
    <form class="space-y-6">
      <div class="grid grid-cols-6 gap-4">
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
        <label class="block relative group">
          <input class="bg-gray1 h-12 w-full outline-none px-4 py-8 rounded-lg" type="text">
          <div class="absolute group-focus-within:border-b border-black bottom-3 left-0 right-0 mx-4"></div>
        </label>
      </div>

      <button sharedPrimaryButton>
        Confirmar
      </button>

      <div class="text-center">
        <p>El SMS puede tardar hasta 1 minuto</p>
        <span>Si no te llego el mensaje</span>&nbsp;&nbsp;&nbsp;<a routerLink="/registrarse"
          routerLinkActive="router-link-active" class="font-bold cursor-pointer underline">Enviar otro mensaje</a>
      </div>
    </form>
  </div>

</section>