<div class="space-y-8">
  @for (publication of myLiveArtAuctions().data; track $index) {
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-8">
    <div class="md:col-span-5">
      <img class="w-full h-60 object-cover" [src]="publication.attributes.cover" alt="Foto del vehículo">
    </div>
    <div class="md:col-span-7">
      <p class=" font-optima font-semibold text-3xl">
        {{ publication.attributes.artDetails.title }}
      </p>

      @switch (publication.attributes.status) {
      @case ('Publicado') {
      <span class="block bg-green-500 text-white px-4 py-2 rounded-lg mt-4 w-fit mb-4">
        {{ publication.attributes.status }}
      </span>
      }
      @case ('En revisión') {
      <span class="block bg-yellow-500 text-white px-4 py-2 rounded-lg mt-4 w-fit mb-4">
        {{ publication.attributes.status }}
      </span>
      }
      @case ('Pendiente') {
      <span class="block bg-gray-400 text-white px-4 py-2 rounded-lg mt-4 w-fit mb-4">
        {{ publication.attributes.status }}
      </span>
      }
      }

      @if (publication.attributes.isWithReserve) {
      <button class="underline font-semibold text-lg"
        (click)="openUpdateReservePriceModal(publication.id, publication.attributes.reserveAmount)">
        Actualizar precio de reserva
      </button>
      }
    </div>
  </div>
  } @empty {
  No tienes subastas en vivo de arte
  }
</div>

<update-reserve-price-modal [(isOpen)]="isUpdateReservePriceModalOpen" [currentReservePrice]="reservePrice()"
  [auctionType]="auctionTypes.art" [auctionId]="publicationId()"></update-reserve-price-modal>