<div [routerLink]="['/subasta', originalAuctionCarId()]" class="relative cursor-pointer">
  <img class="w-full object-cover rounded-md" [src]="cover()" alt="">
  <!-- <button class="absolute top-3 right-5 bg-white/50 rounded-full p-2">
    <img class="w-6 h-6" src="assets/img/icons/star.svg" alt="ícono estrella">
  </button> -->

  <follow-button [auctionId]="originalAuctionCarId()" [auctionType]="auctionType.car" class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <p class="font-lato font-semibold text-xl">
      {{title()}}
    </p>
    @if (reserve() === false || premium() || status() === statusTypes.cancelled || status() === statusTypes.completed) {
    <div class="space-x-2">
      @if (reserve() === false) {
      <no-reserve-tag-component></no-reserve-tag-component>
      }
      @if (premium()) {
      <!-- <span class="inline-block text-sm w-fit bg-black/30 text-black px-4 py-1 rounded mb-2">
        Premium
      </span> -->
      <span
        class="inline-block font-bold text-xs md:text-sm w-fit bg-[gainsboro] text-black px-4 py-1 rounded-2xl border-black border-2">
        Premium
      </span>
      }
      @if (status() === statusTypes.cancelled) {
      <span class="text-xs md:text-sm w-fit bg-red-500 px-4 py-1 rounded-2xl border-red-700 text-red-700 border-2">
        Reserva no alcanzada
      </span>
      }
      @if (status() === statusTypes.completed) {
      <span
        class="text-xs md:text-sm w-fit bg-green-500 px-4 py-1 rounded-2xl border-green-700 text-green-700 border-2">
        Vendido
      </span>
      }
    </div>
    }
    @if (!isHomeRoute) {
    <p class="text-gray4 line-clamp-3 min-h-[72px]" style="word-wrap: break-word;"
      [ngClass]="{'mt-9': !reserve() === false && !premium()}">
      {{extract()}}
    </p>
    }
    <span class="mt-2 flex items-center bg-gray1 rounded-md px-4 py-2">Oferta: {{ lastBid()
      | currency:'USD':'symbol':'1.0-2' }} MXN &nbsp; · &nbsp;
      <img class="w-5 h-5" src="assets/img/icons/time-outline.svg" alt=""> &nbsp; &nbsp;
      <countdown [config]="countdownConfig()" [ngClass]="{'text-red-500': countdownConfig().leftTime! <= 86400}">
      </countdown>
    </span>
  </div>
</div>
