<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">REGISTRO</h1>

  <p class="text-center font-optima font-bold text-3xl">Te damos la bienvenida a CAART</p>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md {{mb}}">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="grid grid-cols-2 gap-4">
      <div>
        <label for="firstName" class="block mb-1 text-sm">Nombre/s <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input id="firstName" formControlName="firstName" autocomplete="given-name" type="text" sharedInput>
        @if (hasError('firstName')) {
        <shared-input-error [message]="getError('firstName')"></shared-input-error>
        }
      </div>

      <div>
        <label for="lastName" class="block mb-1 text-sm">Apellido/s <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input id="lastName" formControlName="lastName" autocomplete="family-name" type="text" sharedInput>
        @if (hasError('lastName')) {
        <shared-input-error [message]="getError('lastName')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="_username" class="block mb-1 text-sm">Nombre de usuario <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input id="_username" formControlName="username" type="text" sharedInput>
        @if (hasError('username')) {
        <shared-input-error [message]="getError('username')"></shared-input-error>
        }
      </div>

      <!-- sellerType -->
      <div class="col-span-2">
        <label for="sellerType" class="block mb-1 text-sm">Tipo de usuario <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <select id="sellerType" formControlName="sellerType" sharedInput>
          <option value="Persona privada">Persona privada</option>
          <option value="Dealer">Dealer</option>
        </select>
        @if (hasError('sellerType')) {
        <shared-input-error [message]="getError('sellerType')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="country" class="block mb-1 text-sm">País <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <select id="country" formControlName="country" autocomplete="country" sharedInput>
          @for (country of countries; track $index) {
          <option value="{{country}}">{{country}}</option>
          }
        </select>
        @if (hasError('country')) {
        <shared-input-error [message]="getError('country')"></shared-input-error>
        }
      </div>

      <div>
        <label for="state" class="block mb-1 text-sm">Estado <span
            class="font-bold text-red-500 inline-block">*</span></label>
        @if (countryControl.value === 'México') {
        <input id="state" formControlName="state" type="text" autocomplete="none" [matAutocomplete]="states"
          sharedInput>
        <mat-autocomplete #states="matAutocomplete">
          @for (state of filteredStates | async; track $index) {
          <mat-option [value]="state">{{state}}</mat-option>
          }
        </mat-autocomplete>
        }@else {
        <input id="state" formControlName="state" autocomplete="address-level1" type="text" sharedInput>
        }
        @if (hasError('state')) {
        <shared-input-error [message]="getError('state')"></shared-input-error>
        }
      </div>

      <div class="relative">
        <label for="city" class="block mb-1 text-sm">Ciudad <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input id="city" formControlName="city" autocomplete="address-level2" type="text" sharedInput>
        @if (hasError('city')) {
        <shared-input-error [message]="getError('city')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label (click)="selectPrefixes.open(); selectPrefixes.focus()" class="block mb-1 text-sm">
              Celular
              <span class="font-bold text-red-500 inline-block">*</span></label>
            <mat-select formControlName="prefix" #selectPrefixes sharedInput>
              @for (prefix of telephonePrefixes; track $index) {
              <mat-option [value]="prefix.code">
                <span class="fi fi-{{prefix.flag}}"></span>
                &nbsp; {{prefix.name}} ({{prefix.code}})
              </mat-option>
              }
            </mat-select>
            @if (hasError('prefix')) {
            <shared-input-error [message]="getError('prefix')"></shared-input-error>
            }
          </div>

          <div>
            <!-- <label for="phoneNumber" class="block mb-1 text-sm hidden">Celular <span class="font-bold text-red-500 inline-block">*</span></label> -->
            <input class="mt-6" id="phoneNumber" formControlName="phoneNumber" autocomplete="tel" type="tel"
              sharedInput>
            @if (hasError('phoneNumber')) {
            <shared-input-error [message]="getError('phoneNumber')"></shared-input-error>
            }
          </div>
        </div>
      </div>

      <div class="col-span-2">
        <label for="email" class="block mb-1 text-sm">Correo electrónico <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <input id="email" formControlName="email" autocomplete="email" type="email" sharedInput>
        @if (hasError('email')) {
        <shared-input-error [message]="getError('email')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="password" class="block mb-1 text-sm">Contraseña <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <div class="relative">
          <input id="password" formControlName="password" autocomplete="new-password"
            [type]="showPassword1() ? 'text' : 'password'" sharedInput>
          <div class="absolute flex h-full items-center top-0 right-4">
            <mat-icon class="cursor-pointer" (click)="toggleShowPassword(showPassword1)">
              {{showPassword1() ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </div>
        </div>
        @if (hasError('password')) {
        <shared-input-error [message]="getError('password')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <label for="password2" class="block mb-1 text-sm">Confirmar contraseña <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <div class="relative">
          <input id="password2" formControlName="password2" autocomplete="new-password"
            [type]="showPassword2() ? 'text' : 'password'" sharedInput>
          <div class="absolute flex h-full items-center top-0 right-4">
            <mat-icon class="cursor-pointer" (click)="toggleShowPassword(showPassword2)">
              {{showPassword2() ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </div>
        </div>
        @if (hasError('password2')) {
        <shared-input-error [message]="getError('password2')"></shared-input-error>
        }
      </div>

      <dl class="col-span-2">
        <dt>
          <!-- Expand/collapse question button -->
          <button type="button" (click)="toggleDropdown()" type="button"
            class="flex w-full items-start justify-between text-left" aria-controls="faq-0" aria-expanded="false">
            <span class="leading-7">Datos para ofertar en subastas</span>
            <span class="ml-6 mr-4 flex h-7 items-center">
              <img class="mb-1" src="assets/img/shared/icons/arrow-down.svg" alt="flecha">
            </span>
          </button>
        </dt>
        @if (dropdownIsOpen()) {
        <dd class="mt-2" id="faq-0">
          <p class="text-gray4">
            *Para ofertar o publicar una subasta, es necesario completar estos datos ahora o los puede completar más
            adelante.
          </p>

          <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="col-span-2">
              <label for="taxId" class="block mb-1">RFC <span
                  class="font-bold text-red-500 inline-block">*</span></label>
              <input id="taxId" formControlName="taxId" autocomplete="tax-id" type="text" placeholder="RFC" sharedInput>
              @if (hasError('taxId')) {
              <shared-input-error [message]="getError('taxId')"></shared-input-error>
              }
            </div>

            <div class="col-span-2 font-bold">
              Datos bancarios
            </div>

            <!-- <div class="col-span-2">
                <label for="titular" class="block mb-1">Nombre del titular de la tarjeta <span class="font-bold text-red-500 inline-block">*</span></label>
                <input id="titular" type="text" placeholder="Nombre completo del titular de la tarjeta" sharedInput>
              </div>

              <div class="col-span-2">
                <label for="numero" class="block mb-1">Número de tarjeta <span class="font-bold text-red-500 inline-block">*</span></label>
                <input id="numero" type="text" placeholder="Número de 16 dígitos de la tarjeta" sharedInput>
              </div>

              <div>
                <label for="vencimiento" class="block mb-1">Fecha de vencimiento <span class="font-bold text-red-500 inline-block">*</span></label>
                <input id="vencimiento" type="text" placeholder="MM/AA" sharedInput>
              </div>

              <div>
                <label for="cvv" class="block mb-1">CVV <span class="font-bold text-red-500 inline-block">*</span></label>
                <input id="cvv" type="text" placeholder="CVV" sharedInput>
              </div> -->

            <div class="col-span-2 font-bold">
              Dirección
            </div>

            <div class="col-span-2">
              <label for="street" class="block mb-1">Calle y número <span
                  class="font-bold text-red-500 inline-block">*</span></label>
              <input id="street" formControlName="streetAndNumber" autocomplete="street-address" type="text"
                placeholder="Calle y número interno y externo" sharedInput>
              @if (hasError('streetAndNumber')) {
              <shared-input-error [message]="getError('streetAndNumber')"></shared-input-error>
              }
            </div>

            <div class="col-span-2">
              <label for="postalCode" class="block mb-1">Código Postal <span
                  class="font-bold text-red-500 inline-block">*</span></label>
              <input id="postalCode" formControlName="postalCode" autocomplete="postal-code" type="text"
                placeholder="C.P." sharedInput>
              @if (hasError('postalCode')) {
              <shared-input-error [message]="getError('postalCode')"></shared-input-error>
              }
            </div>

            <fieldset class="col-span-2 mt-4">
              <legend class="sr-only">Tipo de identificación</legend>
              <div class="space-y-2">
                <div class="flex items-center">
                  <input id="ine" formControlName="validationType" [value]="idTypes.ine" type="radio" class="h-4 w-4">
                  <label for="ine" class="ml-3 block leading-6">INE <span
                      class="font-bold text-red-500 inline-block">*</span></label>
                </div>
                <div class="flex items-center">
                  <input id="passport" formControlName="validationType" [value]="idTypes.pasaporte" type="radio"
                    class="h-4 w-4">
                  <label for="passport" class="ml-3 block leading-6">Pasaporte <span
                      class="font-bold text-red-500 inline-block">*</span></label>
                </div>
              </div>
            </fieldset>

            @switch (validationType.value) {
            @case (idTypes.ine) {
            <div class="col-span-2">
              <div class="grid grid-cols-2 gap-x-4">
                <div>
                  <label for="frontal" class="text-sm cursor-pointer">
                    INE frontal
                    @if(validationImgFormArray.at(0).value) {
                    <img src="{{previewImages()[0]}}" class="w-full h-40 rounded-lg object-cover mt-2"
                      alt="foto frontal de la INE">
                    <input (change)="selectFile($event, 0)" id="frontal" type="file" class="sr-only">
                    }@else {
                    <div
                      class="bg-gray1 border border-dashed rounded-md border-gray4 w-full h-40 mt-2 flex items-center justify-center">
                      <div>
                        <div class="flex justify-center"><img src="assets/img/register/cloud.svg" alt=""></div>
                        <p class="text-center text-gray4 text-sm">Subir imagen</p>
                      </div>
                      <input (change)="selectFile($event, 0)" id="frontal" type="file" class="sr-only">
                    </div>
                    }
                    <span class="font-bold text-red-500 inline-block">*</span>
                  </label>

                  @if (formArrayHasError(0)) {
                  <shared-input-error [message]="getErrorFromFormArray(0)"></shared-input-error>
                  }
                </div>
                <div>
                  <label for="posterior" class="text-sm cursor-pointer">
                    INE posterior
                    @if (validationImgFormArray.at(1).value) {
                    <img src="{{previewImages()[1]}}" class="w-full h-40 rounded-lg object-cover mt-2"
                      alt="foto posterior de la INE">
                    <input (change)="selectFile($event, 1)" id="posterior" type="file" class="sr-only">
                    } @else {
                    <div
                      class="bg-gray1 border border-dashed rounded-md border-gray4 w-full h-40 mt-2 flex items-center justify-center">
                      <div>
                        <div class="flex justify-center"><img src="assets/img/register/cloud.svg" alt=""></div>
                        <p class="text-center text-gray4 text-sm">Subir imagen</p>
                      </div>
                      <input (change)="selectFile($event, 1)" id="posterior" type="file" class="sr-only">
                    </div>
                    }
                    <span class="font-bold text-red-500 inline-block">*</span>
                  </label>

                  @if (formArrayHasError(1)) {
                  <shared-input-error [message]="getErrorFromFormArray(1)"></shared-input-error>
                  }
                </div>
              </div>
            </div>
            }
            @case (idTypes.pasaporte) {
            <div>
              <label for="passportImg" class="text-sm cursor-pointer">
                Foto Pasaporte
                @if (validationImgFormArray.at(0).value) {
                <img src="{{previewImages()[0]}}" class="w-full h-40 rounded-lg object-cover mt-2"
                  alt="foto del pasaporte">
                <input (change)="selectFile($event, 0)" id="passportImg" type="file" class="sr-only">
                } @else {
                <div
                  class="bg-gray1 border border-dashed rounded-md border-gray4 w-full h-40 mt-2 flex items-center justify-center">
                  <div>
                    <div class="flex justify-center"><img src="assets/img/register/cloud.svg" alt=""></div>
                    <p class="text-center text-gray4 text-sm">Subir imagen</p>
                  </div>
                  <input (change)="selectFile($event, 0)" id="passportImg" type="file" class="sr-only">
                </div>
                }
                <span class="font-bold text-red-500 inline-block">*</span>
              </label>

              @if (formArrayHasError(0)) {
              <shared-input-error [message]="getErrorFromFormArray(0)"></shared-input-error>
              }
            </div>
            }
            }
          </div>
        </dd>
        }
      </dl>

      <div class="col-span-2 mt-4">
        <div class="flex items-center text-xs">
          <input id="acceptTermsAndConditions" formControlName="acceptTermsAndConditions" type="checkbox"
            class="h-4 w-4">
          <label for="acceptTermsAndConditions" class="ml-3 block leading-6">
            Acepto los <a class="underline">términos y condiciones</a>, <a class="underline">Aviso de privacidad</a> y
            <a class="underline">Acuerdos de usuarios.</a>
            <span class="font-bold text-red-500 inline-block">*</span></label>
        </div>
        @if (hasError('acceptTermsAndConditions')) {
        <shared-input-error [message]="getError('acceptTermsAndConditions')"></shared-input-error>
        }
      </div>

      <div class="col-span-2">
        <button class="inline-flex justify-center items-center" type="submit" [disabled]="isButtonSubmitDisabled()"
          [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
          @if (isButtonSubmitDisabled()) {
          <shared-spinner></shared-spinner>
          } @else {
          Registrarme
          }
        </button>
        <div class="text-center mt-4">
          <span>¿Ya tienes una cuenta en CAART?</span>&nbsp;&nbsp;&nbsp;<button type="button"
            (click)="singInModalIsOpenChange()" class="font-bold underline">Inicia sesión</button>
        </div>
      </div>
    </form>
  </div>

</section>
