<section class="container sm:max-w-3xl mt-16">
  <hr class="mb-4">

  <img class="mx-auto mb-4" src="https://via.placeholder.com/80" alt="About us">

  <h1 class="text-center font-optima font-bold text-4xl mb-2">Más sobre nosotros</h1>

  <p class="text-center text-lg">Subastamos tus Autos y Obras de Arte</p>
  <hr class="my-4">

  <div class="grid grid-cols-1 md:grid-cols-2  gap-8 mt-12">
    <div class="order-last md:order-first">
      <h3 class="text-xl font-bold mb-4">
        CAART es un empresa mexicana dedicada a subastar Obras de Arte y Autos en línea.
      </h3>

      <p>Reinventamos la experiencia de las subastas a través de una plataforma digital accesible para todos. Nos
        especializamos en la curación y selección de cada pieza. En CAART puedes adquirir o vender objetos únicos.
      </p>
      <br>
      <span>¡Regístrate para comenzar a subastar!</span>

      <button class="block mt-8" width="w-fit" px="px-4" py="py-2" sharedPrimaryButton>
        Quiero registrarme
      </button>
    </div>
    <div>
      <img class="h-80 w-full" src="https://via.placeholder.com/500" alt="About us">
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12">
    <div>
      <img class="h-80 w-full" src="https://via.placeholder.com/500" alt="About us">
    </div>
    <div>
      <h3 class="text-xl font-bold mb-4">
        CARS + ART
      </h3>

      <p>
        Podrás encontrar dos tipos de categorías: Autos y Obras de Arte. Ofrecemos una selección exclusiva de piezas,
        garantizando calidad, singularidad y satisfacción en cada subasta.
      </p>
      <br>

      <button class="block mt-8" width="w-fit" px="px-4" py="py-2" sharedTertiaryButton>
        Ver subastas en vivo
      </button>
    </div>
  </div>

  <div class="mt-24">
    <h3 class="text-xl mb-4">Lo que nos distingue:</h3>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
      <div>
        <img src="https://via.placeholder.com/100" alt="About us">
        <p class="font-bold my-2">1. Asesoría personalizada</p>
        <span>Estamos aquí para asesorarte en cada etapa del proceso de compra y venta.</span>
      </div>
      <div>
        <img src="https://via.placeholder.com/100" alt="About us">
        <p class="font-bold my-2">2. Procesos seguros</p>
        <span>
          Nuestro equipo se asegura de verificar la autenticidad y el estado de las piezas para satisfacer tu
          experiencia como usuario.
        </span>
      </div>
      <div>
        <img src="https://via.placeholder.com/100" alt="About us">
        <p class="font-bold my-2">3. Transparencia</p>
        <span>
          Nos aseguramos que en cada subasta exista competencia justa entre los usuarios, logrando un trato íntegro
          entre vendedor y comprador.
        </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray7 mt-20">
  <div class="container sm:max-w-3xl py-12 md:py-28">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="order-last md:order-first">
        <h3 class="text-2xl mb-4">Última oportunidad</h3>
        <span>En esta sección encontrarás piezas únicas disponibles en el marketplace. ¡No te las pierdas!</span>

        <button class="mt-6 bg-white rounded-lg px-4 py-2 w-52">¡Me interesa!</button>
      </div>
      <div>
        <img class="h-80 w-full" src="https://via.placeholder.com/500" alt="About us">
      </div>
    </div>
  </div>
</section>

<section class="container sm:max-w-3xl mt-20 mb-32">
  <h2 class="text-3xl mb-8 text-center">Regístrate</h2>

  <p class="text-center">Estás a punto de entrar en un mundo de subastas digital.</p>

  <button sharedPrimaryButton class="block mt-8 mx-auto" width="w-fit" px="px-6" py="py-2.5">
    ¡Quiero ser parte!
  </button>

  <h3 class="text-center mt-12 text-2xl">
    ¿Preguntas?
  </h3>

  <p class="text-center mt-4">¿Tienes preguntas sobre nuestras subastas o sobre los servicios que ofrecemos?
    Encuentra las respuestas en la sección de <span class="underline">preguntas frecuentes.</span></p>
</section>