<section class="container mt-12 mb-32 sm:max-w-5xl">
  <h1 class="font-lato font-bold text-4xl">Solicitudes</h1>

  <div class="flex gap-4 mt-4">
    @if (currentActivityTab()===activityTabs.requests) {
    <button py="py-2" classes="font-semibold font-lato" width="w-fit" sharedPrimaryButton>
      Solicitudes
    </button>
    } @else {
    <button py="py-2" (click)="setActivityTab(activityTabs.requests)" width="w-fit" sharedSecondaryButton>
      Solicitudes
    </button>
    }

    @if (currentActivityTab()===activityTabs.approved) {
    <button py="py-2" classes="font-semibold font-lato" width="w-fit" sharedPrimaryButton>
      Aprobadas
    </button>
    } @else {
    <button py="py-2" (click)="setActivityTab(activityTabs.approved)" width="w-fit" sharedSecondaryButton>
      Aprobadas
    </button>
    }
  </div>

  @switch (currentActivityTab()) {
  @case (activityTabs.requests) {
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-8">
    @for (request of requests().data; track request.id) {
    <div class="col-span-4">
      <div class="flex gap-4">
        <img class="rounded-lg min-w-32 min-h-32 w-32 h-32 object-cover border border-gray-200"
          [src]="request.attributes.portada" [alt]="request.attributes.titulo">
        <div>
          <h3 class="font-lato font-bold text-lg">
            {{ request.attributes.titulo }}
          </h3>
          <p>
            {{ request.attributes['año'] }}
          </p>
          <p class="font-semibold text-sm">
            {{ request.attributes.porcentaje }}% completo
          </p>
          @switch (request.attributes.status) {
          @case (activityRequestsStatus.Pending) {
          <p class="font-semibold text-sm text-yellow-500">
            Pendiente
          </p>
          }
          @case (activityRequestsStatus.Accepted) {
          <p class="font-semibold text-sm text-green-500">
            Aprobada
          </p>
          }
          @case (activityRequestsStatus.rejected) {
          <p class="font-semibold text-sm text-red-500">
            Rechazada
          </p>
          }
          }
          <span class="text-sm">
            Lote: <b>{{ request.attributes.lote }}</b>
          </span>
        </div>
      </div>
    </div>

    <div class="col-span-8">
      <nav aria-label="Progress">
        <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
          <li class="md:flex-1">
            <div
              [class.border-green-500]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.Accepted"
              [class.border-red-500]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.rejected"
              [class.border-yellow-500]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.Pending"
              [class.hover:border-green-800]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.Accepted"
              [class.hover:border-red-800]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.rejected"
              [class.hover:border-yellow-800]="request.attributes.solicitud && request.attributes.status === activityRequestsStatus.Pending"
              class="group cursor-pointer flex flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
              <div class="flex items-center gap-2">
                <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
                <span class="text-sm font-medium">Solicitud</span>
              </div>
            </div>
          </li>
          <li class="md:flex-1">
            <div
              [class.border-green-500]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Accepted"
              [class.border-red-500]="request.attributes.pago && request.attributes.status === activityRequestsStatus.rejected"
              [class.border-yellow-500]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Pending"
              [class.hover:border-green-800]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Accepted"
              [class.hover:border-red-800]="request.attributes.pago && request.attributes.status === activityRequestsStatus.rejected"
              [class.hover:border-yellow-800]="request.attributes.pago && request.attributes.status === activityRequestsStatus.Pending"
              class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
              aria-current="step">
              <div class="flex items-center gap-2">
                <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
                <span class="text-sm font-medium tex">Pago</span>
              </div>
            </div>
          </li>
          <li class="md:flex-1">
            <div
              [class.border-green-500]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Accepted"
              [class.border-red-500]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.rejected"
              [class.border-yellow-500]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Pending"
              [class.hover:border-green-800]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Accepted"
              [class.hover:border-red-800]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.rejected"
              [class.hover:border-yellow-800]="request.attributes.formularios && request.attributes.status === activityRequestsStatus.Pending"
              class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
              aria-current="step">
              <div class="flex items-center gap-2">
                <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
                <span class="text-sm font-medium tex">Formularios</span>
              </div>
            </div>
          </li>
          <li class="md:flex-1">
            <div
              [class.border-green-500]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.Accepted"
              [class.border-red-500]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.rejected"
              [class.border-yellow-500]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.Pending"
              [class.hover:border-green-800]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.Accepted"
              [class.hover:border-red-800]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.rejected"
              [class.hover:border-yellow-800]="request.attributes.autorizacion && request.attributes.status === activityRequestsStatus.Pending"
              class="flex cursor-pointer flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
              aria-current="step">
              <div class="flex items-center gap-2">
                <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
                <span class="text-sm font-medium tex">Autorización</span>
              </div>
            </div>
          </li>


          <li class="md:flex-1">
            <div
              [class.border-green-500]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Accepted"
              [class.border-red-500]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.rejected"
              [class.border-yellow-500]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Pending"
              [class.hover:border-green-800]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Accepted"
              [class.hover:border-red-800]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.rejected"
              [class.hover:border-yellow-800]="request.attributes.enVivo && request.attributes.status === activityRequestsStatus.Pending"
              class="group cursor-pointer flex flex-col border-l-4 border-gray-200 py-2 pl-4 hover:border-gray-300 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
              <div class="flex items-center gap-2">
                <mat-icon #tooltip="matTooltip" matTooltip="Info about the action">info</mat-icon>
                <span class="text-sm font-medium">¡En vivo!</span>
              </div>
            </div>
          </li>
        </ol>
      </nav>

    </div>
    }
  </div>

  @if (requests().data) {
  <mat-paginator [length]="requests().meta.totalCount" [pageSize]="requests().meta.pageSize"
    [pageSizeOptions]="pageSizeOptions()" (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>
  }

  }
  @case (activityTabs.approved) {
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-0 lg:px-0">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  # de lote
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Imagen</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Pieza</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tiempo</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reserva</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Oferta más alta</th>
                <!-- <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th> -->
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  123456
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  <img
                    src="https://imagedelivery.net/0QBC7WyyrF76Zf9i8s__Sg/62d4bc35-a263-4197-03d9-3cb2b3563200/public"
                    alt="" class="w-28 rounded-lg">
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  <div class="font-semibold text-lg">Alfa Romeo</div>
                  <div class="text-lg text-gray-500">1990</div>
                  <div class="font-semibold text-sm">80% completo</div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <span
                    class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Activa</span>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  5 días
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  $1,000,000.00 MXN
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  $500,000.00 MXN
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  }
  }

</section>