<section class="container mt-12 mb-32 sm:max-w-5xl">
  <h1 class="font-lato font-bold text-4xl">Solicitudes</h1>

  <div class="flex gap-4 mt-4">
    @if (currentActivityTab()===activityTabs.requests) {
    <button py="py-2" classes="font-semibold font-lato" width="w-fit" sharedPrimaryButton>
      Solicitudes
    </button>
    } @else {
    <button py="py-2" (click)="setActivityTab(activityTabs.requests)" width="w-fit" sharedSecondaryButton>
      Solicitudes
    </button>
    }

    @if (currentActivityTab()===activityTabs.approved) {
    <button py="py-2" classes="font-semibold font-lato" width="w-fit" sharedPrimaryButton>
      Aprobadas
    </button>
    } @else {
    <button py="py-2" (click)="setActivityTab(activityTabs.approved)" width="w-fit" sharedSecondaryButton>
      Aprobadas
    </button>
    }
  </div>

  @switch (currentActivityTab()) {
  @case (activityTabs.requests) {
  <activity-auction-requests-progress></activity-auction-requests-progress>
  }
  @case (activityTabs.approved) {
  <activity-approved-auctions></activity-approved-auctions>
  }
  }

</section>