<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">SUBASTA TU AUTO</h1>

  <p class="text-center text-lg mb-4">
    Registra los siguientes datos de tu automóvil
  </p>

  <shared-tabs-with-icons [tabs]="tabs" (tabSelected)="onTabSelected($event)"></shared-tabs-with-icons>

  @switch (currentTab().id) {
  @case (1) {
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-xl mb-32">
    <div class="grid grid-cols-1 gap-y-2 md:gap-y-0 md:grid-cols-3 justify-center gap-x-4 mb-8">
      @if (currentSubastaAutomovilesType()===subastaAutomovilesType.AUTOMOVILES) {
      <button py="py-2" classes="font-semibold font-optima" sharedPrimaryButton>
        Automóviles
      </button>
      } @else {
      <button py="py-2" (click)="setSubastaAutomovilesType(subastaAutomovilesType.AUTOMOVILES)" sharedSecondaryButton>
        Automóviles
      </button>
      }
      @if (currentSubastaAutomovilesType()===subastaAutomovilesType.AUTOPARTES) {
      <button py="py-2" classes="font-semibold font-optima" sharedPrimaryButton>
        Autopartes
      </button>
      } @else {
      <button py="py-2" (click)="setSubastaAutomovilesType(subastaAutomovilesType.AUTOPARTES)" sharedSecondaryButton>
        Autopartes
      </button>
      }
      @if (currentSubastaAutomovilesType()===subastaAutomovilesType.MEMORABILIA) {
      <button py="py-2" classes="font-semibold font-optima" sharedPrimaryButton>
        Memorabilia
      </button>
      } @else {
      <button py="py-2" (click)="setSubastaAutomovilesType(subastaAutomovilesType.MEMORABILIA)" sharedSecondaryButton>
        Memorabilia
      </button>
      }
    </div>

    @if (userIsNotAuthenticated) {
    <p class="mb-8">Para continuar <button (click)="openSignInModal()" class="underline">Inicia sesión</button> o
      <button (click)="openRegisterModal()" class="underline">regístrate</button>
    </p>
    }

    <form [formGroup]="carRegisterForm" (ngSubmit)="registerCar()" (click)="showModalBasedOnUserStatus()">
      <div class="grid grid-cols-2 gap-4" [ngClass]="{'pointer-events-none': userIsNotAuthenticated}">
        <div>
          <label for="brand" class="block mb-1 text-sm">Marca</label>
          <input type="text" formControlName="brand" [matAutocomplete]="brands" sharedInput>
          <mat-autocomplete #brands="matAutocomplete">
            @for (brand of filteredBrands | async; track $index) {
            <mat-option [value]="brand">{{brand}}</mat-option>
            }
          </mat-autocomplete>
          <!-- <select formControlName="brand" id="brand" sharedInput>
            @for (brand of brands(); track $index) {
            <option [value]="brand">{{brand}}</option>
            }
          </select> -->
          @if (hasError('brand')) {
          <shared-input-error [message]="getError('brand')"></shared-input-error>
          }
        </div>

        <div>
          <label for="year" class="block mb-1 text-sm">Año</label>
          <input formControlName="year" min="1900" [max]="currentYear" id="year" type="number" sharedInput>
          @if (hasError('year')) {
          <shared-input-error [message]="getError('year')"></shared-input-error>
          }
        </div>

        <div class="col-span-2">
          <label for="carModel" class="block mb-1 text-sm">Modelo</label>
          <input formControlName="carModel" id="carModel" type="text" sharedInput>
          @if (hasError('carModel')) {
          <shared-input-error [message]="getError('carModel')"></shared-input-error>
          }
        </div>

        <div>
          <label for="exteriorColor" class="block mb-1 text-sm">Color exterior</label>
          <select formControlName="exteriorColor" id="exteriorColor" sharedInput>
            @for (color of colors(); track $index) {
            <option [value]="color.name">{{color.name}}</option>
            }
          </select>
          @if (hasError('exteriorColor')) {
          <shared-input-error [message]="getError('exteriorColor')"></shared-input-error>
          }
        </div>

        <!-- specificColor -->
        <div>
          <label for="specificColor" class="block mb-1 text-sm">Color específico</label>
          <input formControlName="specificColor" id="specificColor" type="text" sharedInput>
          @if (hasError('specificColor')) {
          <shared-input-error [message]="getError('specificColor')"></shared-input-error>
          }
        </div>

        <div>
          <label for="interiorColor" class="block mb-1 text-sm">Color interior</label>
          <input formControlName="interiorColor" id="interiorColor" type="text" sharedInput>
          @if (hasError('interiorColor')) {
          <shared-input-error [message]="getError('interiorColor')"></shared-input-error>
          }
        </div>

        <!-- generalCondition -->
        <div>
          <label for="generalCondition" class="block mb-1 text-sm">Condición general</label>
          <select formControlName="generalCondition" id="generalCondition" sharedInput>
            <option value="Excelente">Excelente</option>
            <option value="Buena">Buena</option>
            <option value="Regular">Regular</option>
            <option value="Mala">Mala</option>
          </select>
          @if (hasError('generalCondition')) {
          <shared-input-error [message]="getError('generalCondition')"></shared-input-error>
          }
        </div>

        <div>
          <label for="city" class="block mb-1 text-sm">Ciudad</label>
          <input formControlName="city" id="city" type="text" sharedInput>
          @if (hasError('city')) {
          <shared-input-error [message]="getError('city')"></shared-input-error>
          }
        </div>

        <div>
          <label for="postalCode" class="block mb-1 text-sm">Código Postal</label>
          <input formControlName="postalCode" id="postalCode" type="text" sharedInput>
          @if (hasError('postalCode')) {
          <shared-input-error [message]="getError('postalCode')"></shared-input-error>
          }
        </div>

        <div>
          <label for="reserve" class="block mb-1 text-sm">Reserva</label>
          <select formControlName="reserve" id="reserve" sharedInput>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
          @if (hasError('reserve')) {
          <shared-input-error [message]="getError('reserve')"></shared-input-error>
          }

          <div class="flex items-center mt-2">
            <span class="text-gray4 text-xs">¿Qué significa la Reserva?</span>
            <img class="ml-2" src="assets/img/registrar auto/help-circle-outline.svg" alt="ícono de ayuda">
          </div>
        </div>

        <!-- Si reserva es igual a 1 se muestra un input para ingresar el reserveAmount -->
        @if (carRegisterForm.get('reserve')?.value === "true") {
        <div>
          <label for="reserveAmount" class="block mb-1 text-sm">Monto de reserva</label>
          <input formControlName="reserveAmount" id="reserveAmount" type="text" sharedInput>
          @if (hasError('reserveAmount')) {
          <shared-input-error [message]="getError('reserveAmount')"></shared-input-error>
          }
        </div>
        }

        <div class="col-start-1">
          <label for="kmType" class="block mb-1 text-sm">Tipo de kilometraje</label>
          <select formControlName="kmType" id="kmType" sharedInput>
            <option value="KM">Kilómetros</option>
            <option value="MI">Millas</option>
          </select>
          @if (hasError('kmType')) {
          <shared-input-error [message]="getError('kmType')"></shared-input-error>
          }
        </div>

        <div>
          <label for="kmInput" class="block mb-1 text-sm">Kilometraje</label>
          <input formControlName="kmInput" id="kmInput" type="text" sharedInput>
          @if (hasError('kmInput')) {
          <shared-input-error [message]="getError('kmInput')"></shared-input-error>
          }
        </div>

        <!-- transmision -->
        <div>
          <label for="transmissionType" class="block mb-1 text-sm">Transmisión</label>
          <select formControlName="transmissionType" id="transmissionType" sharedInput>
            <option value="Automática">Automática</option>
            <option value="Manual">Manual</option>
            <option value="Otro">Otro</option>
          </select>
          @if (hasError('transmissionType')) {
          <shared-input-error [message]="getError('transmissionType')"></shared-input-error>
          }
        </div>

        <!-- otherTransmission -->
        @if (transmisionControl.value === "Otro") {
        <div>
          <label for="otherTransmission" class="block mb-1 text-sm">Otra transmisión</label>
          <input formControlName="otherTransmission" id="otherTransmission" type="text" sharedInput>
          @if (hasError('otherTransmission')) {
          <shared-input-error [message]="getError('otherTransmission')"></shared-input-error>
          }
        </div>
        }

        <!-- engine input -->
        <div>
          <label for="engine" class="block mb-1 text-sm">Motor</label>
          <input formControlName="engine" id="engine" type="text" sharedInput>
          @if (hasError('engine')) {
          <shared-input-error [message]="getError('engine')"></shared-input-error>
          }
        </div>

        <div class="col-span-2">
          <label for="howDidYouHearAboutUs" class="block mb-1 text-sm">¿Cómo te enteraste de la plataforma?</label>
          <input formControlName="howDidYouHearAboutUs" id="howDidYouHearAboutUs" type="text" sharedInput>
          @if (hasError('howDidYouHearAboutUs')) {
          <shared-input-error [message]="getError('howDidYouHearAboutUs')"></shared-input-error>
          }
        </div>

        <div class="col-span-2">
          <p class="text-xl font-bold mb-2">Subir fotos del auto</p>

          <div #uppyDashboard></div>

          @if (hasError('photos')) {
          <shared-input-error [message]="getError('photos')"></shared-input-error>
          }
        </div>

        <div class="col-span-2 mt-4">
          <p class="text-xl font-bold mb-4">¿En qué estas interesado?</p>
          <fieldset>
            <legend class="sr-only">¿En qué estas interesado?</legend>
            <div class="space-y-2">
              <div class="flex items-center">
                <input formControlName="interest" value="ListInMarketplace" id="listInMarketplace" type="radio" checked
                  class="h-4 w-4">
                <label for="listInMarketplace" class="ml-3 block leading-6">Enlistar tu auto en el marketplace</label>
              </div>
              <div class="flex items-center">
                <input formControlName="interest" value="ListInMarketplacePlusPhotoshoot"
                  id="listInMarketplacePlusPhotoshoot" type="radio" class="h-4 w-4">
                <label for="listInMarketplacePlusPhotoshoot" class="ml-3 block leading-6">
                  Enlistar tu auto en el marketplace + sesión fotográfica
                </label>
              </div>
            </div>
          </fieldset>

          @if (hasError('interest')) {
          <shared-input-error [message]="getError('interest')"></shared-input-error>
          }
        </div>

        <div class="col-span-2 mt-8">
          <div class="flex items-center text-xs">
            <input formControlName="acceptTerms" id="acceptTerms" type="checkbox" class="h-4 w-4">
            <label for="acceptTerms" class="ml-3 block leading-6">
              Acepto los <a class="underline">términos y condiciones</a>, <a class="underline">Aviso de privacidad</a> y
              <a class="underline">Acuerdos de usuarios.</a>
            </label>
          </div>

          @if (hasError('acceptTerms')) {
          <shared-input-error [message]="getError('acceptTerms')"></shared-input-error>
          }
        </div>

        <div class="col-span-2">
          <button type="submit" class="inline-flex justify-center items-center" [disabled]="isButtonSubmitDisabled()"
            [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
            @if (isButtonSubmitDisabled()) {
            <shared-spinner></shared-spinner>
            } @else {
            Enviar solicitud a revisión
            }
          </button>
        </div>
      </div>
    </form>
  </div>
  }
  @case (2) {
  tab 2
  }
  }
</section>