<div [routerLink]="['/ultima-oportunidad-arte', originalAuctionArtId()]" class="relative cursor-pointer">
  <img class="w-full object-cover rounded-md" [src]="cover()" alt="">
  <follow-button [auctionId]="originalAuctionArtId()" [auctionType]="auctionType.art" class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <div class="h-[60px]">
      <p class="font-optima font-semibold text-xl">
        {{title()}}
      </p>
    </div>
    <p class="text-gray4 line-clamp-3 min-h-[72px]" style="word-wrap: break-word;">
      {{extract()}}
    </p>

    <p class="mt-4"><span class="font-bold">Precio: </span> {{reserveAmount() | currency}}</p>

    <button class="mt-4" width="w-fit" px="px-4" py="py-2.5" sharedPrimaryButton>
      Ver / Hacer una oferta
    </button>
  </div>
</div>