<div [routerLink]="['/ultima-oportunidad-arte', originalAuctionArtId()]" class="relative cursor-pointer">
  <img class="w-full object-cover rounded-md" [src]="cover()" alt="">
  <follow-button [auctionId]="originalAuctionArtId()" [auctionType]="auctionType.art" class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <p class="font-optima font-semibold text-xl">{{title()}}
    </p>
    <p class="text-gray4 line-clamp-3" style="word-wrap: break-word;">
      {{extract()}}
    </p>

    <button class="mt-4" width="w-fit" px="px-4" py="py-2.5" sharedPrimaryButton>
      Ver o hacer una oferta
    </button>
  </div>
</div>