<div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
  @if (isOpen()) {
  <div @openClose class="fixed inset-0 bg-black bg-opacity-25"></div>
  }

  @if (isOpen()) {
  <div @slideInOut (click)="closeMenu($event)" class="fixed inset-0 z-40 flex">
    <div #filterMenu
      class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
      <div class="flex items-center justify-between px-4">
        <h2 class="text-lg font-medium text-gray-900">Filtros</h2>
        <button (click)="closeMenu()" type="button"
          class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Filters -->
      <div class="mt-4 border-t border-gray-200">
        <h3 class="sr-only">Filter options</h3>
        <!-- Tipo de listado -->
        <div class="px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <button (click)="toggleFilter($event, listingTypeIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-0" aria-expanded="false">
              <span class="font-medium text-gray-900">Tipo de listado</span>
              <span class="ml-6 flex items-center">
                @if (listingTypeIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand/collapse section button -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (listingTypeIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-0">
            <div class="space-y-6">
              @for (_auctionType of auctionTypeList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-auctionType-{{ $index }}"
                  [checked]="auctionType().includes(_auctionType.value)"
                  (change)="toggleSelectionOrderBy(_auctionType.value)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-auctionType-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_auctionType.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- Categoría -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, categoryIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-1" aria-expanded="false">
              <span class="font-medium text-gray-900">Categoría</span>
              <span class="ml-6 flex items-center">
                @if (categoryIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                } @else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          @if (categoryIsOpen()) {
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-mobile-1">
            <div class="space-y-6">
              @for (_category of categoryList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-category-{{ $index }}" [checked]="category().includes(_category.value)"
                  (change)="toggleSelection(_category.value, category)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_category.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- Era -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, eraIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-2" aria-expanded="false">
              <span class="font-medium text-gray-900">Era</span>
              <span class="ml-6 flex items-center">
                @if (eraIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (eraIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-2">
            <div class="space-y-6">
              @for (_era of eraList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-era-{{ $index }}" [checked]="era().includes(_era.value)"
                  (change)="toggleSelection(_era.value, era)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-era-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_era.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- Rango de años -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, yearsRangeIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-3" aria-expanded="false">
              <span class="font-medium text-gray-900">Rango de años</span>
              <span class="ml-6 flex items-center">
                @if (yearsRangeIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (yearsRangeIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-3">
            <div class="flex gap-3 items-center w-44">
              <input [ngModel]="yearFrom()" (ngModelChange)="setYearFrom($event)" type="number" min="0" max="9999"
                background="bg-transparent" class="border" sharedInput>
              <span class="text-center text-sm">a</span>
              <input [ngModel]="yearTo()" (ngModelChange)="setYearTo($event)" type="number" min="0" max="9999"
                background="bg-transparent" class="border" sharedInput>
            </div>
          </div>
          }
        </div>
        <!-- Termina en -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, endsInIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-3" aria-expanded="false">
              <span class="font-medium text-gray-900">Termina en</span>
              <span class="ml-6 flex items-center">
                @if (endsInIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (endsInIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-3">
            <div class="space-y-6">
              @for (_endsIn of endsInList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-endsIn-{{ $index }}" [checked]="endsIn().includes(_endsIn.value)"
                  (change)="toggleSelection(_endsIn.value, endsIn)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-endsIn-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_endsIn.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- Oferta actual -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, currentOfferIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-4" aria-expanded="false">
              <span class="font-medium text-gray-900">Oferta actual</span>
              <span class="ml-6 flex items-center">
                @if (currentOfferIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (currentOfferIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-4">
            <div class="space-y-6">
              @for (_currentOffer of currentOfferList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-currentOffer-{{ $index }}"
                  [checked]="currentOffer().includes(_currentOffer.value)"
                  (change)="toggleSelection(_currentOffer.value, currentOffer)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-currentOffer-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_currentOffer.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- Estado -->
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button (click)="toggleFilter($event, statesIsOpen)" type="button"
              class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
              aria-controls="filter-section-mobile-5" aria-expanded="false">
              <span class="font-medium text-gray-900">Estado</span>
              <span class="ml-6 flex items-center">
                @if (statesIsOpen()) {
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd" />
                </svg>
                }@else {
                <!-- Expand icon, show/hide based on section open state. -->
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                }
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          @if (statesIsOpen()) {
          <div class="pt-6" id="filter-section-mobile-5">
            <div class="space-y-6">
              @for (_state of statesList; track $index) {
              <div class="flex items-center">
                <input id="filter-mobile-state-{{ $index }}" [checked]="states().includes(_state.value)"
                  (change)="toggleSelection(_state.value, states)" type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-state-{{ $index }}"
                  class="ml-3 min-w-0 flex-1 text-gray-500">{{_state.label}}</label>
              </div>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>