<shared-modal [isOpen]="isOpen()" (isOpenChange)="emitIsOpenChange($event)" [verticalCenter]="true"
  modalMaxWidth="sm:max-w-2xl" [scrollable]="true">
  <div class="relative">
    <h3 class="text-center font-bold text-lg mb-12">Galería de fotos</h3>

    <hr class="absolute w-full -bottom-4">
  </div>

  @defer (when carPhotoGallery() && carPhotoGallery().data && carPhotoGallery().data.registro &&
  carPhotoGallery().data.registro.photos.length >
  0) {
  <h3 class="text-center font-bold text-lg mb-12">Registro</h3>
  <div class="container grid grid-cols-2 md:grid-cols-3 gap-4 mb-8 mt-8">
    @for (url of carPhotoGallery().data.registro.photos; track $index) {
    <label>
      <div class="relative h-fit">
        <img [src]="url" class="w-full h-auto object-cover cursor-pointer rounded-lg">
        <div class="absolute bottom-3 right-3">
          <input [formControl]="selectedImage" [value]="url" type="radio" class="form-radio h-5 w-5 text-pred">
        </div>
      </div>
    </label>
    }
  </div>
  }

  @defer (when carPhotoGallery() && carPhotoGallery().data && carPhotoGallery().data.mecanicas &&
  carPhotoGallery().data.mecanicas.photos.length >
  0) {
  <h3 class="text-center font-bold text-lg mb-12">Mecánicas</h3>
  <div class="container grid grid-cols-2 md:grid-cols-3 gap-4 mb-8 mt-8">
    @for (url of carPhotoGallery().data.mecanicas.photos; track $index) {
    <label>
      <div class="relative h-fit">
        <img [src]="url" class="w-full h-auto object-cover cursor-pointer rounded-lg">
        <div class="absolute bottom-3 right-3">
          <input [formControl]="selectedImage" [value]="url" type="radio" class="form-radio h-5 w-5 text-pred">
        </div>
      </div>
    </label>
    }
  </div>
  }

  <!-- interior -->
  @defer (when carPhotoGallery() && carPhotoGallery().data && carPhotoGallery().data.interior &&
  carPhotoGallery().data.interior.photos.length >
  0) {
  <h3 class="text-center font-bold text-lg mb-12">Interior</h3>
  <div class="container grid grid-cols-2 md:grid-cols-3 gap-4 mb-8 mt-8">
    @for (url of carPhotoGallery().data.interior.photos; track $index) {
    <label>
      <div class="relative h-fit">
        <img [src]="url" class="w-full h-auto object-cover cursor-pointer rounded-lg">
        <div class="absolute bottom-3 right-3">
          <input [formControl]="selectedImage" [value]="url" type="radio" class="form-radio h-5 w-5 text-pred">
        </div>
      </div>
    </label>
    }
  </div>
  }

  <!-- exterior -->
  @defer (when carPhotoGallery() && carPhotoGallery().data && carPhotoGallery().data.exterior &&
  carPhotoGallery().data.exterior.photos.length >
  0) {
  <h3 class="text-center font-bold text-lg mb-12">Exterior</h3>
  <div class="container grid grid-cols-2 md:grid-cols-3 gap-4 mb-8 mt-8">
    @for (url of carPhotoGallery().data.exterior.photos; track $index) {
    <label>
      <div class="relative h-fit">
        <img [src]="url" class="w-full h-auto object-cover cursor-pointer rounded-lg">
        <div class="absolute bottom-3 right-3">
          <input [formControl]="selectedImage" [value]="url" type="radio" class="form-radio h-5 w-5 text-pred">
        </div>
      </div>
    </label>
    }
  </div>
  }

  <div class="w-full bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6" footer>
    <button type="button" (click)="selectImage()" [disabled]="!selectedImage.value"
      [ngClass]="{'opacity-50': !selectedImage.value}"
      class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
      Seleccionar
    </button>
    <button type="button" (click)="closeModal()"
      class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
      Cancelar
    </button>
  </div>
</shared-modal>

<crop-car-history-image-modal [isOpen]="cropCarHistoryImageModalIsOpen()" [aspectRatio]="aspectRatio()"
  (croppedImageChange)="croppedImageChange($event)" (isOpenChange)="closeCropCarHistoryImageModal()"
  [imageUrl]="selectedImage.value">
</crop-car-history-image-modal>