<h1 class="font-optima text-4xl font-bold mb-8">Confirmación</h1>

<h2 class="text-xl font-bold mb-5">Confirma tus datos</h2>
<form [formGroup]="confirmationForm" (ngSubmit)="confirmationFormSubmit()" class="grid grid-cols-2 gap-5">

  <!-- Nombre -->
  <div>
    <label for="name" class="block text-sm mb-1">Nombre</label>
    <input id="name" formControlName="name" type="text" sharedInput>
    @if (hasError('name')) {
    <shared-input-error [message]="getError('name')"></shared-input-error>
    }
  </div>

  <!-- Apellido -->
  <div>
    <label for="lastName" class="block text-sm mb-1">Apellido</label>
    <input id="lastName" formControlName="lastName" type="text" sharedInput>
    @if (hasError('lastName')) {
    <shared-input-error [message]="getError('lastName')"></shared-input-error>
    }
  </div>

  <!-- E-mail -->
  <div class="col-span-2">
    <label for="email" class="block text-sm mb-1">E-mail</label>
    <input id="email" formControlName="email" type="email" sharedInput>
    @if (hasError('email')) {
    <shared-input-error [message]="getError('email')"></shared-input-error>
    }
  </div>

  <!-- Número telefónico -->
  <div>
    <label for="phoneNumber" class="block text-sm mb-1">Número telefónico</label>
    <input id="phoneNumber" formControlName="phoneNumber" type="text" sharedInput>
    @if (hasError('phoneNumber')) {
    <shared-input-error [message]="getError('phoneNumber')"></shared-input-error>
    }
  </div>

  <!-- Código Postal -->
  <div>
    <label for="postalCode" class="block text-sm mb-1">Código Postal</label>
    <input id="postalCode" formControlName="postalCode" type="text" sharedInput>
    @if (hasError('postalCode')) {
    <shared-input-error [message]="getError('postalCode')"></shared-input-error>
    }
  </div>

  <!-- Ciudad -->
  <div>
    <label for="city" class="block text-sm mb-1">Ciudad</label>
    <input id="city" formControlName="city" type="text" sharedInput>
    @if (hasError('city')) {
    <shared-input-error [message]="getError('city')"></shared-input-error>
    }
  </div>

  <!-- País -->
  <div>
    <label for="country" class="block text-sm mb-1">País</label>
    <input id="country" formControlName="country" type="text" sharedInput>
    @if (hasError('country')) {
    <shared-input-error [message]="getError('country')"></shared-input-error>
    }
  </div>

  <!-- Calle y número interno y externo input -->
  <div class="col-span-2">
    <label for="streetAndExternalAndInternalNumber" class="block text-sm mb-1">Calle y número interno y externo</label>
    <input id="streetAndExternalAndInternalNumber" formControlName="streetAndExternalAndInternalNumber" type="text"
      sharedInput>
    @if (hasError('streetAndExternalAndInternalNumber')) {
    <shared-input-error [message]="getError('streetAndExternalAndInternalNumber')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button routerLink="/registro-exitoso-auto" routerLinkActive="router-link-active" class="mt-4" type="submit"
      [disabled]="isButtonSubmitDisabled()" [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Publicar
      }
    </button>
  </div>
</form>