<h1 class="font-optima text-4xl font-bold mb-8">Extras</h1>

<form [formGroup]="carExtrasForm" (ngSubmit)="carExtrasFormSubmit()" class="grid grid-cols-2 items-end gap-5">
  <div class="col-span-2">
    <label for="comments" class="block text-sm mb-2">Cuéntanos cualquier cosa extra que deba saber el comprador sobre este coche <span class="font-bold text-red-500 inline-block">*</span></label>
    <textarea id="comments" rows="6" name="comments" formControlName="comments" sharedInput sharedTextarea></textarea>
    @if (hasError('comments')) {
    <shared-input-error [message]="getError('comments')"></shared-input-error>
    }
  </div>

  <div class="col-span-2 mt-8">
    <div class="flex text-xs">
      <input id="termsConditionsAccepted" formControlName="termsConditionsAccepted" type="checkbox" class="h-4 w-4 mt-1">
      <label for="termsConditionsAccepted" class="ml-3 block leading-6">
        Acepto los <a class="underline">términos y condiciones</a>, <a class="underline">Aviso de privacidad</a> y
        <a class="underline">Acuerdos de usuarios.</a>
        <span class="font-bold text-red-500 inline-block">*</span></label>
    </div>
    @if (hasError('termsConditionsAccepted')) {
    <shared-input-error [message]="getError('termsConditionsAccepted')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="flex justify-center" type="submit" [disabled]="isButtonSubmitDisabled()" [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
      @if (isButtonSubmitDisabled()) {
      <shared-spinner></shared-spinner>
      } @else {
      Siguiente
      }
    </button>
  </div></form>
