<h1 class="font-optima text-4xl font-bold mb-8">Extras</h1>

<h2 class="text-xl font-bold mb-5">Extras del auto</h2>
<form [formGroup]="exteriorOfTheCarForm" (ngSubmit)="submitExteriorOfTheCarForm()" class="grid grid-cols-2 gap-5">
  <div>
    <fieldset>
      <legend class="block mb-2">Historial de servicios</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasServiceHistory" value="true" name="hasServiceHistory" type="radio" checked class="h-6 w-6">
          <label for="hasServiceHistory" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoServiceHistory" value="false" name="hasServiceHistory" type="radio" class="h-6 w-6">
          <label for="hasNoServiceHistory" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasServiceHistory')) {
    <shared-input-error [message]="getError('hasServiceHistory')"></shared-input-error>
    }
  </div>

  <!-- Manuales radio input-->
  <div>
    <fieldset>
      <legend class="block mb-2">Manuales</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasManuals" value="true" name="hasManuals" type="radio" checked class="h-6 w-6">
          <label for="hasManuals" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoManuals" value="false" name="hasManuals" type="radio" class="h-6 w-6">
          <label for="hasNoManuals" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasManuals')) {
    <shared-input-error [message]="getError('hasManuals')"></shared-input-error>
    }
  </div>

  <!-- Caja de herramienta radio input -->
  <div>
    <fieldset>
      <legend class="block mb-2">Caja de herramientas</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasToolBox" value="true" name="hasToolBox" type="radio" checked class="h-6 w-6">
          <label for="hasToolBox" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoToolBox" value="false" name="hasToolBox" type="radio" class="h-6 w-6">
          <label for="hasNoToolBox" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasToolBox')) {
    <shared-input-error [message]="getError('hasToolBox')"></shared-input-error>
    }
  </div>

  <!-- Llanta de refacción radio input -->
  <div>
    <fieldset>
      <legend class="block mb-2">Llanta de refacción</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasSpareTire" value="true" name="hasSpareTire" type="radio" checked class="h-6 w-6">
          <label for="hasSpareTire" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasSpareTire" value="false" name="hasSpareTire" type="radio" class="h-6 w-6">
          <label for="hasSpareTire" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasSpareTire')) {
    <shared-input-error [message]="getError('hasSpareTire')"></shared-input-error>
    }
  </div>

  <!-- Cubierta de auto radio input -->
  <div>
    <fieldset>
      <legend class="block mb-2">Cubierta de auto</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasCarCover" value="true" name="hasCarCover" type="radio" checked class="h-6 w-6">
          <label for="hasCarCover" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoCarCover" value="false" name="hasCarCover" type="radio" class="h-6 w-6">
          <label for="hasNoCarCover" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasCarCover')) {
    <shared-input-error [message]="getError('hasCarCover')"></shared-input-error>
    }
  </div>

  <!-- Máquina para inflar llanta radio input -->
  <div>
    <fieldset>
      <legend class="block mb-2">Máquina para inflar llanta</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasTireInflator" value="true" name="hasTireInflator" type="radio" checked class="h-6 w-6">
          <label for="hasTireInflator" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoTireInflator" value="false" name="hasTireInflator" type="radio" class="h-6 w-6">
          <label for="hasNoTireInflator" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasTireInflator')) {
    <shared-input-error [message]="getError('hasTireInflator')"></shared-input-error>
    }
  </div>

  <!-- Cargador de batería radio input -->
  <div>
    <fieldset>
      <legend class="block mb-2">Cargador de batería</legend>
      <div class="flex">
        <div class="flex">
          <input id="hasBatteryCharger" value="true" name="hasBatteryCharger" type="radio" checked class="h-6 w-6">
          <label for="hasBatteryCharger" class="ml-3 block font-bold">
            Sí
          </label>
        </div>
        <div class="flex ml-16">
          <input id="hasNoBatteryCharger" value="false" name="hasBatteryCharger" type="radio" class="h-6 w-6">
          <label for="hasNoBatteryCharger" class="ml-3 block font-bold">
            No
          </label>
        </div>
      </div>
    </fieldset>
    @if (hasError('hasTireInflator')) {
    <shared-input-error [message]="getError('hasTireInflator')"></shared-input-error>
    }
  </div>

  <!-- Número de llaves select -->
  <div class="col-span-2">
    <select id="numberOfKeys" name="numberOfKeys" formControlName="numberOfKeys" sharedInput>
      <option value disabled selected>Número de llaves</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    @if (hasError('numberOfKeys')) {
    <shared-input-error [message]="getError('numberOfKeys')"></shared-input-error>
    }
  </div>

  <!-- Otros textarea -->
  <div class="col-span-2">
    <textarea id="other" rows="4" name="other" placeholder="Otros" formControlName="other" sharedInput
      sharedTextarea></textarea>
    @if (hasError('other')) {
    <shared-input-error [message]="getError('other')"></shared-input-error>
    }
  </div>

  <div class="col-span-2 mt-4">
    <h2 class="text-xl font-bold">Información adicional</h2>
  </div>

  <!-- Cargos adicionales input -->
  <div>
    <input id="additionalCharges" name="additionalCharges" type="number" placeholder="Cargos adicionales"
      formControlName="additionalCharges" sharedInput>
    @if (hasError('additionalCharges')) {
    <shared-input-error [message]="getError('additionalCharges')"></shared-input-error>
    }
  </div>

  <!-- Monto del cargo $ -->
  <div>
    <input id="amountOfCharge" name="amountOfCharge" type="number" placeholder="Monto del cargo $"
      formControlName="amountOfCharge" sharedInput>
    @if (hasError('amountOfCharge')) {
    <shared-input-error [message]="getError('amountOfCharge')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button class="underline">Añadir otro cargo</button>
  </div>

  <!-- ¿Algo más que nos quisieras comentar de tu auto? textarea -->
  <div class="col-span-2">
    <textarea id="additionalComments" rows="6" name="additionalComments"
      placeholder="¿Algo más que nos quisieras comentar de tu auto?" formControlName="additionalComments" sharedInput
      sharedTextarea></textarea>
    @if (hasError('additionalComments')) {
    <shared-input-error [message]="getError('additionalComments')"></shared-input-error>
    }
  </div>

  <div class="col-span-2 mt-8">
    <div class="flex items-center text-xs">
      <input id="acceptTermsAndConditions" formControlName="acceptTermsAndConditions" type="checkbox" class="h-4 w-4">
      <label for="acceptTermsAndConditions" class="ml-3 block leading-6">
        Acepto los <a class="underline">términos y condiciones</a>, <a class="underline">Aviso de privacidad</a> y
        <a class="underline">Acuerdos de usuarios.</a>
      </label>
    </div>
    @if (hasError('acceptTermsAndConditions')) {
    <shared-input-error [message]="getError('acceptTermsAndConditions')"></shared-input-error>
    }
  </div>

  <div class="col-span-2">
    <button type="submit" [disabled]="isButtonSubmitDisabled()" [class.opacity-25]="isButtonSubmitDisabled()"
      sharedPrimaryButton>
      Siguiente
    </button>
  </div>
</form>