<section class="container mt-6 mb-24">
  <div class="grid grid-cols-2 w-fit mx-auto justify-center gap-x-4">
    <button px="px-12" py="py-2.5" sharedSecondaryButton>
      AUTOS
    </button>
    <button px="px-12" py="py-2.5" sharedSecondaryButton>
      ARTE
    </button>
  </div>

  <swiper-container class="mt-6" init="false" #carousel>
    @for (auction of auctions().data; track $index) {
    <swiper-slide class="relative">
      <img class="w-full h-56 md:h-[35rem] object-cover" [src]="auction.attributes.photos[0]" alt="imagen automóvil">
      @if (!isMobile) {
      <div class="text-white text-lg absolute bottom-0 pb-10 pl-20 pt-6 gradient w-full">
        <p class="font-optima text-3xl font-bold">
          {{auction.attributes.year}} {{auction.attributes.brand}} {{auction.attributes.model}}
        </p>
        <p>Oferta: {{ auction.attributes.lastBid | currency:'USD':'symbol':'1.0-2'
          }}&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;<countdown [config]="countdownConfig(auction)">
          </countdown>
        </p>
        {{auction.attributes.city}}, {{auction.attributes.state}}
      </div>
      }

      <follow-button [auctionId]="auction.originalAuctionCarId" [auctionType]="auctionType.car" class="absolute"
        [ngClass]="isMobile ? 'top-4 right-4' : 'bottom-10 right-20'">
      </follow-button>
    </swiper-slide>
    }
  </swiper-container>

  @if (auctions().data && isMobile) {
  <div class="text-lg w-full mt-4">
    <p class="font-optima text-3xl font-bold">{{auctions().data[currentIndex()].attributes.year}}
      {{auctions().data[currentIndex()].attributes.brand}}
      {{auctions().data[currentIndex()].attributes.model}}</p>
    <p>Oferta: {{auctions().data[currentIndex()].attributes.lastBid | currency:'USD':'symbol':'1.0-2'
      }}&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;<countdown [config]="countdownConfig(auctions().data[currentIndex()])">
      </countdown>
    </p>
    {{auctions().data[currentIndex()].attributes.city}}, {{auctions().data[currentIndex()].attributes.state}}
  </div>
  }
</section>

<section class="container">
  <h2 class="font-optima font-bold text-4xl mb-8">CATEGORÍAS</h2>

  <div class="grid grid-cols-1 gap-y-4 md:gap-y-0 md:grid-cols-2 md:gap-5 text-white">
    <div class="relative">
      <img class="w-full" src="assets/img/home/categorias/ferrari 1.png" alt="ferrari">
      <div class="absolute bottom-0 left-0 pl-12 pb-6 pt-8 gradient w-full">
        <p class="font-optima text-3xl font-semibold">Autos</p>
        <p class="text-lg">500 subastas en vivo</p>
      </div>
    </div>
    <div class="relative">
      <img class="w-full" src="assets/img/home/categorias/perritou.png" alt="perrito">
      <div class="absolute bottom-0 left-0 pl-12 pb-6 pt-8 gradient w-full">
        <p class="font-optima text-3xl font-semibold">Arte</p>
        <p class="text-lg">300 subastas en vivo</p>
      </div>
    </div>
  </div>
</section>

<section class="container mt-16">
  <h2 class="font-optima font-bold text-4xl">AUTOS EN VIVO</h2>

  <div class="flex mb-8">
    <a routerLink="/subastas-en-vivo" class="ml-auto underline font-optima font-semibold">Ver todo</a>
  </div>

  <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-6 lg:gap-y-0 lg:grid-cols-3 lg:gap-x-8">
    @for (auction of auctions().data; track $index) {
    <auction-card2 [auction]="auction"></auction-card2>
    }
  </div>
</section>

<section class="container mt-16 mb-32">
  <h2 class="font-optima font-bold text-4xl">Memorabilia</h2>

  <div class="flex mb-8">
    <p routerLink="/subastas-en-vivo" class="ml-auto underline font-optima font-semibold">Ver todo</p>
  </div>

  <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-6 lg:gap-y-0 lg:grid-cols-3 lg:gap-x-8">
    @for (memorabilia of memorabiliaAuctions().data; track $index) {
    <auction-memorabilia-card [auction]="memorabilia"></auction-memorabilia-card>
    }
  </div>
</section>