<div class="grid lg:hidden grid-flow-col gap-2 text-sm">
  <!-- En vivo  -->
  <a class="text-center py-4 text-gray-500" routerLink="/subastas-en-vivo">
    En vivo
  </a>
  <!-- Ultima oportunidad -->
  <a class="text-center py-4 text-gray-500" routerLink="/ultima-oportunidad">
    Ultima oportunidad
  </a>
  <!-- Resultados -->
  <a class="text-center py-4 text-gray-500" routerLink="/resultados">
    Resultados
  </a>
</div>
<swiper-container init="false" #carousel>
  <swiper-slide>
    <div class="bg-gray-900/65">
      <div class="relative overflow-hidden">
        <img src="assets/img/home/alfa_romeo.jpeg" alt=""
          class="hidden md:block absolute inset-0 -z-10 h-full w-full object-cover">
        <img src="assets/img/home/caar_vertical.jpeg" alt=""
          class="md:hidden absolute inset-0 -z-10 h-full w-full object-cover">
        <!-- <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true">
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-white to-white opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
          </div>
        </div> -->
        <div class="mx-auto max-w-2xl h-[calc(100vh-112px)] lg:h-[calc(100vh-93px)] flex items-center justify-center">
          <div class="text-center">
            <!-- <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
              CAART
            </h1> -->
            <img src="assets/img/home/logo_caart_auctions_blanco.png" alt="logo caart" class="w-48 mx-auto">
            <p class="my-6 text-xl mx-4 md:mx-auto md:text-3xl leading-8 text-gray-300">
              Reinventamos la experiencia de las subastas online
            </p>
            <div class="mt-14 flex items-center justify-center gap-x-6">
              <!-- subastas-en-vivo?tab=2 -->
              <button routerLink="/subastas-en-vivo" [queryParams]="{ tab: 2 }"
                class="min-w-32 rounded-md bg-transparent border border-white text-white px-3.5 py-2.5 font-semibold shadow-sm hover:bg-gray-400/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                Autos
              </button>

              <a routerLink="/subastas-en-vivo" [queryParams]="{ tab: 3 }"
                class="min-w-32 rounded-md bg-transparent border border-white text-white px-3.5 py-2.5 font-semibold shadow-sm hover:bg-gray-400/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                Arte
              </a>
              <!-- <a href="#" class="text-sm font-semibold leading-6 text-black bg-white">
                Arte <span aria-hidden="true">→</span></a> -->
            </div>
          </div>
        </div>
        <!-- <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true">
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-white to-white opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
          </div>
        </div> -->
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="hidden md:block">
    <div class="bg-gray-900/65">
      <div class="relative overflow-hidden">
        <img src="assets/img/home/banner2.jpeg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
        <!-- <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true">
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-white to-white opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
          </div>
        </div> -->
        <div class="mx-auto max-w-2xl h-[calc(100vh-112px)] lg:h-[calc(100vh-93px)] flex items-center justify-center">
          <div class="text-center">
            <!-- <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
              CAART
            </h1> -->
            <img src="assets/img/home/logo_caart_auctions_blanco.png" alt="logo caart" class="w-48 mx-auto">
            <p class="my-6 text-3xl leading-8 text-gray-300">
              Reinventamos la experiencia de las subastas online
            </p>
            <div class="mt-14 flex items-center justify-center gap-x-6">
              <!-- subastas-en-vivo?tab=2 -->
              <button routerLink="/subastas-en-vivo" [queryParams]="{ tab: 2 }"
                class="min-w-32 rounded-md bg-transparent border border-white text-white px-3.5 py-2.5 font-semibold shadow-sm hover:bg-gray-400/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                Autos
              </button>

              <a routerLink="/subastas-en-vivo" [queryParams]="{ tab: 3 }"
                class="min-w-32 rounded-md bg-transparent border border-white text-white px-3.5 py-2.5 font-semibold shadow-sm hover:bg-gray-400/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                Arte
              </a>
              <!-- <a href="#" class="text-sm font-semibold leading-6 text-black bg-white">
                Arte <span aria-hidden="true">→</span></a> -->
            </div>
          </div>
        </div>
        <!-- <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true">
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-white to-white opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
          </div>
        </div> -->
      </div>
    </div>
  </swiper-slide>
</swiper-container>

<!-- <section class="container mt-6 mb-24">
  <div class="grid grid-cols-2 w-fit mx-auto justify-center gap-x-4">
    <button px="px-12" py="py-2.5" sharedSecondaryButton>
      AUTOS
    </button>
    <button px="px-12" py="py-2.5" sharedSecondaryButton>
      ARTE
    </button>
  </div>

  <swiper-container class="mt-6" init="false" #carousel>
    @for (auction of auctions().data; track $index) {
    <swiper-slide class="relative">
      <img class="w-full h-56 md:h-[35rem] object-cover" [src]="auction.attributes.cover" alt="imagen automóvil">
      @if (!isMobile) {
      <div class="text-white text-lg absolute bottom-0 pb-10 pl-20 pt-6 gradient w-full">
        <p class="font-optima text-3xl font-bold">
          {{auction.attributes.year}} {{auction.attributes.brand}} {{auction.attributes.model}}
        </p>
        <p>Oferta: {{ auction.attributes.lastBid | currency:'USD':'symbol':'1.0-2'
          }}&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;<countdown [config]="countdownConfig(auction)">
          </countdown>
        </p>
        {{auction.attributes.city}}, {{auction.attributes.state}}
      </div>
      }

      <follow-button [auctionId]="auction.originalAuctionCarId" [auctionType]="auctionType.car" class="absolute"
        [ngClass]="isMobile ? 'top-4 right-4' : 'bottom-10 right-20'">
      </follow-button>
    </swiper-slide>
    }
  </swiper-container>

  @if (auctions().data && isMobile) {
  <div class="text-lg w-full mt-4">
    <p class="font-optima text-3xl font-bold">{{auctions().data[currentIndex()].attributes.year}}
      {{auctions().data[currentIndex()].attributes.brand}}
      {{auctions().data[currentIndex()].attributes.model}}</p>
    <p>Oferta: {{auctions().data[currentIndex()].attributes.lastBid | currency:'USD':'symbol':'1.0-2'
      }}&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;<countdown [config]="countdownConfig(auctions().data[currentIndex()])">
      </countdown>
    </p>
    {{auctions().data[currentIndex()].attributes.city}}, {{auctions().data[currentIndex()].attributes.state}}
  </div>
  }
</section> -->

<!-- TODO: descomentar cuando esté listo -->
<!-- <section class="container">
  <h2 class="font-optima font-bold text-4xl mb-8">CATEGORÍAS</h2>

  <div class="grid grid-cols-1 gap-y-4 md:gap-y-0 md:grid-cols-2 md:gap-5 text-white">
    <div class="relative">
      <img class="w-full" src="assets/img/home/categorias/ferrari 1.png" alt="ferrari">
      <div class="absolute bottom-0 left-0 pl-12 pb-6 pt-8 gradient w-full">
        <p class="font-optima text-3xl font-semibold">Autos</p>
        <p class="text-lg">500 subastas en vivo</p>
      </div>
    </div>
    <div class="relative">
      <img class="w-full" src="assets/img/home/categorias/perritou.png" alt="perrito">
      <div class="absolute bottom-0 left-0 pl-12 pb-6 pt-8 gradient w-full">
        <p class="font-optima text-3xl font-semibold">Arte</p>
        <p class="text-lg">300 subastas en vivo</p>
      </div>
    </div>
  </div>
</section> -->

<section class="container mt-8 md:mt-16">
  <div class="flex justify-between gap-x-2">
    <h2 class="font-optima font-bold text-xl md:text-4xl">SUBASTAS DEL MOMENTO</h2>
    <div class="flex mb-8">
      <a routerLink="/subastas-en-vivo" class="ml-auto underline font-optima font-semibold">Ver todo</a>
    </div>
  </div>

  <swiper-container init="false" #carousel2>
    @for (auction of auctions().data; track $index) {
    <swiper-slide>
      @switch (auction.type) {
      @case (auctionTypesAll.auctionsCar) {
      <auction-card [originalAuctionCarId]="auction.originalAuctionId" [cover]="auction.attributes.cover"
        [status]="auction.attributes.status" [title]="auction.attributes.title" [reserve]="auction.attributes.reserve"
        [premium]="auction.attributes.premium" [extract]="auction.attributes.extract"
        [lastBid]="auction.attributes.lastBid" [endDate]="auction.attributes.endDate"></auction-card>
      }
      @case (auctionTypesAll.auctionsArt) {
      <art-auction-card [originalAuctionArtId]="auction.originalAuctionId" [cover]="auction.attributes.cover"
        [status]="auction.attributes.status" [title]="auction.attributes.title" [reserve]="auction.attributes.reserve"
        [premium]="auction.attributes.premium" [extract]="auction.attributes.extract"
        [lastBid]="auction.attributes.lastBid" [endDate]="auction.attributes.endDate"></art-auction-card>
      }
      }
    </swiper-slide>
    }
  </swiper-container>

  <!-- <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-6 lg:gap-y-0 lg:grid-cols-3 lg:gap-x-8">
  </div> -->
</section>

<!-- <section class="container mt-16 mb-32">
  <h2 class="font-optima font-bold text-4xl">Memorabilia</h2>

  <div class="flex mb-8">
    <p routerLink="/subastas-en-vivo" class="ml-auto underline font-optima font-semibold">Ver todo</p>
  </div>

  <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-6 lg:gap-y-0 lg:grid-cols-3 lg:gap-x-8">
    @for (memorabilia of memorabiliaAuctions().data; track $index) {
    <auction-memorabilia-card [auction]="memorabilia"></auction-memorabilia-card>
    }
  </div>
</section> -->

<div class="container overflow-hidden py-24 sm:py-32">
  <div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Somos un empresa mexicana dedicada a subastar obras de arte y autos en línea.
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">
            Reinventamos la experiencia de las subastas a través de una
            plataforma digital accesible para todos. Nos especializamos en la curación y selección de cada pieza. En
            <b>CAART</b> puedes adquirir o vender objetos únicos.
          </p>

          <button (click)="openRegisterModal()" class="mt-10" width="w-fit" px="px-3.5" py="py-2.5"
            sharedPrimaryButton>¡Quiero registrarme!</button>

        </div>
      </div>
      <img src="assets/img/home/acerca-de-caart.jpg" alt="Product screenshot"
        class="rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-fit md:-ml-4 lg:-ml-0">
    </div>
  </div>
</div>

<register-modal [isOpen]="registerModalIsOpen"></register-modal>