<div [routerLink]="['/subasta', auction().originalAuctionCarId]" class="relative cursor-pointer">
  <img class="w-full h-64 object-cover" [src]="auction().attributes.photos[0]" alt="">
  <follow-button [auctionId]="auction().originalAuctionCarId" class="absolute top-3 right-5">
  </follow-button>

  <div class="mt-4">
    <p class="font-optima font-semibold text-xl">
      {{auction().attributes.year}} {{auction().attributes.brand}} {{auction().attributes.model}}
    </p>
    <p>Oferta: {{ auction().attributes.lastBid | currency:'USD':'symbol':'1.0-2' }}
      MXN&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;<countdown
        [ngClass]="{'text-red-500': countdownConfig(auction()).leftTime! <= 86400}"
        [config]="countdownConfig(auction())">
      </countdown>
      <br>
      <span class="text-gray4">{{auction().attributes.city}}, {{auction().attributes.state}}</span>
  </div>
</div>