<section class="container mt-16">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">CAART</h1>

  <p class="text-center font-optima font-bold text-3xl">Reestablecer contraseña</p>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md mb-8">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="space-y-6">
      <div>
        <label for="password" class="block mb-1 text-sm">Nueva contraseña <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <div class="relative">
          <input id="password" formControlName="newPassword" autocomplete="new-password"
            [type]="showPassword1() ? 'text' : 'password'" sharedInput>
          <div class="absolute flex h-full items-center top-0 right-4">
            <mat-icon class="cursor-pointer" (click)="toggleShowPassword(showPassword1)">
              {{showPassword1() ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </div>
        </div>
        @if (hasError('newPassword')) {
        <shared-input-error [message]="getError('newPassword')"></shared-input-error>
        }
      </div>

      <div>
        <label for="password2" class="block mb-1 text-sm">Confirmar nueva contraseña <span
            class="font-bold text-red-500 inline-block">*</span></label>
        <div class="relative">
          <input id="password2" formControlName="confirmPassword" autocomplete="new-password"
            [type]="showPassword2() ? 'text' : 'password'" sharedInput>
          <div class="absolute flex h-full items-center top-0 right-4">
            <mat-icon class="cursor-pointer" (click)="toggleShowPassword(showPassword2)">
              {{showPassword2() ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </div>
        </div>
        @if (hasError('confirmPassword')) {
        <shared-input-error [message]="getError('confirmPassword')"></shared-input-error>
        }
      </div>

      <button class="inline-flex justify-center items-center" type="submit" [disabled]="resetPasswordButtonIsDisabled()"
        [class.opacity-50]="resetPasswordButtonIsDisabled()" sharedPrimaryButton>
        @if (resetPasswordButtonIsDisabled()) {
        <shared-spinner></shared-spinner>
        } @else {
        Restablecer Contraseña
        }
      </button>

    </form>
  </div>

</section>