<div class="bg-white pt-4 pb-2">
  <div class="container">
    @defer (when auction().data) {
    <h1 class="font-lato font-black text-2xl md:text-4xl">
      <span class="inline align-middle"
        [ngClass]="{'mr-4': auction().data.attributes.isWithReserve === false || auction().data.attributes.premium}">
        {{auction().data.attributes.title}}
      </span>

      @if (auction().data.attributes.isWithReserve === false) {
      <no-reserve-tag-component class="inline-flex align-middle"
        [ngClass]="{'mr-2': auction().data.attributes.premium === true}"></no-reserve-tag-component>
      }

      @if (auction().data.attributes.premium === true) {
      <div
        class="inline-block align-middle text-xs md:text-sm w-fit bg-[gainsboro] text-black px-2 md:px-4 py-1 rounded-2xl border-black border-2">
        Premium
      </div>
      }
    </h1>
    }

    <div class="flex w-full justify-between mt-1">
      <div
        class="grid items-center text-xs md:text-xl gap-3 grid-flow-col lg:grid-cols-3 lg:gap-x-4 md:gap-y-0 w-fit divide-x divide-gray3">
        @defer (when specificAuction().data) {
        @if (specificAuction().data.status === 'completed') {
        <div class="py-1">
          {{specificAuction().data.winnerInfo.amount | currency:'USD':'symbol':'1.0-2'}} MXN
          <!-- <p class="text-sm">
            Vendido en
          </p> -->
        </div>
        } @else {
        @if(specificAuction().data.bids.length > 0) {
        <div class="py-1 leading-5">
          <p>
            {{specificAuction().data.bids[0].bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
          </p>
          @if (specificAuction().data.bids[0].userId === null && specificAuction().data.status ===
          auctionCarStatus.Preview) {
          <span class="text-sm">Precio de salida</span>
          }
        </div>
        }
        }

        @if (specificAuction().data.status !== 'completed' && specificAuction().data.bids[0].userId !== null) {
        <div class="py-1" [ngClass]="{'pl-4': specificAuction().data.bids.length > 0}">
          <p class="inline lg:block">
            <span class="font-bold">{{specificAuction().data ? specificAuction().data.bids.length - 1 : 0}}</span>
            Ofertas
          </p>
        </div>
        }
        }

        @if (auction().data) {
        @switch (auction().data.attributes.status) {
        @case (auctionCarStatus.Preview) {
        <div class="pl-4">{{auction().data.attributes.daysActive}} días</div>
        }

        @case (auctionCarStatus.Active) {
        @if (countdownConfig().leftTime! > 0) {
        <div>
          <div class="ml-4">
            <countdown class="text-red2 font-bold text-sm md:text-xl" [config]="countdownConfig()"
              [ngClass]="{'text-red-500': countdownConfig().leftTime! <= 86400}"></countdown>
            <br>
          </div>
        </div>
        }
        }
        }
        }

        @defer (when specificAuction().data) {
        @switch (specificAuction().data.status) {
        @case ('cancelled') {
        <div class="py-1">
          <p class="font-bold ml-4 border border-red-700 bg-[#f0aeae] text-red-700 px-6 py-1 rounded-xl">
            Reserva no alcanzada
          </p>
        </div>
        }
        @case ('completed') {
        <div class="py-1">
          <p class="font-bold ml-4 border border-green-700 bg-[#b6f0ae] text-green-700 px-6 py-1 rounded-2xl w-fit">
            Vendido
          </p>
        </div>
        }
        }
        }
      </div>
      <div class="flex lg:grid lg:grid-flow-col gap-x-2 md:gap-x-4 gap-y-4 items-center md:text-center">
        <!-- <div class="ml-auto">
          <img class="inline-block w-5 h-5 md:w-7 md:h-7" src="assets/img/icons/share.svg" alt="">
        </div> -->
        <button (click)="followOrUnfollowAuction(auction().data.attributes.originalAuctionCarId)">
          <shared-star [shouldFill]="isFollowing() ? true : false"
            classes="inline-block w-5 h-5 md:w-7 md:h-7"></shared-star>
        </button>
        <div class="col-span-2 md:col-span-1">
          @defer (when specificAuction().data) {
          @if (specificAuction().data.status === 'active') {
          <button (click)="openMakeAnOfferModal()" rounded="rounded-xl" px="px-3 md:px-6" py="py-2 md:py-3.5"
            width="w-fit" class="font-lato font-semibold text-xxs md:text-xs" sharedPrimaryButton>
            OFERTAR
          </button>
          }
          }
        </div>
      </div>
    </div>
  </div>
</div>