@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

@import "../node_modules/@uppy/core/dist/style.css";
@import "../node_modules/@uppy/dashboard/dist/style.css";

@import "../node_modules/@uppy/drag-drop/dist/style.min.css";

@tailwind base;

@layer base {
  .no-tailwindcss-base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: revert;
      font-weight: revert;
    }

    ol,
    ul {
      list-style: revert;
      margin: revert;
      padding: revert;
    }

    img {
      display: initial;
    }
  }
}

@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  background-image: url(./assets/img/shared/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-Roman.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-DemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-Black.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "optima";
  src: url("/assets/fonts/OptimaLTPro-ExtraBlack") format("opentype");
  font-weight: 900;
  font-display: swap;
}

.custom-border {
  background: linear-gradient(90deg, #B2862C 0%, #F3E37D 100%);
}

.uppy-Dashboard-AddFiles-title {
  font-family: "optima";
}

.uppy-Dashboard-AddFiles-title {
  position: absolute;
}

.uppy-size--md .uppy-Dashboard-inner {
  width: 100% !important;
}

.mat-mdc-form-field[name="mat-form-field1"] {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    @apply bg-transparent;
  }

  .mdc-line-ripple {
    @apply hidden;
  }

  .mat-mdc-text-field-wrapper {
    @apply border rounded-lg;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    @apply text-black text-sm;
  }

  .mat-mdc-select {
    @apply text-sm;
  }

  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    @apply hidden;
  }
}

.mat-mdc-option[name="mat-option1"] {
  .mdc-list-item__primary-text {
    @apply text-sm !important;
  }
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.mat-mdc-form-field[name="mat-form-field1"] {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    @apply bg-gray1;
  }

  .mdc-line-ripple {
    @apply hidden;
  }

  .mat-mdc-select-trigger {
    @apply max-h-fit;
    -webkit-font-smoothing: auto;
  }

  .mdc-text-field {
    @apply px-3;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    @apply text-black;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    @apply py-[11.75px];
  }

  .mat-mdc-form-field-infix {
    @apply min-h-fit;
  }

  .mat-mdc-select {
    @apply text-sm;
  }

  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    @apply hidden;
  }
}