<section class="container {{mt}}">
  <h1 class="text-center font-optima font-bold text-4xl mb-6">CAART</h1>

  <p class="text-center font-optima font-bold text-3xl">Bienvenido/a de vuelta</p>


  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md {{mb}}">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
      <div>
        <label for="email" class="block mb-1 text-sm">Correo electrónico</label>
        <input id="email" formControlName="email" autocomplete="email" type="email" sharedInput>
        @if (hasError('email')) {
        <shared-input-error [message]="getError('email')"></shared-input-error>
        }
      </div>
      <div>
        <label for="password" class="block mb-1 text-sm">Contraseña</label>
        <div class="relative mt-1">
          <input id="password" formControlName="password" autocomplete="current-password" type="password" #passwordInput
            sharedInput>
          <div class="absolute inset-y-0 right-0 flex items-center px-2">
            <button (click)="togglePassword()" type="button"
              class="text-sm font-bold underline text-pgray relative focus:after:hidden">
              {{ showPassword() ? 'Ocultar' : 'Mostrar'}}
            </button>
          </div>
        </div>
        @if (hasError('password')) {
        <shared-input-error [message]="getError('password')"></shared-input-error>
        }

        @if (errorMessage() && !hasError('password')) {
        <shared-input-error [message]="errorMessage()"></shared-input-error>
        }
        <p class=" text-lg mt-2 underline">¿Ólvidaste tu contraseña?</p>
      </div>

      <button class="inline-flex justify-center items-center" type="submit" [disabled]="isButtonSubmitDisabled()"
        [class.opacity-50]="isButtonSubmitDisabled()" sharedPrimaryButton>
        @if (isButtonSubmitDisabled()) {
        <shared-spinner></shared-spinner>
        } @else {
        Iniciar sesión
        }
      </button>

      <div class="text-center">
        <span>¿No tienes cuenta en CAART?</span>&nbsp;&nbsp;&nbsp;<button type="button" (click)="openRegisterModal()"
          class="font-bold underline">Regístrate</button>
      </div>
    </form>
  </div>

</section>