@switch (source()) {
@case (favoritesSource.liveAuction) {
<span class="absolute top-3 left-5 bg-orange-500 text-white px-2 py-1 rounded-md text-sm">
  En vivo
</span>
}

@case (favoritesSource.lastChance) {
<span class="absolute top-3 left-5 bg-orange-500 text-white px-2 py-1 rounded-md text-sm">
  Última oportunidad
</span>
}

@case (favoritesSource.completedAuction) {
<span class="absolute top-3 left-5 bg-orange-500 text-white px-2 py-1 rounded-md text-sm">
  Vendido
</span>
}

@case (favoritesSource.comingSoon) {
<span class="absolute top-3 left-5 bg-orange-500 text-white px-2 py-1 rounded-md text-sm">
  Próximamente
</span>
}
}