<div class="container mt-4 mb-32">
  @defer (when auction().auctionCar) {
  <section>
    <!-- <div class="flex items-center"> -->
    <h1 class="font-optima font-semibold inline-block text-3xl mr-4">
      {{auction().auctionCar.year}} {{auction().auctionCar.brand}}
      {{auction().auctionCar.carModel}}
    </h1>

    <span class="space-x-2 inline-block">
      @if (auction().auctionCar.reserve === false) {
      <span class="inline-block text-sm w-fit bg-green1/30 text-green1 px-4 py-1 rounded">
        Sin Reserva
      </span>
      }
      <!-- @if (auction().premium) {
      <span class="inline-block text-sm w-fit bg-black/30 text-black px-4 py-1 rounded">
        Premium
      </span>
      } -->
    </span>
    <!-- </div> -->

    <div class="grid gap-y-4 lg:flex md:justify-between mb-4 mt-8">
      <div class="grid gap-4 grid-cols-2 md:gap-x-8 md:gap-y-0 md:grid-cols-3 w-fit">
        <div>
          <p class="font-bold text-xl">
            {{auction().lastChanceAuction.reserveAmount | currency:'USD':'symbol':'1.0-2'}} MXN
          </p>
          <span class="text-gray4 text-sm">Precio de venta</span>
        </div>
        <!-- <div class="py-1">
          @if(specificAuction().data && specificAuction().data.bids.length > 0) {
          <p class="font-bold text-lg">
            {{specificAuction().data.bids[0].bidAmount | currency:'USD':'symbol':'1.0-2'}} MXN
          </p>
          }
          <span class="text-gray4 text-sm">Oferta actual</span>
        </div>
        <div>
          <div class="bg-gray1 rounded-lg px-3 py-1">
            <countdown class="text-red2 text-lg font-bold" [config]="countdownConfig()"
              [ngClass]="{'text-red-500': countdownConfig().leftTime! <= 86400}"></countdown>
            <br>
            <span class="text-gray4 text-sm">
              {{auction().endDate | date:'MMM d, y, h:mm
              a'}}
            </span>
          </div>
        </div>
        <div>
          <div class="py-1">
            @if (specificAuction().data) {
            <p class="font-bold text-lg">{{specificAuction().data.bids.length}}</p>
            }
            <span class="text-gray4 text-sm">Ofertas</span>
          </div>
        </div> -->
      </div>

      <div class="grid grid-cols-2 md:grid-flow-col gap-x-4 gap-y-4 items-center md:text-center">
        <div>
          <img class="inline-block mr-2 w-7 h-7" src="assets/img/icons/share.svg" alt="">
          <span class="underline">Compartir</span>
        </div>
        <button (click)="followOrUnfollowAuction(auction().carHistory.originalAuctionCarId)">
          <shared-star [shouldFill]="isFollowing() ? true : false" classes="inline-block mr-2 w-7 h-7"></shared-star>
          <span class="underline">
            {{isFollowing() ? 'Dejar de seguir' : 'Seguir'}}
          </span>
        </button>
        <div class="col-span-2 md:col-span-1">
          <button rounded="rounded-xl" px="px-6" width="w-fit" class="font-optima font-semibold mb-2 md:mb-0"
            sharedTertiaryButton>
            HACER UNA OFERTA
          </button>
          <button (click)="openMakeAnOfferModal()" rounded="rounded-xl" px="px-6" width="w-fit"
            classes="font-optima font-semibold text-sm md:ml-4" sharedPrimaryButton>
            COMPRAR AHORA
          </button>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-7">
        <div class="flex h-full">
          <a class="w-full flex" [href]="auction().auctionCar.photos[0]" data-fancybox="gallery">
            <img class="object-cover w-full md:max-h-60 lg:max-h-80 xl:max-h-[30rem] 2xl:max-h-[35rem]"
              [src]="auction().auctionCar.photos[0]" alt="">
          </a>
        </div>
      </div>
      <div class="hidden col-span-5 md:grid grid-cols-2 gap-4">
        <a class="flex" [href]="auction().auctionCar.photos[1]" data-fancybox="gallery">
          <img class="object-cover" [src]="auction().auctionCar.photos[1]" alt="">
        </a>
        <a class="flex" [href]="auction().auctionCar.photos[2]" data-fancybox="gallery">
          <img class="object-cover" [src]="auction().auctionCar.photos[2]" alt="">
        </a>
        <!-- <a class="flex" [href]="auction().auctionCar.photos[3]" data-fancybox="gallery">
          <img class="object-cover" [src]="auction().auctionCar.photos[3]" alt="">
        </a>
        <a class="flex" [href]="auction().auctionCar.photos[4]" data-fancybox="gallery">
          <img class="object-cover" [src]="auction().auctionCar.photos[4]" alt="">
        </a> -->
        <a class="flex" [href]="auction().auctionCar.photos[3]" data-fancybox="gallery">
          <img class="object-cover" [src]="auction().auctionCar.photos[3]" alt="">
        </a>
        <a class="flex h-full relative" [href]="auction().auctionCar.photos[4]" data-fancybox="gallery">
          <div class="flex absolute inset-0 overflow-hidden">
            <img class="object-cover" [src]="auction().auctionCar.photos[4]" alt="">
          </div>
          <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
          <div class="absolute inset-0 flex justify-center items-center underline text-white text-xs lg:text-sm">
            Ver todas las fotos ({{auction().auctionCar.photos.length}})
          </div>
        </a>
        @for (item of auction().auctionCar.photos.slice(5); track $index) {
        <a class="hidden" [href]="item" data-fancybox="gallery">
          <img class="object-cover" [src]="item" alt="">
        </a>
        }
        <!-- <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
          <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
        </a>
        <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
          <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
        </a>
        <a class="hidden" href="assets/img/home/carousel/banner.png" data-fancybox="gallery">
          <img class="object-cover" src="assets/img/home/carousel/banner.png" alt="">
        </a> -->
      </div>
    </div>
  </section>
  }

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-7">
      <section class="flex justify-between mt-8">
        <div class="underline">5 Comentarios</div>

        @defer (when metrics().data) {
        <div class="text-gray4 text-sm flex space-x-4">
          <div class="flex items-center">
            <img class="mr-2" src="assets/img/icons/eye-outline.svg">
            {{metrics().data.attributes.visualizations | number}}
          </div>
          <div class="flex items-center">
            <shared-star class="mr-2" classes="text-gray4 w-5 h-5"></shared-star>
            {{metrics().data.attributes.followedCount | number}}
          </div>
        </div>
        }
      </section>

      <hr class="my-4">

      @defer (when auction().auctionCar) {
      <section class="grid grid-cols-1 xs:grid-cols-2 gap-4">
        <ul class="space-y-1">
          <li>
            <span class="text-gray4">Marca:</span>&nbsp;<span
              class="font-semibold">{{auction().auctionCar.brand}}</span>
          </li>
          <li>
            <span class="text-gray4">Modelo:</span>&nbsp;<span
              class="font-semibold">{{auction().auctionCar.carModel}}</span>
          </li>
          <li>
            <span class="text-gray4">Año:</span>&nbsp;<span class="font-semibold">{{auction().auctionCar.year}}</span>
          </li>
          <li>
            <span class="text-gray4">VIN:</span>&nbsp;<span class="font-semibold">ZFHGSRUKS0083738</span>
          </li>
        </ul>

        <ul class="space-y-1">
          <li>
            <!-- <span class="text-gray4">Km:</span>&nbsp;<span class="font-semibold">19,914</span> -->
            <span class="text-gray4">Km:</span>&nbsp;<span class="font-semibold">{{auction().auctionCar.kmInput |
              number}}</span>
          </li>
          <li>
            <span class="text-gray4">Transmisión:</span>&nbsp;<span
              class="font-semibold">{{auction().auctionCar.transmissionType}}</span>
          </li>
          <li>
            <span class="text-gray4">Color:</span>&nbsp;<span
              class="font-semibold">{{auction().auctionCar.exteriorColor}}</span>
          </li>
          <li>
            <span class="text-gray4">Entregado en:</span>&nbsp;<span class="font-semibold">CDMX, México</span>
          </li>
        </ul>
      </section>
      }

      <hr class="my-6">

      @defer (when auction().carHistory) {
      <section>
        <div [innerHTML]="auction().carHistory.content"></div>
      </section>
      }

      <section>
        <h2 class="text-xl font-bold mt-8 mb-6">Galería de video</h2>
        <swiper-container init="false" #videoGallery>
          @for (item of [].constructor(6); track $index) {
          <swiper-slide class="pb-12">
            <a href="https://www.youtube.com/watch?v=SWLz4GQZW2I" data-fancybox="gallery2">
              <img src="assets/img/home/carousel/banner.png" alt="">
            </a>
          </swiper-slide>
          }
        </swiper-container>
      </section>

      @defer (when auction().auctionCar) {

      <section class="mt-12">
        <h2 class="text-xl font-bold mb-6">Galería de fotos exteriores</h2>

        <image-gallery [photos]="auction().exteriorDetails.exteriorPhotos"></image-gallery>
      </section>

      <section class="mt-12">
        <h2 class="text-xl font-bold mb-6">Galería de fotos interiores</h2>

        <image-gallery [photos]="auction().interiorDetails.interiorPhotos"></image-gallery>
      </section>

      <section class="mt-12">
        <h2 class="text-xl font-bold mb-6">Galería de fotos mecánicas</h2>

        <image-gallery [photos]="auction().mechanicsDetails.mechanicsPhotos"></image-gallery>
      </section>

      <section class="shadow mt-12 rounded-xl border border-gray3 px-6 py-6">
        <h2 class="font-semibold text-xl">Resumen de la subasta</h2>

        <hr class="my-4">

        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="flex items-center md:col-span-4 lg:col-span-3 text-gray4 mr-2 md:mr-0">
            Oferta actual:
          </div>
          <!-- @if (auction().bids.length > 0) {
          <span class="col-span-8 lg:col-span-9 font-semibold">
            {{auction().bids[auction().bids.length-1].bidAmount |
            currency:'USD':'symbol':'1.0-2'}}
            MXN
          </span>
          } -->
        </div>

        <hr class="my-4">

        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="flex items-center md:col-span-4 lg:col-span-3 text-gray4 mr-2 md:mr-0">
            Tiempo restante:
          </div>
          <!-- <countdown class="col-span-8 lg:col-span-9 font-semibold text-red2" [config]="countdownConfig2()"
            [ngClass]="{'text-red-500': countdownConfig2().leftTime! <= 86400}"></countdown> -->
        </div>

        <hr class="my-4">

        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="flex items-center md:col-span-4 lg:col-span-3 text-gray4 mr-2 md:mr-0">
            Termina en:
          </div>
          <!-- <div class="col-span-8 lg:col-span-9">
            <span class="font-semibold inline mr-4 lg:mr-12">
                Miercoles, Noviembre 15 a la 18:00 PM
              </span>
            <span class="font-semibold inline mr-4 lg:mr-12">
              {{auction().endDate | date:'MMM d, y, h:mm
              a'}}
            </span>
            <img class="inline align-bottom" src="assets/img/icons/notifications-outline.svg" alt="">
            <span class="underline">Recuerdame por correo</span>
          </div> -->
        </div>

        <hr class="my-4">

        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="inline md:flex md:items-center md:col-span-4 lg:col-span-3 text-gray4 mr-2 md:mr-0">
            Ofertas:
          </div>
          <!-- <span class="col-span-8 lg:col-span-9 font-semibold">3</span> -->
          <!-- <span class="col-span-8 lg:col-span-9 font-semibold">{{auction().bids.length}}</span> -->
        </div>

        <hr class="my-4">

        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="flex items-center md:col-span-4 lg:col-span-3 text-gray4 mr-2 md:mr-0">
            Haz una oferta:
          </div>
          <div class="col-span-8 lg:col-span-9 font-semibold">
            <div class="lg:flex gap-4">
              <input class="font-normal" type="text" placeholder="Oferta $1,700,000 o más" sharedInput>
              <button width="w-fit lg:w-[14rem]" px="px-6" py="py-1" classes="text-xs xl:text-sm h-12 mt-2 lg:mt-0"
                sharedPrimaryButton>
                HACER OFERTA
              </button>
            </div>
          </div>
        </div>

        <hr class="my-4">

        @defer (when metrics().data) {
        <div class="lg:flex lg:justify-between">
          <div class="md:flex md:items-center md:space-x-4 md:divide-x md:divide-gray3">
            <div class="underline">¿Cómo funciona?</div>
            <div class="mt-2 md:mt-0 md:pl-4 text-sm text-gray4">
              <img class="inline mr-2" src="assets/img/icons/eye-outline.svg">
              {{metrics().data.attributes.visualizations | number}} visualizaciones
            </div>
            <div class="md:pl-4 text-sm text-gray4">
              <shared-star class="inline mr-2" classes="inline text-gray4 w-5 h-5"></shared-star>
              {{metrics().data.attributes.followedCount | number}} seguidos
            </div>
          </div>

          <div class="mt-4 lg:mt-0 w-fit ml-auto mr-auto flex items-center">
            <img class="inline mr-2 w-6 h-6" src="assets/img/icons/share.svg" alt="">
            <span class="underline align-middle">Compartir</span>
          </div>
        </div>
        }
      </section>

      <section class="mt-12">
        @defer (when comments().data) {
        <h3 class="text-xl font-bold mb-6">{{comments().data.length}} Comentarios</h3>
        }

        @defer (when auction().auctionCar) {
        <comments-textarea [auctioneerUserId]="auction().auctionCar.userId" [auctionType]="auctionType.car"
          [auctionCarPublishId]="auction().carHistory.originalAuctionCarId" placeholder="Agregar un comentario"
          (commentCreated)="getComments()"></comments-textarea>
        }

        <div class="mt-4">
          <img class="inline mr-2" src="assets/img/icons/notifications-outline.svg" alt="">
          <span class="underline">Mantenme en la conversación por correo</span>
        </div>

        @for (comment of comments().data; track $index) {
        <comment [comment]="comment" [auctionCarPublishId]="auction().carHistory.originalAuctionCarId"
          [auctionType]="auctionType.car" (commentCreated)=" getComments()"></comment>
        }

        <!-- <div class="md:grid md:grid-cols-12 md:gap-x-4 md:gap-y-6 mt-16">
          <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
            Nov 15 a las 03:38 PM
          </div>
          <div class="md:col-span-9 mb-4 md:mb-0">
            <div class="px-2 py-1 rounded-lg bg-gray1">
              <p class="font-semibold">John Smith (Vendedor)</p>
              <p>19,914 km</p>
              <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
              <span class="align-middle">2</span>
            </div>
          </div>

          <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
            Nov 15 a las 02:54 PM
          </div>
          <div class="md:col-span-9 mb-4 md:mb-0">
            <div class="px-2 py-1">
              <p class="font-semibold">Andrés Gallardo</p>
              <p>¿Qué kilometraje tiene el auto?</p>
              <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
              <span class="align-middle">0</span>
            </div>
          </div>

          <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
            Nov 15 a las 02:38 PM
          </div>
          <div class="md:col-span-9 mb-4 md:mb-0">
            <div class="px-2 py-1 rounded-lg bg-gray1 bg-green1/30">
              Nueva puja de $215,000 por Adam Smith
            </div>
          </div>

          <div class="md:col-span-3 md:px-2 md:py-1 text-sm">
            Nov 15 a las 11:43 AM
          </div>
          <div class="md:col-span-9 mb-4 md:mb-0">
            <div class="px-2 py-1">
              <p class="font-semibold">Andrés Gallardo</p>
              <p>El color es magnifico</p>
              <img class="inline mr-2" src="assets/img/icons/thumbs-up-outline.svg" alt="">
              <span class="align-middle">0</span>
            </div>
          </div>
        </div> -->
      </section>
      }

      <recently-completed-auctions [auctionId]="auctionId()!"></recently-completed-auctions>
    </div>
    <div class="col-span-12 md:col-span-5">
      <section class="shadow mt-8 max-w-[22rem] xl:max-w-md rounded-xl border border-gray3 px-6 py-6 ml-auto">
        <h3 class="font-semibold mb-2">Información adicional</h3>

        <ul class="list-inside list-disc text-gray4">
          <li>Rines “X”</li>
          <li>Faros “X”</li>
          <li>Adaptación “X”</li>
          <li>Llanta “X”</li>
          <li>Polarizado “X”</li>
        </ul>

        <h3 class="font-semibold mt-4 mb-2">Vista general de Lote</h3>

        <ul class="space-y-1">
          <li>
            <span class="text-gray4">Lote #:</span>&nbsp;<span class="font-semibold">23456</span>
          </li>
          <li>
            <span class="text-gray4">Ubicación:</span>&nbsp;<span class="font-semibold">CDMX, México</span>
          </li>
        </ul>

        <div class="my-4">
          <img class="inline-block mr-2" src="assets/img/icons/person-circle-outline.svg" alt="">
          <span class="align-middle">John Smith</span>
        </div>

        <div>
          <p class="text-gray4 inline-block">Tipo de vendedor:</p>&nbsp;<span class="font-semibold">Privado</span>
        </div>

        <h3 class="font-semibold mt-4 mb-2">Cargos adicionales</h3>

        <ul class="list-inside list-disc text-gray4 mb-8">
          <li>Tenencia: $1,000 MXN</li>
          <li>Comisión dealer: $3,100 MXN</li>
        </ul>

        <p class="font-bold mb-2">Compralo ahora por</p>
        @defer (when auction().lastChanceAuction) {
        <span class="block mb-4 text-2xl font-semibold">{{auction().lastChanceAuction.reserveAmount |
          currency:'USD':'symbol':'1.0-2'}}
          MXN</span>
        }

        <button (click)="openMakeAnOfferModal()" classes="font-optima font-semibold" sharedPrimaryButton>
          COMPRAR AHORA
        </button>
        <button class="font-optima font-semibold mt-4" sharedTertiaryButton>
          HACER UNA OFERTA
        </button>
      </section>

      <section class="shadow mt-8 max-w-[22rem] xl:max-w-md rounded-xl border border-gray3 px-6 py-6 ml-auto">
        <h3 class="font-semibold mb-6">¿Tienes un auto y quieres venderlo?</h3>

        <button classes="font-optima font-semibold" sharedPrimaryButton>VENDE CON NOSOTROS</button>
      </section>


      <current-auctions [auctionId]="auctionId()"></current-auctions>
    </div>
  </div>
</div>

<!-- @if (makeAnOfferModalIsOpen()) {
<auction-make-an-offer-modal [auctionId]="auction().data.id" [paymentMethods]="paymentMethods()"
  (offerMade)="getSpecificAuctionDetails()" [isOpen]="makeAnOfferModalIsOpen"></auction-make-an-offer-modal>
} -->

<payment-method-modal (paymentMethodAdded)="refreshPaymentMethods()"
  [isOpen]="paymentMethodModalIsOpen"></payment-method-modal>